<style>
	.article-wrapper.sportfile {
		padding: 0;
	}
	.article-headline,
	.article-subheadline,
	.article-byline {
		display:none !important;
	}
	.stickyLeaderboard {
		display: none;
	}
</style>
<iframe frameborder="0" id="raycomsports" scrolling="no" src="http://www.raycomsports.com/theacc/legends/main" style="width: 100%; margin-top: 30px;"></iframe><script>// <![CDATA[
$(document).ready(function() {
			//$(window).load(function() {

				if(window.location.hostname == 'www.theacc.com') {
					window.location.href = 'http://theacc.com'+window.location.pathname;
				}
				
				// reference to iframe
				var $raycomsports = $('#raycomsports');

				/* set iframe source
				------------------------------------*/

				function getParameterByName(name) {
				    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
				    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
				        results = regex.exec(location.search);
				    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
				}
				
				var legend = getParameterByName('legend');
				var legendSport = getParameterByName('sport');
				var legendYear = getParameterByName('year');
				
				if(legend.length > 0) {
					$raycomsports.attr('src', 'http://www.raycomsports.com/theacc/legends/legend/'+legend );
				}

				if(legendSport.length > 0 && legendYear.length > 0) {
					if(legendSport == 'm-footbl') {
						$raycomsports.attr('src', 'http://www.raycomsports.com/theacc/legends/accLegends/46/'+legendYear);
					} else if(legendSport == 'm-baskbl') {
						$raycomsports.attr('src', 'http://www.raycomsports.com/theacc/legends/accLegends/49/'+legendYear);
					} else if(legendSport == 'w-baskbl') {
						$raycomsports.attr('src', 'http://www.raycomsports.com/theacc/legends/accLegends/50/'+legendYear);
					} else {
						$raycomsports.attr('src', 'http://www.raycomsports.com/theacc/legends/main' );
					}
				} 

				/* set iframe height
				------------------------------------*/

			  function receiveMessage(e) {
			    if (e.origin !== "http://www.raycomsports.com") {
			      return;
			    }
					$('html,body').animate({scrollTop: 0}, 0);
			    $raycomsports.attr('height', e.data + 'px');
			  }

				$.holdReady( true );
				$('#raycomsports').load(function() {
				    $.holdReady( false );
				});

			  // Setup an event listener that calls receiveMessage() when the window receives a new MessageEvent.
			  window.addEventListener('message', receiveMessage);

			});
// ]]></script>