<style>
	.columns img {
		margin: 0 auto 10px auto;
	}
	ul {
		list-style: none;
	}
</style>
<div class="row" style="margin-bottom:40px;">
	<div class="small-12 columns" style="text-align: center;">
		<h2>Sponsorship Platforms</h2>
		<img src="http://theacc.com/images/2018/4/9/sales-wheel.png">
		<div style="max-width:500px;margin: 0 auto;">
			<p>The ACC Network reaches passionate ACC fans across the country.</p>
			<p>Opportunities available within those platforms include live games and television shows, Official Sponsorships, digital/mobile applications and championship event activation.</p>
			<p>Packages can be tailored to help each sponsor accomplish their specific marketing objectives.</p>
		</div>
	</div>
</div>
<div class="row" style="margin-bottom:40px;">
	<div class="small-12 columns" style="text-align: center;">
		<h2>Television</h2>
		<img src="http://theacc.com/images/2018/4/9/sales-wheel-television.png">
		<ul>
			<li>13 Live ACC Football Games</li>
			<li>39 Live ACC Basketball Games</li>
			<li>Year-Round Original Sports Programming</li>
			<li>:30 Commercial Units</li>
			<li>Entitlement &amp; Presenting Sponsorships</li>
			<li>Customized Telecast Features</li>
			<li>Audio/Video Billboards</li>
			<li>Promotional Announcements</li>
			<li>Live Mentions</li>
		</ul>
	</div>
</div>
<div class="row" style="margin-bottom:40px;">
	<div class="small-12 columns" style="text-align: center;">
		<h2>Digital</h2>
		<img src="http://theacc.com/images/2018/4/9/sales-wheel-digital.png">
		<ul>
			<li>Mobile</li>
			<li>Social Media</li>
			<li>theACC.com</li>
			<li>ACC Digital Network</li>
		</ul>
	</div>
</div>
<div class="row" style="margin-bottom:40px;">
	<div class="small-12 columns" style="text-align: center;">
		<h2>Experiential</h2>
		<img src="http://theacc.com/images/2018/4/9/sales-wheel-experiential.png">
	</div>
</div>
<div class="row" style="margin-bottom:40px;">
	<div class="small-12 columns" style="text-align: center;">
		<h2>Social</h2>
		<img src="http://theacc.com/images/2018/4/9/sales-wheel-social.png">
		<ul>
			<li>Facebook</li>
			<li>Twitter</li>
			<li>Instagram</li>
			<li>Google +</li>
			<li>Youtube</li>
		</ul>
	</div>
</div>
<div class="row" style="margin-bottom:40px;">
	<div class="small-12 columns" style="text-align: center;">
		<h2>Intellectual Property</h2>
		<img src="http://theacc.com/images/2018/4/9/sales_intellectual_property.png">
		<ul>
			<li>Marks Usage</li>
			<li>Official Football Sponsor</li>
			<li>Official Basketball Sponsor</li>
			<li>Corporate Partner Program</li>
			<li>Corporate Champion Program</li>
		</ul>
	</div>	
</div>
<div class="row">
	<div class="medium-4 columns">
		&nbsp;
	</div>
	<div class="medium-4 columns">
		<p>For advertising or sponsorship opportunities, please contact:</p>
		Bill Lancaster<br />
		704-378-4505<br />
		<a href="mailto:blancaster@raycomsports.com">blancaster@raycomsports.com</a>
	</div>
</div>
<div class="row">
	<div class="medium-4 columns">
		&nbsp;
	</div>
	<div class="medium-4 columns" style="text-align: center;">
		<img style="margin-top: 30px;" src="/images/2019/1/28/corporate_champions_corporate_sponsors.jpg">
		<ul>
			<li><a href="http://www.bojangles.com/" target="_blank" title="Bojangles">Bojangles</a></li>
			<li><a href="http://www.foodlion.com/" target="_blank" title="Food Lion">Food Lion</a></li>
			<li><a href="https://www.geico.com/" target="_blank" title="Geico">Geico</a></li>
			<li><a href="http://www.newyorklife.com/" target="_blank" title="New York Life">New York Life</a></li>
			<li><a href="http://www.toyota.com/" target="_blank" title="Toyota">Toyota</a></li>
			<li><a href="http://www.gatorade.com/" target="_blank" title="Gatorade">Gatorade</a></li>
			<li><a href="https://www.lendingtree.com" target="_blank" title="LendingTree">LendingTree</a></li>
			<!-- <li><a href="https://mellowmushroom.com/" target="_blank" title="Mellow Mushroom">Mellow Mushroom</a></li> -->
			<li><a href="https://cpisecurity.com/" target="_blank" title="CPI Security">CPI </a></li>
		</ul>
	</div>
</div>