$acc-blue: #1b3ca4;
$acc-grey: #d3d3d3;

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
.img-responsive {
	width: 100%;
	height: auto;
}
.embed-responsive {
	position:relative;
	padding-bottom:56.25%;
	padding-top:5px;height:0;
	.embed-responsive-item {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		border:0;
		overflow:hidden;
	}
}
.info-notice {
	padding: 10px;
	font-weight: bold;
	background: #fdff92;
	text-align: center;
}
.article-wrapper.sportfile {
	padding: 0;
	.article-headline,
	.article-subheadline,
	.article-byline {
		display:none !important;
	}
	h1 {
		margin: 18px 0 18px 0;
		line-height: 34px;
		font-size: 28px;
		font-weight: 700;
		color: #013ca6;
		text-transform: uppercase;
	}
	h3 {
		background: url(http://www.theacc.com/images/bg_repeat.png);
		font-size: 2.0rem;
		padding: 10px 10px;
		margin-top: 20px;
		margin-bottom: 0;
		border-top: 1px solid #d9d9d9;
		border-bottom: 1px solid #d9d9d9;
		text-align: center;
		span,
		a {
			color: #013ca6 !important;
			font-size: 1.4rem;
		}
		span {
			position: relative;
			top: -10000px;
		}
		a {
			position: relative;
			top: -2px;
			margin-right: .2em;
		}
	}
}
section:not(#section-promos) {
	margin-bottom: 30px;
}
#page-header,
#section-header {
	background-image: none;
	background: #013ca6;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #013ca6;
	margin-bottom: 30px;
	padding: 40px 0 50px;
	h1,
	h2 {
		text-align: center;
		color: #fff;
		font-size: 1.5em;
		text-shadow: 1px 1px 1px #000;
		margin-bottom: 10px;
	}
	h1 {
		text-transform: uppercase;
	}
	h2 {
		font-size: 1.2em;
	  margin-top: 0;
	  margin-bottom: 0;
	}
	#page-logo {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  padding-top: 30px;
	  padding-bottom: 30px;
	  img {
			filter: drop-shadow(2px 2px 0px rgba(0,0,0,0.7));
		  max-height: 200px;
		  width: auto;
		  max-width: 100%;
	  }
	}
	#page-header-video {
		margin-bottom: 30px;
	 	#page-header-video-holder,
		#opener-video-holder {
			position:relative;
			padding-bottom:56.25%;
			height:0;
			#page-header-video-iframe,
			#opener-video-iframe {
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				border:0;
				overflow:hidden;
			}
		}
	}
	#anchor-nav {
		margin: 0;
		text-align: center;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				display: block;
				margin-right: 10px;
				span,
				a {
					text-align: center;
					display: block;
					padding: 4px 10px;
					color: #fff;
					font-weight: bold;
					font-size: 1.2em;
					margin-bottom: 10px;
					background: rgba(1,60,166, 0.7);
					filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.5));
					text-decoration: none;
					i,
					i {
						margin-right: 5px;
					}
				}
				span:hover,
				a:hover {
					text-decoration: none;
					cursor: pointer;
				}
			}
			li:hover {
				cursor: pointer;
			}
			li:last-child a {
				background: rgba(255,0,0, 0.9);
			}
		}
	}
}
#section-info {
	#player-container {
		#player-details {
			padding: 10px;
			background: #f2f2f2;
			#player-title {
				font-weight: 700;
				font-size: 30px;
				line-height: 34px;
				color: #013ca6;
				text-transform: uppercase;
			}
			#player-date {
				font-weight: 300;
				font-size: 16px;
				font-style: italic;
				color: black;
			}
		}
	}
}
#story-container {
	margin-bottom: 30px;
	display: block;
	text-decoration: none;
	#story-details {
		padding: 10px;
	  background: #f2f2f2;
		#story-title {
		  font-weight: 700;
		  font-size: 30px;
		  line-height: 34px;
		  color: #013ca6;
		  text-transform: uppercase;
			#story-date {
				font-weight: 300;
			  font-size: 16px;
			  font-style: italic;
			  color: black;
			}
		}
	}
}
#section-events {
	h3 {
		margin-bottom: 30px;
	}
}
#events {
	background: #f9f9f9;
	padding: 20px 8px 0;
	.events-header {
		background:#e5e5e5;
		font-weight:bold;
		padding:4px 8px;
		margin-bottom: 12px;
		font-style:italic;
		vertical-align:bottom;
		text-transform:uppercase;
		text-align: left;
	}
	.event {
		border: 1px solid #d9d9d9;
		margin-bottom: 20px;
		background: #fff;
		.event-header {
			padding: 10px 10px 0;
			.event-location {
				float:left;
			}
			.event-date-time {
				float:right;
			}
		}
		.event-body {
			display: table;
			width: 100%;
			padding: 10px 10px 0;
			.event-team {
				display: table-row;
				.event-team-logo {
					text-align: left;
					img {
						margin: 0 auto;
						width: auto;
						height: 25px;
					}
				}
				.event-team-logo,
				.event-team-name,
				.event-team-score {
					display: table-cell;
					vertical-align: middle;
					padding-bottom: 10px;
				}
				.event-team-logo {
					width: 35px;
				}
				.event-team-name {
					text-align: left;
				}
				.event-team-score {
					text-align: right;
				}
			}
		}
		.event-footer {
			border-top: 1px solid #d9d9d9;
			padding: 10px;
			//height: 42px;
			//overflow: hidden;
			.event-links {
				text-align: center;
				font-size: 0.87rem;
				a {
					margin-bottom: 4px;
					display: inline-block;
					margin-right: 14px;
					color: #013ca6;
					font-weight: bold;
				}
				a:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
#section-bracket {
	h3 {
		margin-bottom: 30px;
	}
	#bracket-image {
		text-align: center;
		img {
			max-width: 100%;
			height: auto;
			margin: 0 auto 30px;
		}
	}
}
#section-social {
	h3 {
		margin-bottom: 30px;
		a {
			text-decoration: none;
		}
	}
	.social-holder {
		margin-bottom: 30px;
		h4 {
			font-size: 1.6rem;
			text-align: center;
			margin-top: 0px;
			color: #013ca6;
			a {
				text-decoration: none;
				color: #013ca6;
			}
		}
		.social-feed {
			padding: 20px;
			border: 1px solid #013ca6;
			.social-container {
				height: 400px;
				overflow: auto;
			}
		}
	}
}
#section-watch {
	h3 {
		margin-bottom: 30px;
	}
}


/* Page Specific
---------------------------------------------------------------------*/
// test
#sportfile-631 {}
//football
#sportfile-649 {
	#section-header {
    background-color: #eceff0;
    h1, h2 {
      color: #1b3ca4;
    }
		#page-logo {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 30px;
			padding-bottom: 30px;
			img {
				max-height: 180px;
				width: auto;
				max-width: 100%;
			}
		}
	}
	#section-standings {
		.standings h3 {
			margin-bottom: 30px;
		}
		.standings .standings-holder {
			margin-bottom: 30px;
		}
	  .standings .standings-holder table tbody tr:first-child td {
	  	font-weight: bold;
	  	text-transform: uppercase;
	  }
	}
}
// cross
#sportfile-845 {
	#section-header {
		background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/6/19/18_Mobile_FALL_ChampionshipHeaders_XC_V2.png');
	}
}
// fhockey
#sportfile-846 {
	#section-header {
		background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/6/19/18_MOBILE_FALL_ChampionshipHeaders_FieldHockey_v2.png');
	}
}
// wsoc
#sportfile-847 {
	#section-header {
		background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/6/19/18_Mobile_FALL_ChampionshipHeaders_WSOC_V2.png');
	}
}
// msoc
#sportfile-848 {
	#section-header {
		background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/6/19/18_Mobile_FALL_ChampionshipHeaders_MSOC_v3.png');
	}
}
// swimming_diving
#sportfile-849 {
	#section-header {
		background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/1/23/17-18_WEB_Winter_ChampionshipHeaders_SWIMDIVE_MOBILE.png');
	}
}
// itrack
#sportfile-850 {
	#section-header {
		background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/1/25/17_18_WEB_Winter_ChampionshipHeaders_INDOOR_TRACK_FIELD_MOBILE.png');
	}
}
// wrestling
#sportfile-851 {
	#section-header {
		background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/1/25/17_18_WEB_Winter_ChampionshipHeaders_WRESTLING_MOBILE.png');
	}
}
// fencing
#sportfile-852 {
	#section-header {
		background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/1/25/17_18_WEB_Winter_ChampionshipHeaders_FENCING_BLUE_MOBILE.png');
	}
}
// mten
#sportfile-826 {
	#section-header {
		background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/4/3/17-18_WEB_Spring_ChampionshipHeaders_MTENNIS_MOBILE.png');
	}
}
// wten
#sportfile-825 {
	#section-header {
		background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/4/3/17-18_WEB_Spring_ChampionshipHeaders_WTENNIS_MOBILE.png');
	}
}
// wrow
#sportfile-829 {
	#section-header {
		background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/4/2/17-18-header-champ-rowing-mobile.png');
		background-position-y: 90%;
	}
}
//baseball
#sportfile-819 {
	#section-header {
		background-image: url('//theacc.com/images/2018/3/28/header-baseball-champ-mobile.PNG');
	}
	#section-promos {
		.call {
			display: block;
			margin-bottom: 30px;
		}
	}
}
// bball
#sportfile-742 {
	#section-header {
		background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/1/12/17_18_MBB_MBBT_TourneyWebPageGraphics_HEADER_NEW_4.png');
	}
}
// wbball
#sportfile-741 {
	#section-header {
		background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/1/3/17-18-WBB_WBBT_TourneyWebPageGraphics_MOBILEHEADER_Look.png');
		h1,
		h2 {
			color: #e81d75;
			text-shadow: none;
		}
	}
}
// mlax
#sportfile-828 {
	#section-header {
		background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/3/28/header-mens-lacrosse-champ-2018-mobile.png');
	}
}
// wlax
#sportfile-827 {
	#section-header {
		background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/3/28/header-womens-lacrosse-champ-mobile.png');
	}
}
// softball
#sportfile-830 {
	#section-header {
		background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/4/2/17-18-champ-header-softball-mobile.png');
	}
}
// mgolf
#sportfile-824 {
	#section-header {
		background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/3/23/header-champ-golf-mobile.png');
	}
}
// wgolf
#sportfile-823 {
	#section-header {
		background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/4/3/17_18_WEB_Spring_ChampionshipHeaders_WGOLF_MOBILE.png');
	}
}
// NBA Draft Mock Central
#sportfile-1100 {
	h3 {
		margin-bottom: 20px;
		font-size: 1.2rem;
	}
	table.sidearm-table {
		margin-bottom: 20px !important;
	}
	.article-headline {
		display: block !important;
		padding-left: 10px;
	}
	.athlete {
		margin-bottom: 30px;
		h3 {
			text-align: left;
			img {
				max-height: 27px;
				display: inline-block;
			}
		}
		table {
			margin-bottom: 20px;
		}
		p {
			margin-top: 0;
			padding-top: 0;
		}
		table {
			tr {
				td {
					img {
						max-height: 20px;
					}
				}
			}
		}
	}
	.player-nav {
		.anchor-nav {
			margin-bottom: 30px;
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li,
				span,
				a {
					width: 100%;
					display: block;
				}
				li {
					margin-bottom: 10px;
				}
				a,
				span {
					padding: 6px 8px;
					text-transform: uppercase;
					font-weight: bold;
				}
				span {
					background: #f2f2f2;
					color: #013ca6;
					&:hover {
						cursor: pointer;
						background: #dedede;
					}
					img {
						float: right;
						vertical-align: middle;
						height: 20px;
					}
				}
				a {
					text-decoration: none;
					text-align: center;
					background-color:#013ca6;
					color:#fff;
				}
			}
		}
	}
	.player-nav-top {
		display: block;
		margin-bottom: 50px;
	}
	.potentials {
		margin-bottom: 30px;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li,
			span {
				width: 100%;
				display: block;
			}
			li {
				margin-bottom: 10px;
			}
			span {
				padding: 6px 8px;
				text-transform: uppercase;
				font-weight: bold;
				border-bottom: 1px solid #f2f2f2;
				color: #013ca6;
				img {
					float: right;
					vertical-align: middle;
					height: 20px;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.article-wrapper.sportfile {
		h1 {
			line-height: 54px;
			font-size: 48px;
		}
	}
	#page-header,
	#section-header {
		padding: 60px 100px;
		h1 {
			font-size: 3em;
			margin-bottom: 0px;
		}
		h2 {
			font-size: 2em;
		}
		h2:last-child {
			margin-bottom: 40px;
		}
		#page-logo {
			padding-top: 5px;
			padding-bottom: 0;
			img {
				margin-bottom: 30px;
			}
		}
		#page-header-video {
			margin-bottom: 40px;
		}
		.standings-holder {
			padding: 10px;
			margin-bottom: 0;
		}
	}
	/* Page Specific
	---------------------------------------------------------------------*/
	//test
	#sportfile-631 {}
	//football
	#sportfile-649 {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/11/14/17_18_FBL_FCG_ChampPage_1450x650.jpg');
			padding: 40px 100px;
			#page-logo {
				padding-top: 70px;
				padding-bottom: 0;
			  img {
				  max-height: 210px;
			  }
			}
			#anchor-nav {
				ul {
					li {
						display: inline-block;
					}
				}
			}
		}
	}
	//baseball
	#sportfile-819 {
		#section-header {
			background-image: url('//theacc.com/images/2018/3/28/header-baseball-champ-desktop.PNG');
			/*
			#anchor-nav {
				ul {
					li {
						display: inline-block;
					}
				}
			}
			*/
		}
		#section-promos {
			.call {
				margin-bottom: 30px;
			}
		}
	}
	// cross
	#sportfile-845 {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/6/19/18_WEB_FALL_ChampionshipHeaders_XC.png');
		}
	}
	// fhokey
	#sportfile-846 {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/6/21/18_WEB_FALL_ChampionshipHeaders_FieldHockey_v2.png');
		}
	}
	// wsoc
	#sportfile-847 {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/6/19/18_WEB_FALL_ChampionshipHeaders_WSOC_v2.png');
		}
	}
	// msoc
	#sportfile-848 {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/6/19/18_WEB_FALL_ChampionshipHeaders_MSOC_v2.png');
		}
	}
	// swimming_diving
	#sportfile-849 {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/1/25/17_18_WEB_Winter_ChampionshipHeaders_SWIMDIVE_SITE.png');
		}
	}
	// itrack
	#sportfile-850 {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/1/25/17_18_WEB_Winter_ChampionshipHeaders_INDOOR_TRACK_FIELD_SITE.png');
		}
	}
	// wrestling
	#sportfile-851 {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/1/25/17_18_WEB_Winter_ChampionshipHeaders_WRESTLING.png');
		}
	}
	// fencing
	#sportfile-852 {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/1/25/17_18_WEB_Winter_ChampionshipHeaders_INDOOR_TRACK_FIELD_BLUE_SITE.png');
		}
	}
	// mten
	#sportfile-826 {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/4/3/17-18_WEB_SPRING_ChampionshipHeaders_MTENNIS.png');
		}
	}
	// wten
	#sportfile-825 {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/4/3/17-18_WEB_SPRING_ChampionshipHeaders_WTENNIS.png');
		}
	}
	// wrow
	#sportfile-829 {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/4/2/17-18-header-champ-rowing-desktop.png');
		}
	}
	// bball
	#sportfile-742 {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/1/12/17_18_MBB_MBBT_TourneyWebPageGraphics_MOBILEHEADER_NEW.png');
			#page-logo {
				img {
					max-height: 260px;	
				}
			}
			#anchor-nav {
				ul {
					li {
						display: inline-block;
					}
				}
			}
		}
	}
	// wbball
	#sportfile-741 {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/1/9/17_18_WBB_WBBT_TourneyWebPageGraphics_HEADER_Look.png');
			#page-logo {
				img {
					max-height: 260px;	
				}
			}
			#anchor-nav {
				ul {
					li {
						display: inline-block;
					}
				}
			}
		}
	}
	// mlax
	#sportfile-828 {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/3/28/header-mens-lacrosse-champ-2018-desktop.png');
		}
	}
	// wlax
	#sportfile-827 {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/3/28/header-womens-lacrosse-champ-desktop.png');
		}
	}
	// softball
	#sportfile-830 {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/4/2/17-18-champ-header-softball-desktop.png');
		}
	}
	// mgolf
	#sportfile-824 {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/3/23/header-champ-golf-desktop.png');
		}
	}
	// mgolf
	#sportfile-823 {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/4/3/17_18_WEB_SPRING_ChampionshipHeaders_WGOLF.png');
		}
	}

	// NBA Draft Mock Central
	#sportfile-1100 {
		h3 {
			font-size: 2rem;
		}
		.athlete {
			margin-bottom: 50px;
			h3 {
				img {
					max-height: initial;
				}
				div {
					display: inline-block;
					float: left;
					&:last-child {
						float: right;
					}
				}
			}
		}
		.player-nav-top {
			display: none;
		}
	}
}


aside h4 {
	margin:0;
	padding:4px 12px;
	font-size:1.5rem;
	border-bottom:2px solid #cccccc;
}
aside ul {
	list-style:none;
	margin:0;
	padding:0;
	margin-bottom:20px;
}
aside ul li {
	border-bottom:1px solid #ccc;
	padding:4px 12px;
}
aside ul li a {
	text-decoration:none;
}
.feed {
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	background: #f9f9f9;
}
.feed .feed-item {
	display: block;
	text-decoration: none;
}
.feed .feed-item .feed-thumb {
	margin-bottom: 5px;
	background-color: #f9f9f9;
}
.feed .feed-item .feed-details {
	margin-bottom: 20px;
}
.feed .feed-item .feed-details .feed-details-title {
	font-weight:700;
	font-size:16px;
	color: #013ca6;
	text-transform:uppercase;
	margin-bottom: 0px;
}
.feed-load-more,
#no-more-videos {
	border-top: 1px solid #d9d9d9;
	text-align:center;
	margin-bottom:30px;
	padding-top: 20px;
}
.feed-load-more span,
#no-more-videos span {
	display: inline-block;
	padding: 10px 15px;
	color: #fff;
	background: #013ca6;
	text-align: center;
	font-weight: bold;
}
#no-more-videos {
	display: none;
}
#no-more-videos span {
	background: #d3d3d3;
}
#stories.feed .feed-item .feed-thumb {
	height: 154px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
#call-slider {
	margin-bottom: 30px;
}
#call-slider a.call {
	display: block;
	margin-bottom: 10px;
}
#call-slider a.call img {
	width:100%;
	height:auto;
}
.owl-theme .owl-dots .owl-dot span {
	background-color: #4d4d4d;
}
.owl-theme .owl-dots .owl-dot.active span {
	background-color: #013ca6;
}
.standings h3 {
	margin-bottom: 30px;
}
.standings .standings-holder {
	margin-bottom: 30px;
}
.standings .standings-holder table tbody tr:first-child td {
	font-weight: bold;
	text-transform: uppercase;
}

.weather-holder h3 {
	background: none;
	border: none;
}
.sidearm-table th {
	background:#013ca6;
	color:#fff !important;
	font-weight:bold;
	padding:4px 8px;
	font-style:italic;
	vertical-align:bottom;
	text-transform:uppercase;
	text-align: left;
}
.sidearm-table tr {
	vertical-align:middle;
}
.sidearm-table .row-header {
	background:#e5e5e5;
	font-weight:bold;
	padding:4px 8px;
	font-style:italic;
	vertical-align:bottom;
	text-transform:uppercase;
	text-align: left;
}
.weather-holder {
	margin-bottom: 30px;
}
.weather-desktop {
	display: none;
}
.weather-mobile {
	display: block;
}
@media (min-width: 768px) {
  .feed {
		padding-left: 20px;
		padding-right: 20px;
  }
  #call-slider {
  	display: block;
  }
  #section-social .social-holder .social-feed .social-container {
  	height: 330px;
  	height: 678px;
  	overflow: auto;
  }
  .weather-desktop {
  	display: block;
  }
  .weather-mobile {
  	display: none;
  }
}

#section-info {
	#player-container {
		#player-details {
			padding: 10px;
			background: $acc-blue;
			#player-title {
				font-weight: 700;
				font-size: 5vw;
				line-height: 1.2;
				color: #fff;
				text-transform: uppercase;
			}
			#player-date {
				color: #fff !important;
				font-weight: 300;
				font-size: 16px;
				font-style: italic;
				color: black;
			}
		}
	}
}
@media (min-width: 576px) {}
@media (min-width: 768px) {
	#section-info {
		#player-container {
			#player-details {
				padding: 10px;
				background: $acc-blue;
				#player-title {
					font-size: 30px;
					line-height: 34px;
				}
			}
		}
	}
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}

#section-watch-header {
	border-top: 5px solid #d3d3d3;
	border-bottom: 5px solid #d3d3d3;
	.section-header {
		.section-header-title {
	    text-transform: uppercase;
	    color: black;
	    font-size: 26px;
	    margin: 0 18px 0 12px;
	    height: 70px;
	    line-height: 70px;
	    position: relative;
	    outline: none;
			font-family: 'Roboto Condensed', 'Roboto', sans-serif;
			font-size: 26px;
			font-weight: 400;
			font-style: normal;
		}
		.section-header-links {
			padding: 15px 12px;
			select {
				width: 100% !important;
				margin-bottom: 15px;
				background: #1b3ca4;
				border: none;
				border-radius: 0;
				padding: 0 6px;
				height: 40px;
				display: block;
				width: 185px;
				color: white;
				font-size: 14px;
				font-family: 'Roboto Condensed', 'Roboto', sans-serif;
				font-size: 1rem;
				font-weight: 400;
				font-style: normal;
				font: 400 13.3333px Arial;
				text-indent: 1px;
				option {
					padding: 5px;
				}
			}
		}
	}
}
@media (min-width: 576px) {}
@media (min-width: 768px) {
	#section-watch-header {
		.section-header {
			.section-header-title {
				float: left;
			}
			.section-header-links {
				float: right;
				select {
					width: auto !important;
					margin-bottom: 0;
					margin-left: 10px;
					float: right;
				}
			}
		}
	}
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}

#section-videos {
	.row {
		//margin-left: -30px;
		//margin-right: -30px;
	}
	.feed {
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
		background: transparent;
		.feed-item {
			margin-bottom: 20px;
			border-bottom: 1px solid $acc-grey;
			.feed-thumb,
			.feed-thumb-responsive {
				margin-bottom: 20px;
			}
			.feed-thumb {
				img {
					width: 100%;
					height: auto;
				}
			}
			.feed-thumb-responsive {
				width: 100%;
				position: relative;
				padding-top: 56.6%;
				overflow: hidden;
				&:before {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					transition: 0.35s;
					background: rgba(0, 0, 0, 0.3);
					z-index: 2;
				}
				.feed-thumb-responsive-item {
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					height: 100%;
					width:100%;
				}
				.feed-thumb-responsive-overlay {
					display: none;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					height: 100%;
					width:100%;
					div {
						height: 60px;
						width: 60px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						background: url(http://www.theacc.com/images/video_play_btn_main.png);
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
						opacity: 0.8;
					}
				}
			}
			.feed-details {
				font-family: 'Roboto Condensed', 'Roboto', sans-serif;
				margin-bottom: 20px;
				.feed-details-title {
					font-size: 16px;
					color: #000;
					font-weight: 400;
					text-transform: none;
				}
				.feed-details-date {
					font-size: 14px;
					color: #1b3ca4;
				}
			}
			&:hover {
				cursor: pointer;
				border-bottom: 1px solid $acc-blue;
				.feed-thumb-responsive {
					&:before {
						background: rgba(0, 0, 0, 0.0);
					}
				}
			}
		}

	}
	.feed-load-more {
		padding-top: 10px;
		border-top: none;
		span {
			transform: skew(-26deg, 0deg);
			span {
				transform: skew(0deg, 0deg);
				font-size: 20px;
				text-transform: uppercase;
				font-weight: 700;
			}
		}
	}
}

@media (min-width: 576px) {}
@media (min-width: 768px) {
	#section-watch-header {
		.section-header {
			.section-header-title {
				float: left;
			}
			.section-header-links {
				float: right;
				select {
					width: auto !important;
					margin-bottom: 0;
					margin-left: 10px;
					float: right;
				}
			}
		}
	}
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}