<%@ Page aspcompat="true" Debug="true" %>
<%

Dim accessKey

'accessKey = Request.Form("token")
accessKey = Request.QueryString("token")

'Dim data, httpRequest, postResponse

'data = "client_id=0e03deab-3a3f-4027-8f15-4f1e77d98e3f"
'data = data & "&client_secret=VunmXJz6uYUyU2sZBohlwcEjPOxdaYR3wGlKeLtI2YC3FXwsQKsTomRjo1JNNxhJFUCCG2drB5-x-RHgNm8XxA"
'data = data & "&grant_type=client_credentials"

httpRequest = Server.CreateObject("MSXML2.ServerXMLHTTP")
httpRequest.Open("POST", "https://oauth.brightcove.com/v4/access_token", False)
httpRequest.SetRequestHeader("Content-Type", "application/x-www-form-urlencoded")
httpRequest.SetRequestHeader("Content-Type", "application/x-www-form-urlencoded")
httpRequest.Send(data)

postResponse = httpRequest.ResponseText

Response.Write(postResponse)

%>