<%@ Page aspcompat="true" Debug="true" %>
<%
								 
Dim http: http = Server.CreateObject("WinHttp.WinHttpRequest.5.1")
Dim url: url = "https://oauth.brightcove.com/v4/access_token"
Dim data: data = "client_id=0e03deab-3a3f-4027-8f15-4f1e77d98e3f&client_secret=VunmXJz6uYUyU2sZBohlwcEjPOxdaYR3wGlKeLtI2YC3FXwsQKsTomRjo1JNNxhJFUCCG2drB5-x-RHgNm8XxA&grant_type=client_credentials"

With http
  Call .Open("POST", url, False)
  Call .SetRequestHeader("Content-Type", "application/x-www-form-urlencoded")
  Call .Send(data)
End With

If Left(http.Status, 1) = 2 Then
  'Request succeeded with a HTTP 2xx response, do something...
	Response.Write(http.ResponseText)
Else
  'Output error
  Call Response.Write("Server returned: " & http.Status & " " & http.StatusText)
End If

%>