<script type="text/javascript">
//https://support.brightcove.com/cmsplayback-api-videos-search

$(window).load(function () {

	var scrollToOffset = $('.main-header__filter').height() + $('.main-header__navigation').height(),
			bc_accountId = '6050660109001';

	var bc = {
		token: function() {
		  return $.getJSON('https://static.theacc.com/custompages/bc-token.aspx').then(function(data) {
		    //return data.data.token;
				return data.access_token;
		  });
		},
	  video: function(id) {
	    return this.token().then(function(token) {
	    	if(id !== undefined) {
			    return $.getJSON('https://cms.api.brightcove.com/v1/accounts/'+bc_accountId+'/videos/'+id+'?access_token='+token).then(function(data) {
			      return data;
			    });
		  	} else {
			    return $.getJSON('https://cms.api.brightcove.com/v1/accounts/'+bc_accountId+'/videos?access_token='+token+'&limit=1&sort=created_at&q=%2Bnetwork:ACCDN%20%2Bschool:Miami').then(function(data) {
			      return data;
			    });
		  	}
	    });
	  },
		videos : function(offset) {
			console.log(offset);
			return this.token().then(function(token) {
				//return $.getJSON('https://cms.api.brightcove.com/v1/accounts/'+bc_accountId+'/videos?access_token='+token+'&q=tags:bama').then(function(data) {
				return $.getJSON('https://cms.api.brightcove.com/v1/accounts/'+bc_accountId+'/videos?access_token='+token+'&limit=4&sort=created_at&q=%2Bnetwork:ACCDN%20%2Bschool:Miami&offset='+offset).then(function(data) {
					return data;
				});
			});
		}

	};

	bc.videos(0).done(function(data) {
		processVideoData(data);
	});

	function processVideoData(data) {
		//console.log(data.length);
		if(data.length < 4) {
			$('#load-more-videos').css('display','none');
			$('#no-more-videos').css('display','block');
		} else {
			$('#load-more-videos').css('display','block');
			$('#no-more-videos').css('display','none');
		}
		var offset = $("#load-more-videos").attr('data-offset');
		var html = '<div class="row">';
		$.each(data, function(index, content) {
			//var date = moment.unix(content.published_at);
			var date = moment(date).format("ddd, DD MMM YYYY");
			var curDate = moment().format('YYYY-MM-DD');
			
			if(index === 0 && offset == '0') {
			  var $src = '//players.brightcove.net/6050660109001/default_default/index.html?videoId='+content.id;
			  $("#player").attr("src", $src);
			  $('#player-title').append(content.name);
			  $('#player-date').append(date);
			}

			html = html + '<div class="medium-12 large-3 columns"> \
					<div id="'+content.id+'" class="feed-item clearfix">\
						<div class="feed-thumb"> \
							<div style="position:relative;"> \
								<img style="display:block;width:100%;height:auto;" src="'+content.images.poster.sources[0].src+'" /> \
								<div style="position:absolute;top:0;right:0;bottom:0;left:0;height:100%;width:100%;"> \
									<div style="height:60px;width:60px;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);background:url(http://www.theacc.com/images/video_play_btn_main.png) no-repeat center center;background-size:contain;opacity:0.8;"></div> \
								</div> \
							</div> \
						</div> \
						<div class="feed-details"> \
							<div class="feed-details-title">'+content.name+'</div> \
							<div class="feed-details-date">'+date+'</div> \
						</div>\
					</div> \
				</div>';
		});
		html = html + '</div>';

		$('#playlist').append(html);

		
		var checkExist = setInterval(function() {
			if ($('#playlist').length) {
				$("#playlist .feed-item").click(function(e) {
				  var $videoId = $(this).attr('id');
					bc.video($videoId).done(function(data) {
						var $src = '//players.brightcove.net/6050660109001/default_default/index.html?videoId='+data.id;
						//var date = moment.unix(data[0].created);
						var date = moment(date).format("MMM., Do YYYY");

					  $("#player").attr("src", $src);
					  $('#player-title').html(data.name);
					  $('#player-date').html(date);
		        $('html,body').animate({
		          scrollTop: $('#player-holder').offset().top - scrollToOffset
		        }, 250);
					});
				})
		    clearInterval(checkExist);
		  }
		}, 100);

	}

	$('#load-more-videos').click(function(){
		var offset = $("#load-more-videos").attr('data-offset');
		offset = parseInt(offset) + 4;
		$("#load-more-videos").attr('data-offset', offset);
		bc.videos(offset).done(function(data) {
			processVideoData(data)
		});
	});

});

</script>

<section id="section-info">
  <div class="row">
    <div class="medium-12 large-8 columns">
      <div id="player-container">
        <div id="player-holder" style="position:relative;padding-bottom:56.25%;height:0;margin:0 auto;">
					<iframe id="player" src="" style="position:absolute;top:0;left:0;width:100%;height:100%;border:0;" frameborder="0" scrolling="no" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
				</div>
        <div id="player-details">
          <div id="player-title"></div>
          <div id="player-date"></div>
        </div>
      </div>
    </div>
    <div class="medium-12 large-4 columns">
      <aside style="background:#f2f2f2;padding:8px 0 0 0;">
        <section>
          <div style="text-align:center;">
            <div style="display:flex;justify-content:center;align-items:center;width:300px;margin:20px auto 20px;height:250px;background:#999;margin-bottom:30px;">
              <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script><script>
                var googletag = googletag || {};
                googletag.cmd = googletag.cmd || [];
              </script><script>
                googletag.cmd.push(function() {
                  googletag.defineSlot('/63316753/raycom-sports/theacc.com', [300, 250], 'div-gpt-ad-1510691386580-0').addService(googletag.pubads());
                  googletag.enableServices();
                });
              </script>
              <div id="div-gpt-ad-1510691386580-0" style="height:250px; width:300px;">
                <script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1510691386580-0'); });</script>
              </div>
            </div>
          </div>
          <h4>Featured Links</h4>
          <ul>
            <li><a href="/sb_output.aspx?form=12">Tickets Portal</a></li>
            <li><a href="https://promotions.theacc.com/fan5k/" target="_blank">Fan 5k & Kids Mascot Run</a></li>
            <li><a href="http://promotions.theacc.com/suitelife/" target="_blank">Suite LIFE (TBD)</a></li>
          </ul>
        </section>
      </aside>
    </div>
  </div>
</section>

<section id="section-videos">
  <div class="row">
    <div class="small-12 columns">
      <h3>Videos</h3>
      <div class="feed" id="playlist"></div>
      <div class="feed-load-more" data-offset="0" id="load-more-videos"><span>Load More Videos</span></div>
    </div>
  </div>
</section>