<script type="text/javascript">
	// digitalocean.com/community/tutorials/an-introduction-to-json
	// https://www.theweather.com/widget/
	var content = {
		"videos" : {
			"customFields" : {
				"sport" : "Football",
				"schools" : ["Clemson", "Virginia"]
			}
		},
		"stories" : {
			"path" : "football"
		},
    /*
		"promos" : [
      { 
				"target" : "_parent",
				"linkUrl" : "/sports/2019/9/28/ACCFBALLCHAMPTIX.aspx",
				"imageAltText" : "Tickets", 
				"imageUrl" : "/images/2020/8/6/19_20_FCG_Web_410x210_TICKETS2020.png" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "https://theacc.co/FanFest",
				"imageAltText" : "FanFest", 
				"imageUrl" : "/images/2019/12/3/FanFest_410x210.jpg" 
			},
			{ 
				"target" : "_parent",
				"linkUrl" : "https://theacc.com/documents/2020/11/20/2020_ACC_Championship_Game_Mobile_Ticket_Guide.pdf",
				"imageAltText" : "Mobile Ticket", 
				"imageUrl" : "/images/2019/12/3/MobileTicketInstructions_410x210.jpg" 
			}
		],
    */
		"featuredLinks" : [
      { 
				"target" : "_parent", 
				"title" : "Mobile Ticket Information", 
				"url" : "https://theacc.com/documents/2020/11/20/2020_ACC_Championship_Game_Mobile_Ticket_Guide.pdf" 
			},
			{ 
				"target" : "_parent", 
				"title" : "Gameday Information (coming soon)", 
				"url" : "#" 
			},
			{ 
				"target" : "_parent", 
				"title" : "Game Notes (coming soon)",
				"url" : "#" 
			},
			{ 
				"target" : "_parent", 
				"title" : "Championships Hub (coming soon)",
				"url" : "#" 
			}
		],
		"social" : {
			"twitter" : "accfootball"
		},
		"weather" : {
			"mobile" : "613a46e5a74d144aac540825b80f3595",
			"desktop" : "b9e1c0ec8c44c102c19810eb3c2007b9"
		},
		"championship" : {
			"id" : "90", //required
			//"title" : "2020 ACC FOOTBALL CHAMPIONSHIP GAME",
			"subtitles" : [ 
				"December 12 or 19 | Bank of America Stadium | Charlotte, NC"
			],
			"headerImages" : {
				"mobile" : "/images/2020/9/8/FBL-CHAMP-Mobile-600x1300.jpg",
				"desktop" : "/images/2020/9/8/FBL-CHAMP-Desktop-1450x650.jpg"
			},
			"teaserUrl" : "https://bcove.video/36gVyDv",
			/*
			"bracket" : {
				"url" : "",
				"paragraphs" : [
					""
				]
			},
			*/
			// "customHtml1Title" : "Schedule of Events",
			// "customHtml2Title" : "Mobile Ticket Info",
			//"customHtml3Title" : "More",
			// "ticketsUrl" : "http://theacc.com/sports/2019/9/28/ACCFBALLCHAMPTIX.aspx"
		}
	}
</script><!--
	Available components:
	- component-page-header
	- component-hero
	- component-promos
	- component-featured-links
	- component-videos
	- component-social-twitter
	- component-stories
	- component-weather
-->
<div class="championship" id="sportfile-649">
  <section class="section" id="component-page-header"></section>

  <!-- <div class="section" id="component-promos"></div> -->

  <section class="section" id="section-info">
    <div class="row">
      <div class="small-12 x-large-8 columns">
        <div id="component-hero"></div>
      </div>
      <div class="small-12 x-large-4 columns">
        <aside class="sidebar">
          <div class="ad">
            <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script><script>
              var googletag = googletag || {};
                googletag.cmd = googletag.cmd || [];
                googletag.cmd.push(function() {
                  googletag.defineSlot('/63316753/raycom-sports/theacc.com', [300, 250], 'div-gpt-ad-1510691386580-0').addService(googletag.pubads());
                  googletag.enableServices();
                });
            </script>
            <div id="div-gpt-ad-1510691386580-0" style="height:250px; width:300px;">
              <script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1510691386580-0'); });</script>
            </div>
          </div>
          <div id="component-featured-links"></div>
        </aside>
      </div>
    </div>
  </section>

  <section class="section" id="component-videos"></section>

  <section class="section">
    <div class="row">
      <div class="small-12 large-7 x-large-8 columns">
        <!-- <div id="component-bracket"></div> -->
        <!-- <div id="component-custom-html-1"></div> -->
        <div id="component-custom-html-2"></div>
      </div>
      <div class="small-12 large-5 x-large-4 columns">
        <div class="section" id="component-social-twitter"></div>
        <div class="section" id="component-weather"></div>
      </div>
    </div>
  </section>

  <section class="section" id="component-stories"></section>
  <!-- <section id="component-custom-html-3"></section> -->

  <section class="section" data-path="football" id="component-standings"></section>
</div>
