<script type="text/javascript">
	// digitalocean.com/community/tutorials/an-introduction-to-json
	// https://www.theweather.com/widget/
	var content = {
		"stories" : {
			"path" : "baseball"
		},
		/*
		"promos" : [
			{ 
				"target" : "_blank",
				"linkUrl" : "https://www.primesport.com/d/acc-championship-football-tickets?utm_source=theacc.com&utm_medium=referral&utm_campaign=college_football_acc_championship&utm_content=web_sellout_11152017",
				"imageAltText" : "Ticket Master", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_BuyTickets_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "http://promotions.theacc.com/suitelife/",
				"imageAltText" : "Suite Life", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_SuiteLife_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "https://www.primesport.com/d/acc-championship-football-tickets?utm_source=acc&utm_medium=referral&utm_content=acc_web_football_sports_page_link&utm_campaign=college_football_packages",
				"imageAltText" : "PrimeSport", 
				"imageUrl" : "/images/2017/11/16/410x210_PrimeSport_ACCFanFest.png" 
			},
			{ 
				"target" : "_parent",
				"linkUrl" : "/sports/2013/10/18/_131481558982348592.aspx",
				"imageAltText" : "Fan Fest", 
				"imageUrl" : "/images/2017/11/16/479611025559976.Ux8H2p4WAnOBqp1GkFGM_height640.png" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "http://theacc.co/fcg17gameday",
				"imageAltText" : "Gameday", 
				"imageUrl" : "/images/2017/11/28/ESPN_Gameday_Promo_456x257_34.png" 
			},
			{ 
				"target" : "_parent",
				"linkUrl" : "/fan5k",
				"imageAltText" : "Fan 5k", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_Fan5k_410x210.jpg" 
			},
			{ 
				"target" : "_parent",
				"linkUrl" : "/nightoflegends",
				"imageAltText" : "Night of Legends", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_Legends_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "http://raycomsports.com/sports_labs_docs/m-footbl/2017_accfcg_kids_combine_flyer.pdf?utm_source=all&utm_medium=post&utm_campaign=fb&utm_content=champ",
				"imageAltText" : "Kids Combine", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_KidsCombine_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "#",
				"imageAltText" : "Bojangles", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_FourPack_410x210.jpg" 
			}
		],
		*/
		"featuredLinks" : [
			{ 
				"target" : "_parent", 
				"title" : "Bracket (coming soon)", 
				"url" : "#" 
			},
			{ 
				"target" : "_blank", 
				"title" : "Directions (coming soon)", 
				"url" : "#" 
			},
			{ 
				"target" : "_blank", 
				"title" : "Tickets (coming soon)", 
				"url" : "#" 
			},
			{ 
				"target" : "_blank", 
				"title" : "Tiebreakers (coming soon)", 
				"url" : "#" 
			}
		],
		"social" : {
			"twitter" : "accbaseball"
		},
		/*
		"weather" : {
			"mobile" : "613a46e5a74d144aac540825b80f3595",
			"desktop" : "b9e1c0ec8c44c102c19810eb3c2007b9"
		},
		*/
		"championship" : {
			"id" : "79", //required
			"title" : "2020 ACC Baseball Championship",
			"subtitles" : [ 
				"May 19-24 | BB&T Ballpark | Charlotte, NC"
			],
			"headerImages" : {
				"mobile" : "/images/2018/3/28/header-baseball-champ-mobile.PNG",
				"desktop" : "/images/2018/3/28/header-baseball-champ-desktop.PNG"
			},
			//"teaserUrl" : "https://bcove.video/2roCoN5",
			/*
			"bracket" : {
				"url" : "",
				"paragraphs" : [
					""
				]
			},
			*/
			"customHtml1Title" : "Watch",
			//"customHtml2Title" : "Watch",
			//"customHtml3Title" : "More",
			//"ticketsUrl" : "http://theacc.com/sports/2019/9/28/ACCFBALLCHAMPTIX.aspx"
		}
	}
</script>

<!--
	Available components:
	- component-page-header
	- component-hero
	- component-promos
	- component-featured-links
	- component-videos
	- component-social-twitter
	- component-stories
	- component-weather
-->

<div id="sportfile-851" class="championship">

	<section id="component-page-header" class="section"></section>

  <!-- <div id="component-promos" class="section"></div> -->

	<section id="section-info" class="section">
	  <div class="row">
	    <div class="small-12 x-large-8 columns">
				<div id="component-hero"></div>
	    </div>
	    <div class="small-12 x-large-4 columns">
	      <aside class="sidebar">
					<div class="ad">
	          <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
						<script>
	            var googletag = googletag || {};
		            googletag.cmd = googletag.cmd || [];
		            googletag.cmd.push(function() {
		              googletag.defineSlot('/63316753/raycom-sports/theacc.com', [300, 250], 'div-gpt-ad-1510691386580-0').addService(googletag.pubads());
		              googletag.enableServices();
		            });
	          </script>
	          <div id="div-gpt-ad-1510691386580-0" style="height:250px; width:300px;">
	            <script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1510691386580-0'); });</script>
	          </div>
					</div>
					<div id="component-featured-links"></div>
	      </aside>
	    </div>
	  </div>
	</section>

	<section id="component-stories" class="section"></section>

	<section class="section">
	  <div class="row">
	    <div class="small-12 large-7 x-large-8 columns">
				<!-- <div id="component-bracket"></div> -->
				<div id="component-custom-html-1"></div>
				<!-- <div id="component-custom-html-2"></div> -->
				<section id="component-standings" class="section" data-path="baseball"></section>
			</div>
	    <div class="small-12 large-5 x-large-4 columns">
				<div id="component-social-twitter" class="section"></div>
	    </div>
	  </div>
	</section>
	
	<!-- <section id="component-custom-html-3"></section> -->

	<!-- <section id="component-standings" class="section" data-path="fencing"></section> -->

</div>