<script type="text/javascript">
	// digitalocean.com/community/tutorials/an-introduction-to-json
	// https://www.theweather.com/widget/
	var content = {
		"stories" : {
			"path" : "fhockey"
		},
		/*
		"promos" : [
			{ 
				"target" : "_blank",
				"linkUrl" : "https://www.primesport.com/d/acc-championship-football-tickets?utm_source=theacc.com&utm_medium=referral&utm_campaign=college_football_acc_championship&utm_content=web_sellout_11152017",
				"imageAltText" : "Ticket Master", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_BuyTickets_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "http://promotions.theacc.com/suitelife/",
				"imageAltText" : "Suite Life", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_SuiteLife_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "https://www.primesport.com/d/acc-championship-football-tickets?utm_source=acc&utm_medium=referral&utm_content=acc_web_football_sports_page_link&utm_campaign=college_football_packages",
				"imageAltText" : "PrimeSport", 
				"imageUrl" : "/images/2017/11/16/410x210_PrimeSport_ACCFanFest.png" 
			},
			{ 
				"target" : "_parent",
				"linkUrl" : "/sports/2013/10/18/_131481558982348592.aspx",
				"imageAltText" : "Fan Fest", 
				"imageUrl" : "/images/2017/11/16/479611025559976.Ux8H2p4WAnOBqp1GkFGM_height640.png" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "http://theacc.co/fcg17gameday",
				"imageAltText" : "Gameday", 
				"imageUrl" : "/images/2017/11/28/ESPN_Gameday_Promo_456x257_34.png" 
			},
			{ 
				"target" : "_parent",
				"linkUrl" : "/fan5k",
				"imageAltText" : "Fan 5k", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_Fan5k_410x210.jpg" 
			},
			{ 
				"target" : "_parent",
				"linkUrl" : "/nightoflegends",
				"imageAltText" : "Night of Legends", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_Legends_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "http://raycomsports.com/sports_labs_docs/m-footbl/2017_accfcg_kids_combine_flyer.pdf?utm_source=all&utm_medium=post&utm_campaign=fb&utm_content=champ",
				"imageAltText" : "Kids Combine", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_KidsCombine_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "#",
				"imageAltText" : "Bojangles", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_FourPack_410x210.jpg" 
			}
		],
		*/
		"featuredLinks" : [
			{ 
				"target" : "_parent", 
				"title" : "Bracket (coming soon)", 
				"url" : "#" 
			},
			{ 
				"target" : "_parent", 
				"title" : "Standings", 
				"url" : "/standings.aspx?path=fhockey" 
			},
			{ 
				"target" : "_blank", 
				"title" : "Tiebreakers and Seedings (coming soon)", 
				"url" : "#" 
      }
		],
		"social" : {
			"twitter" : "accfieldhockey"
    },
		"weather" : {
			"mobile" : "abff40ab3a719082e33342cde08a4d9a",
			"desktop" : "355eb27b3da77336038dc278daa15e34"
		},
		"championship" : {
			"id" : "70", //required
			"title" : "2020 ACC Field Hockey Championship",
			"subtitles" : [ 
        "Nov. 5, 6 and 8 | Hosted by Duke | Williams Field at Jack Katz Stadium"
			],
			"headerImages" : {
				"mobile" : "/images/2018/6/19/18_MOBILE_FALL_ChampionshipHeaders_FieldHockey_v2.png",
				"desktop" : "/images/2018/6/21/18_WEB_FALL_ChampionshipHeaders_FieldHockey_v2.png"
			},
      //"teaserUrl" : "https://player.watchstadium.com/60/iframe.html?asset_id=156772&codec=&player_id=&t60ype=vod",
      /*
			"bracket" : {
				"url" : "/documents/2019/10/25/19_20_WBB_WBBT_Bracket_Final.pdf",
				"paragraphs" : [
					""
				]
      },
      */
			// "customHtml1Title" : "Tickets",
			"customHtml2Title" : "Schedule of Events",
			// "customHtml3Title" : "More",
			// "ticketsUrl" : "http://theacc.com/sports/2019/9/28/ACCFBALLCHAMPTIX.aspx"
		}
	}
</script>
<style type="text/css">#component-custom-html-1 {
  margin-bottom: 0;
  padding-bottom: 0;
}
</style>
<div class="championship" id="sportfile-847">
  <section class="section" id="component-page-header"></section>
<!-- <div id="component-promos" class="section"></div> -->

  <section class="section" id="section-info">
    <div class="row">
      <div class="small-12 x-large-8 columns">
        <div id="component-hero"></div>
      </div>
      <div class="small-12 x-large-4 columns">
        <aside class="sidebar">
          <div class="ad">
            <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script><script>
	            var googletag = googletag || {};
		            googletag.cmd = googletag.cmd || [];
		            googletag.cmd.push(function() {
		              googletag.defineSlot('/63316753/raycom-sports/theacc.com', [300, 250], 'div-gpt-ad-1510691386580-0').addService(googletag.pubads());
		              googletag.enableServices();
		            });
	          </script>
            <div id="div-gpt-ad-1510691386580-0" style="height:250px; width:300px;">
              <script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1510691386580-0'); });</script>
            </div>
          </div>
          <div id="component-featured-links"></div>
        </aside>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="row">
      <div class="small-12 large-7 x-large-8 columns">
        <!-- <div class="section" id="component-bracket"></div> -->
        <!--
        <div class="section" id="component-custom-html-1"></div>
        <table class="sidearm-table collapse-on-small" style="margin-bottom:30px;">
          <thead>
            <tr>
              <th>Type</th>
              <th>Cost</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Full Tournament (Adult) </td>
              <td>$10</td>
            </tr>
            <tr>
              <td>Single Game (Adult)</td>
              <td>$5</td>
            </tr>
            <tr>
              <td>Youth (18 and younger)</td>
              <td>Free</td>
            </tr>
          </tbody>
        </table>
        -->

        <div id="component-custom-html-2" class="section-header clearfix">
          <div class="section-header-title">
            Schedule of Events
          </div>
        </div>
        <table class="sidearm-table collapse-on-small" style="margin-bottom:30px;">
          <thead>
            <tr>
              <th>DATE</th>
              <th>TIME</th>
              <th>MATCHUP</th>
              <th>WATCH</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="row-header" colspan="6"><strong>QUARTERFINALS</strong></td>
            </tr>
            <tr>
              <td>Thursday, Nov. 5</td>
              <td>2 PM</td>
              <td>#5 Seed vs #4 Seed</td>
              <td><a href="#">TBD</a></td>
            </tr>
            <tr>
              <td>Thursday, Nov. 5</td>
              <td>4:30 PM</td>
              <td>#7 Seed vs #2 Seed</td>
              <td><a href="#">TBD</a></td>
            </tr>
            <tr>
              <td>Thursday, Nov. 5</td>
              <td>7 PM</td>
              <td>#6 Seed vs #3 Seed</td>
              <td><a href="#">TBD</a></td>
            </tr>
            <tr>
              <td class="row-header" colspan="6"><strong>SEMIFINALS</strong></td>
            </tr>
            <tr>
              <td>Friday, Nov. 6</td>
              <td>1:30 PM</td>
              <td>#1 Seed vs. Game 1 Winner</td>
              <td><a href="#">TBD</a></td>
            </tr>
            <tr>
              <td>Friday, Nov. 6</td>
              <td>4 PM</td>
              <td>Game 2 Winner vs. Game 3 Winner</td>
              <td><a href="#">TBD</a></td>
            </tr>
            <tr>
              <td class="row-header" colspan="6"><strong>Championship</strong></td>
            </tr>
            <tr>
              <td>Sunday, Nov. 8</td>
              <td>Noon</td>
              <td>Game 4 Winner vs. Game 5 Winner</td>
              <td><a href="#" target="_blank">TBD</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="small-12 large-5 x-large-4 columns"><!-- <div id="section-custom-html-3"></div> -->
        <div class="section" id="component-social-twitter"></div>
        <div class="section" id="component-weather"></div>
      </div>
    </div>
  </section>

  <section class="section" id="component-stories"></section>

  <section class="section" data-path="fhockey" id="component-standings"></section>
</div>
