<script>
	var saPath = 'wlax',
		saView = 'simple',
		saDetail = 'short',
		saFormat = 'json',
		qTags = '',
		qLiveTags = '';
</script>
<style type="text/css">
	.sidearm-table .sport-logo {
		text-align: center;
	}
	.sidearm-table .sport-logo img {
		max-height: 50px;
		float: left;
	}
	#section-header {
		background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/3/28/header-womens-lacrosse-champ-mobile.png');
	}
	@media (min-width: 768px) {
		#section-header {
			background-image: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/3/28/header-womens-lacrosse-champ-desktop.png');
		}
	}
</style>
<div id="sportfile-827">
	<section id="section-header">
		<div class="row">
			<div class="small-12 columns">
				<h1>2019 ACC Women's Lacrosse Championship</h1>
				<h2>Aprill 24, 26, &amp; 28 | Hosted by Boston College</h2>
			</div>
		</div>
		<div class="row">
			<div class="hide-on-medium-down large-2 columns">&nbsp;</div>
			<div class="medium-12 large-4 columns">
				<div id="page-logo">
					<img src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/3/28/logo-womens-lacrosse-champ.png" />
				</div>
			</div>
			<div class="medium-12 large-4 columns">
				<div id="anchor-nav">
					<ul>
						<li><span data-location="section-bracket"><i class="icon-list"></i>Bracket</span></li>
						<li><span data-location="section-watch"><i class="icon-tablet"></i>Watch</span></li>
						<li><span data-location="section-social"><i class="icon-share"></i>Social</span></li>
	          <li><span data-location="section-weather"><i class="icon-weather-sun"></i>Local Weather</span></li>
	          <li><span data-location="section-stories"><i class="icon-stories"></i>Related Stories</span></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section id="section-info">
		<div class="row">
			<div class="medium-12 large-8 columns">
				<a id="story-container" href="">
					<div id="story-holder" style="position:relative;padding-bottom:56.25%;height:0;margin:0 auto;">
						<img id="story" style="position:absolute;top:0;left:0;width:100%;height:100%;border:0;" src="" />
					</div>
					<div id="story-details">
						<div id="story-title"></div>
						<div id="story-date"></div>
					</div>
				</a>
			</div>
			<div class="medium-12 large-4 columns">
				<aside style="background:#f2f2f2;padding:8px 0 0 0;">
					<section>
						<div style="text-align:center;">
							<div style="display:flex;justify-content:center;align-items:center;width:300px;margin:20px auto 20px;height:250px;background:#999;margin-bottom:30px;">
								<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
								<script>
								  var googletag = googletag || {};
								  googletag.cmd = googletag.cmd || [];
								</script>
								<script>
								  googletag.cmd.push(function() {
								    googletag.defineSlot('/63316753/raycom-sports/theacc.com', [300, 250], 'div-gpt-ad-1510691386580-0').addService(googletag.pubads());
								    googletag.enableServices();
								  });
								</script>
								<div id='div-gpt-ad-1510691386580-0' style='height:250px; width:300px;'>
									<script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1510691386580-0'); });</script>
								</div>
							</div>
						</div>
						<h4>Featured Links</h4>
						<ul>
							<li>Coming Soon...</li>
						</ul>
					</section>
				</aside>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div id="section-bracket" class="small-12 large-7 x-large-8 columns">
				<h3>Bracket</h3>
				<img style="max-width:100%;height:auto;margin-top:30px;" src="/images/2019/4/24/2019_WLAX_Bracket_UPDATED.jpg" />
			</div>
			<div class="small-12 large-5 x-large-4 columns">
				<div id="section-ticket-info">
					<h3 style="margin-bottom: 30px;">Ticket Info</h3>
 						<strong>All Session tickets (all days, all games):</strong>
						<ul>
							<li>Adults - $20</li>
							<li>Students/Seniors - $10</li>
							<li>Kids six and under - Free</li>
						</ul>
						<strong>Individual Session (all games in one day):</strong>
						<ul>
							<li>Adults - $12</li>
							<li>Students/Seniors - $6</li>
							<li>Kids six and under - Free</li>
						</ul>
				</div>
				<div id="section-social">
					<h3 id="social">Social (<a target="_blank" href="https://twitter.com/accwlax">@ACCWLax</a>)</h3>
					<div class="social-holder">
						<div class="social-feed">
							<div class="social-container">
								<a class="twitter-timeline" data-chrome="noheader nofooter" data-tweet-limit="10" height="600" href="https://twitter.com/accwlax" width="100%">Tweets by ACCWLax</a>
								<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
							</div>
						</div>
					</div>
				</div>
				<h3 id="section-weather">Local Weather</h3>
				<div class="weather-holder">
					<div id="cont_bcada80ce240c5078b902026bc8f0cd6" class="weather-mobile"><script type="text/javascript" async src="https://www.theweather.com/wid_loader/bcada80ce240c5078b902026bc8f0cd6"></script></div>
					<div id="cont_2e3a44437ae85b6a630d255687eca80d" class="weather-desktop"><script type="text/javascript" async src="https://www.theweather.com/wid_loader/2e3a44437ae85b6a630d255687eca80d"></script></div>
				</div>
			</div>
		</div>
	</section>

	<section id="section-stories">
		<div class="row">
			<div class="small-12 columns">
				<h3>Stories</h3>
				<div class="feed" id="stories"></div>
				<div class="feed-load-more" data-page="1" id="load-more-stories"><span>Load More Stories</span></div>
			</div>
		</div>
	</section>

	<section id="section-watch">
		<div class="row">
			<div class="small-12 columns">
				<h3>Watch</h3>
				<table class="sidearm-table collapse-on-small" style="margin-bottom:30px;">
					<thead>
						<tr>
							<th>Day, Date</th>
							<th>Time</th>
							<th>Matchup</th>
							<th>Local Affiliates</th>
							<th>In Market Live Stream</th>
							<th>Out of Market Live Stream</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Wed 4/24</td>
							<td>11:00 am</td>
							<td>#8 Louisville vs #1 Boston College</td>
							<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/4/23/WLAX_ACCTG1.aspx">Affiliates</a></td>
							<td><a target="_blank" href="//www.foxsportsgo.com" title="In Market Live Stream">foxsportsgo.com</a></td>
							<td><a target="_blank" href="//www.espn.com/watch/_/id/3511227/louisville-vs-1-boston-college-quarterfinal" title="Out of Market Live Stream">espn.com/watch/</a></td>
						</tr>
						<tr>
							<td>Wed 4/24</td>
							<td>2:00 pm</td>
							<td>#5 Virginia vs. #4 Syracuse</td>
							<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/4/23/WLAX_ACCTG2.aspx">Affiliates</a></td>
							<td><a target="_blank" href="//www.foxsportsgo.com" title="In Market Live Stream">foxsportsgo.com</a></td>
							<td><a target="_blank" href="//www.espn.com/watch/_/id/3511225/7-syracuse-vs-4-virginia-quarterfinal" title="Out of Market Live Stream">espn.com/watch/</a></td>
						</tr>
						<tr>
							<td>Wed 4/24</td>
							<td>5:00 pm</td>
							<td>#7 Virginia Tech vs. #2 North Carolina</td>
							<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/4/23/WLAX_ACCTG3.aspx">Affiliates</a></td>
							<td><a target="_blank" href="//www.foxsportsgo.com" title="In Market Live Stream">foxsportsgo.com</a></td>
							<td><a target="_blank" href="//www.espn.com/watch/_/id/3511224/virginia-tech-vs-3-north-carolina-quarterfinal" title="Out of Market Live Stream">espn.com/watch/</a></td>
						</tr>
						<tr>
							<td>Wed 4/24</td>
							<td>8:00 pm</td>
							<td>#6 Duke vs. #3 Notre Dame</td>
							<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/4/23/WLAX_ACCTG4.aspx">Affiliates</a></td>
							<td><a target="_blank" href="//www.foxsportsgo.com" title="In Market Live Stream">foxsportsgo.com</a></td>
							<td><a target="_blank" href="//www.espn.com/watch/_/id/3511226/18-duke-vs-6-notre-dame-quarterfinal" title="Out of Market Live Stream">espn.com/watch/</a></td>
						</tr>
						<tr>
							<td>Fri 4/26</td>
							<td>5:00 pm</td>
							<td>#4 Syarcuse at #1 Boston College</td>
							<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/4/23/WLAX_ACCTS1.aspx">Affiliates</a></td>
							<td><a target="_blank" href="//www.foxsportsgo.com" title="In Market Live Stream">foxsportsgo.com</a></td>
							<td><a target="_blank" href="//www.espn.com/watch/" title="Out of Market Live Stream">espn.com/watch/</a></td>
						</tr>
						<tr>
							<td>Fri 4/26</td>
							<td>8:00 pm</td>
							<td>#6 Duke at #2 North Carolina</td>
							<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/4/23/WLAX_ACCTS2.aspx">Affiliates</a></td>
							<td><a target="_blank" href="//www.foxsportsgo.com" title="In Market Live Stream">foxsportsgo.com</a></td>
							<td><a target="_blank" href="//www.espn.com/watch/" title="Out of Market Live Stream">espn.com/watch/</a></td>
						</tr>
						<tr>
							<td>Sun 4/28</td>
							<td>1:00 pm</td>
							<td>Championship</td>
							<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/4/23/WLAX_ACCTCHAMP.aspx">Affiliates</a></td>
							<td><a target="_blank" href="//www.foxsportsgo.com" title="In Market Live Stream">foxsportsgo.com</a></td>
							<td><a target="_blank" href="//www.espn.com/watch/" title="Out of Market Live Stream">espn.com/watch/</a></td>
						</tr>
						<!-- sport logos path --><!--
							football			= /images/2018/9/21/logo_acc_football.png
							basketball		= /images/2018/11/15/ACC_Basketball_Digital_WBG.png
							men's soccer	= /images/2018/9/21/logo_acc_msoc.png
							volleyball		= /images/2018/10/3/volleyball_ball_solid.png
						-->
					</tbody>
				</table>
			</div>
		</div>
	</section>

</div>
