<script type="text/javascript">
  // digitalocean.com/community/tutorials/an-introduction-to-json
  // https://www.theweather.com/widget/
  var content = {
    "stories": {
      "path": "wgolf"
    },
		/*
		"promos" : [
			{ 
				"target" : "_blank",
				"linkUrl" : "https://www.primesport.com/d/acc-championship-football-tickets?utm_source=theacc.com&utm_medium=referral&utm_campaign=college_football_acc_championship&utm_content=web_sellout_11152017",
				"imageAltText" : "Ticket Master", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_BuyTickets_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "http://promotions.theacc.com/suitelife/",
				"imageAltText" : "Suite Life", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_SuiteLife_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "https://www.primesport.com/d/acc-championship-football-tickets?utm_source=acc&utm_medium=referral&utm_content=acc_web_football_sports_page_link&utm_campaign=college_football_packages",
				"imageAltText" : "PrimeSport", 
				"imageUrl" : "/images/2017/11/16/410x210_PrimeSport_ACCFanFest.png" 
			},
			{ 
				"target" : "_parent",
				"linkUrl" : "/sports/2013/10/18/_131481558982348592.aspx",
				"imageAltText" : "Fan Fest", 
				"imageUrl" : "/images/2017/11/16/479611025559976.Ux8H2p4WAnOBqp1GkFGM_height640.png" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "http://theacc.co/fcg17gameday",
				"imageAltText" : "Gameday", 
				"imageUrl" : "/images/2017/11/28/ESPN_Gameday_Promo_456x257_34.png" 
			},
			{ 
				"target" : "_parent",
				"linkUrl" : "/fan5k",
				"imageAltText" : "Fan 5k", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_Fan5k_410x210.jpg" 
			},
			{ 
				"target" : "_parent",
				"linkUrl" : "/nightoflegends",
				"imageAltText" : "Night of Legends", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_Legends_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "http://raycomsports.com/sports_labs_docs/m-footbl/2017_accfcg_kids_combine_flyer.pdf?utm_source=all&utm_medium=post&utm_campaign=fb&utm_content=champ",
				"imageAltText" : "Kids Combine", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_KidsCombine_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "#",
				"imageAltText" : "Bojangles", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_FourPack_410x210.jpg" 
			}
		],
		*/
    "featuredLinks": [
      {
        "target": "_parent",
        "title": "Schedule of Events (coming soon)",
        "url": "#"
      },
      {
        "target": "_blank",
        "title": "Tee Times and Pairings (coming soon)",
        "url": "#"
      },
      {
        "target": "_blank",
        "title": "Watch Links (coming soon)",
        "url": "#"
      },
      {
        "target": "_blank",
        "title": "Tiebreakers (coming soon)",
        "url": "#"
      }
    ],
    "social": {
      "twitter": "accwgolf"
    },
    "weather": {
      "mobile": "b6da4f075bb365127da6a766347043b2",
      "desktop": "56223d3ad198e316d457b48b1ef21bb5"
    },
    "championship": {
      "id": "81", //required
      "title": "2020 ACC Women's Golf Championship",
      "subtitles": [
        "April 23-26 | Pawley's Island, SC"
      ],
      "headerImages": {
        "mobile": "/images/2018/4/3/17_18_WEB_Spring_ChampionshipHeaders_WGOLF_MOBILE.png",
        "desktop": "/images/2018/4/3/17_18_WEB_SPRING_ChampionshipHeaders_WGOLF.png"
      },
      //"teaserUrl" : "https://bcove.video/2roCoN5",
			/*
			"bracket" : {
				"url" : "",
				"paragraphs" : [
					""
				]
			},
			*/
      "customHtml1Title": "Watch",
      "customHtml2Title": "Seeds",
      //"customHtml3Title" : "More",
      //"ticketsUrl" : "http://theacc.com/sports/2019/9/28/ACCFBALLCHAMPTIX.aspx"
    }
  }
</script>
<!--
	Available components:
	- component-page-header
	- component-hero
	- component-promos
	- component-featured-links
	- component-videos
	- component-social-twitter
	- component-stories
	- component-weather
-->
<div class="championship" id="sportfile-851">
  <section class="section" id="component-page-header"></section>
  <!-- <div id="component-promos" class="section"></div> -->

  <section class="section" id="section-info">
    <div class="row">
      <div class="small-12 x-large-8 columns">
        <div id="component-hero"></div>
      </div>

      <div class="small-12 x-large-4 columns">
        <aside class="sidebar">
          <div class="ad">
            <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
            <script>
              var googletag = googletag || {};
              googletag.cmd = googletag.cmd || [];
              googletag.cmd.push(function () {
                googletag.defineSlot('/63316753/raycom-sports/theacc.com', [300, 250], 'div-gpt-ad-1510691386580-0').addService(googletag.pubads());
                googletag.enableServices();
              });
            </script>
            <div id="div-gpt-ad-1510691386580-0" style="height:250px; width:300px;">
              <script>googletag.cmd.push(function () { googletag.display('div-gpt-ad-1510691386580-0'); });</script>
            </div>
          </div>

          <div id="component-featured-links"></div>
        </aside>
      </div>
    </div>
  </section>

  <section class="section" id="component-stories"></section>

  <section class="section">
    <div class="row">
      <div class="small-12 large-7 x-large-8 columns">
        <!-- <div id="component-bracket"></div> -->
        <div id="component-custom-html-1"></div>

        <div id="component-custom-html-2"></div>
      </div>

      <div class="small-12 large-5 x-large-4 columns">
        <div class="section" id="component-social-twitter"></div>

        <div class="section" id="component-weather"></div>
      </div>
    </div>
  </section>
  <!-- <section id="component-custom-html-3"></section> -->
  <!-- <section id="component-standings" class="section" data-path="fencing"></section> -->
</div>