<script type="text/javascript">
	// digitalocean.com/community/tutorials/an-introduction-to-json
	// https://www.theweather.com/widget/
	var content = {
		"stories" : {
			"path" : "msoc"
		},
		/*
		"promos" : [
			{ 
				"target" : "_blank",
				"linkUrl" : "https://www.primesport.com/d/acc-championship-football-tickets?utm_source=theacc.com&utm_medium=referral&utm_campaign=college_football_acc_championship&utm_content=web_sellout_11152017",
				"imageAltText" : "Ticket Master", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_BuyTickets_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "http://promotions.theacc.com/suitelife/",
				"imageAltText" : "Suite Life", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_SuiteLife_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "https://www.primesport.com/d/acc-championship-football-tickets?utm_source=acc&utm_medium=referral&utm_content=acc_web_football_sports_page_link&utm_campaign=college_football_packages",
				"imageAltText" : "PrimeSport", 
				"imageUrl" : "/images/2017/11/16/410x210_PrimeSport_ACCFanFest.png" 
			},
			{ 
				"target" : "_parent",
				"linkUrl" : "/sports/2013/10/18/_131481558982348592.aspx",
				"imageAltText" : "Fan Fest", 
				"imageUrl" : "/images/2017/11/16/479611025559976.Ux8H2p4WAnOBqp1GkFGM_height640.png" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "http://theacc.co/fcg17gameday",
				"imageAltText" : "Gameday", 
				"imageUrl" : "/images/2017/11/28/ESPN_Gameday_Promo_456x257_34.png" 
			},
			{ 
				"target" : "_parent",
				"linkUrl" : "/fan5k",
				"imageAltText" : "Fan 5k", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_Fan5k_410x210.jpg" 
			},
			{ 
				"target" : "_parent",
				"linkUrl" : "/nightoflegends",
				"imageAltText" : "Night of Legends", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_Legends_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "http://raycomsports.com/sports_labs_docs/m-footbl/2017_accfcg_kids_combine_flyer.pdf?utm_source=all&utm_medium=post&utm_campaign=fb&utm_content=champ",
				"imageAltText" : "Kids Combine", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_KidsCombine_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "#",
				"imageAltText" : "Bojangles", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_FourPack_410x210.jpg" 
			}
		],
		*/
		"featuredLinks" : [
			{ 
				"target" : "_parent", 
				"title" : "Bracket",
				"url" : "/documents/2020/9/23/2020_ACC_Men_s_Soccer_Championship_Bracket_8_teams.pdf" 
			},
			{ 
				"target" : "_parent", 
				"title" : "Standings", 
				"url" : "/standings.aspx?path=msoc" 
			},
			{ 
				"target" : "_parent", 
				"title" : "Seeding and Tiebreakers Information", 
				"url" : "/documents/2020/9/23/M_Soccer_Seeding_Language_for_2020_Season.pdf"
			},
			{ 
				"target" : "_blank", 
				"title" : "940 E Chatham Street, Cary, NC 27511", 
				"url" : "https://goo.gl/maps/NtNyZiRTXgRUsSvQ8" 
			}
		],
		"social" : {
			"twitter" : "accmsoccer"
    },
		"weather" : {
			"mobile" : "33d460f87d40fd5df90edf6b6d799a12",
			"desktop" : "7bf63513fe3dc5bc5e064941a31601a1"
		},
		"championship" : {
			"id" : "72", //required
			"title" : "2020 ACC Men's Soccer Championship",
			"subtitles" : [ 
        "Nov. 15 Quarterfinals & Nov. 18 Semifinals | Campus Sites",
        "Championship: Nov. 22 | WakeMed Soccer Park | Cary, N.C"
			],
			"headerImages" : {
				"mobile" : "/images/2018/6/19/18_Mobile_FALL_ChampionshipHeaders_MSOC_v3.png",
				"desktop" : "/images/2018/6/19/18_WEB_FALL_ChampionshipHeaders_MSOC_v2.png"
			},
      //"teaserUrl" : "https://player.watchstadium.com/60/iframe.html?asset_id=156772&codec=&player_id=&t60ype=vod",
      /*
			"bracket" : {
				"url" : "/documents/2019/10/25/19_20_WBB_WBBT_Bracket_Final.pdf",
				"paragraphs" : [
					""
				]
      },
      */
			// "customHtml1Title" : "Tickets",
			"customHtml2Title" : "Schedule of Events",
			//"customHtml3Title" : "More",
			//"ticketsUrl" : "http://theacc.com/sports/2019/9/28/ACCFBALLCHAMPTIX.aspx"
		}
	}
</script>
<style type="text/css">#component-custom-html-1 {
  margin-bottom: 0;
  padding-bottom: 0;
}
</style>
<div class="championship" id="sportfile-847">
  <section class="section" id="component-page-header"></section>
<!-- <div id="component-promos" class="section"></div> -->

  <section class="section" id="section-info">
    <div class="row">
      <div class="small-12 x-large-8 columns">
        <div id="component-hero"></div>
      </div>
      <div class="small-12 x-large-4 columns">
        <aside class="sidebar">
          <div class="ad">
            <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script><script>
	            var googletag = googletag || {};
		            googletag.cmd = googletag.cmd || [];
		            googletag.cmd.push(function() {
		              googletag.defineSlot('/63316753/raycom-sports/theacc.com', [300, 250], 'div-gpt-ad-1510691386580-0').addService(googletag.pubads());
		              googletag.enableServices();
		            });
	          </script>
            <div id="div-gpt-ad-1510691386580-0" style="height:250px; width:300px;">
              <script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1510691386580-0'); });</script>
            </div>
          </div>
          <div id="component-featured-links"></div>
        </aside>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="row">
      <div class="small-12 large-7 x-large-8 columns">
        <!-- <div class="section" id="component-bracket"></div> -->
        <!--
        <div class="section" id="component-custom-html-1"></div>
        <table class="sidearm-table collapse-on-small" style="margin-bottom:30px;">
          <thead>
            <tr>
              <th>Type</th>
              <th>Cost</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Single Session (Adult)</td>
              <td>$10</td>
            </tr>
            <tr>
              <td>Youth (18 and younger)</td>
              <td>Free</td>
            </tr>
            <tr>
              <td>All ACC students with valid ID</td>
              <td>Free</td>
            </tr>
          </tbody>
        </table>
        -->
        <div id="component-custom-html-2" class="section-header clearfix">
          <div class="section-header-title">
            Schedule of Events
          </div>
        </div>
        <table class="sidearm-table collapse-on-small" style="margin-bottom:30px;">
          <thead>
            <tr>
              <th>Time</th>
              <th>Event</th>
              <th>Teams</th>
              <th>Watch</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="6" class="row-header"><strong>Quarterfinals | NOVEMBER 15, 2020 | CAMPUS SITES</strong></td>
            </tr>
            <tr>
              <td>TBD</td>
              <td>Match 1</td>
              <td>#4 Seed South vs #1 Seed North</td>
              <td><a target="_blank" href="#">ACC Network</a></td>
            </tr>
            <tr>
              <td>TBD</td>
              <td>Match 2</td>
              <td>#3 Seed North vs #2 Seed South</td>
              <td><a target="_blank" href="#">ACC Network</a></td>
            </tr>
            <tr>
              <td>TBD</td>
              <td>Match 3</td>
              <td>#2 Seed North vs #3 Seed South</td>
              <td><a target="_blank" href="#">ACC Network</a></td>
            </tr>
            <tr>
              <td>TBD</td>
              <td>Match 4</td>
              <td>#4 Seed North vs #1 Seed South</td>
              <td><a target="_blank" href="#">ACC Network</a></td>
            </tr>
            <tr>
              <td colspan="6" class="row-header"><strong>Semifinals | NOVEMBER 18, 2020 | CAMPUS SITES</strong></td>
            </tr>
            <tr>
              <td>TBD</td>
              <td>Match 5</td>
              <td>Match 1 Winner vs. Match 2 Winner</td>
              <td><a target="_blank" href="#">ACC Network</a></td>
            </tr>
            <tr>
              <td>TBD</td>
              <td>Match 6</td>
              <td>Match 3 Winner vs. Match 4 Winner</td>
              <td><a target="_blank" href="#">ACC Network</a></td>
            </tr>
            <tr>
              <td colspan="6" class="row-header"><strong>FINALS | NOVEMBER 22, 2020 | WAKEMED SOCCER PARK</strong></td>
            </tr>
            <tr>
              <td>TBDn</td>
              <td>Match 7</td>
              <td>Match 5 Winner vs Match 6 Winner</td>
              <td><a target="_blank" href="#">ESPNU</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="small-12 large-5 x-large-4 columns"><!-- <div id="section-custom-html-3"></div> -->
        <div class="section" id="component-social-twitter"></div>
        <div class="section" id="component-weather"></div>
      </div>
    </div>
  </section>

  <section class="section" id="component-stories"></section>

  <section class="section" data-path="msoc" id="component-standings"></section>
</div>
