<script>
		var saPath = 'football',
				saView = 'simple',
				saDetail = 'short',
				saFormat = 'json',
		    qTags = '216,317',
				qLiveTags = '216,317';
</script>
<style type="text/css">
	.clearfix::after {
		content: "";
		clear: both;
		display: table;
	}
	#page-header {
		background: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/11/14/17_18_FBL_FCG_ChampPage_600x1300.jpg') no-repeat;
		background-size: cover;
		background-position: center center;
		background-color: #013ca6;
		margin-bottom: 30px;
		padding: 10px 0 20px;
	}
	#page-header h1,
	#page-header h2 {
		text-align: center;
		color: #fff;
		font-size: 1.5em;
		text-shadow: 1px 1px 1px #000;
		margin-bottom: 10px;
	}
	#page-header h2 {
		font-size: 1.2em;
	  margin-top: 0;
	  margin-bottom: 0;
	}
	#page-header #page-logo {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
	#page-header #page-logo img {
	  max-height: 200px;
	  width: auto;
	  max-width: 100%;
	}
	#page-header #page-header-video-holder {
		border: 3px solid #f2f2f2;
	}
	section {
		margin-bottom: 0px;
	}
	section#sponsors {
		margin-bottom: 20px;
		text-align: center;
		display: none;
	}
	section#sponsors .sponsor {
		margin-bottom: 20px;
		margin-right: 50px;
		display: inline-block;
		text-align: center;
	}
	section#sponsors .sponsor:last-child {
		margin-right: 0;
	}
	section#sponsors .sponsor a {
		display: block;
		padding: 8px 14px;
		color: #fff;
		text-decoration: none;
		background: #013ca6;
	}
	.ad-call {
		width: 300px;
		height: 50px;
		margin: 0 auto;
	}
	section#promos {
		margin-bottom: 20px;
	}
	section#promos a {
		display: block;
		margin-bottom: 30px;
		border: 3px solid #d9d9d9;
	}
	section#section-watch {
		padding-bottom: 30px;
	}
	section#section-watch h3 {
		margin-bottom: 0;
	}
	section#section-watch table tbody td {
		text-align: center;
	}
	section#section-watch table tbody td a {
		color: #013ca6;
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;
	}
	@media (min-width: 768px) {
		section {
			margin-bottom: 50px;
		}
		#page-header {
			background: url('http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/11/14/17_18_FBL_FCG_ChampPage_1450x650.jpg') no-repeat;
			background-position: center;
			padding: 13px 100px 50px 100px;
		}
		#page-header h1 {
			font-size: 2.2em;
			margin-bottom: 0px;
			margin-top: 46px;
		}
		#page-header h2 {
			font-size: 2em;
		}
		#page-header h2:last-child {
			margin-bottom: 40px;
		}
		#page-header #page-logo {
			padding-top: 30px;
			padding-left: 90px;
		}
		#page-header #anchor-nav {
			text-align: center;
			margin-bottom: 40px;
		}
		#page-header #anchor-nav ul li {
			display: inline-block;
		}
		.container {
			width: 1200px;
		}
		section.callouts-desktop {
			display: block;
		}
		section.callouts-mobile {
			display: none;
		}
		section#callouts .callout {
			margin-bottom: 14px;
		}
		section#callouts .callout a img {
			height: 155px;
		}
		.ad-call {
			width: 970px;
			height: 60px;
		}
	}
</style>

<section id="page-header">
	<div class="container">
		<div class="row">
			<div class="small-12 columns">
				<h1>2018 Dr Pepper ACC Football Championship Game</h1>
				<h2>December 1 - 8 p.m. | Bank of America Stadium | Charlotte, NC</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-6 columns">
			<div id="page-logo">
				<img src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/6/6/ACC_2018_FCG_LOGO_Digital.png" />
			</div>
		</div>
		<div class="small-12 medium-5 columns">
			<div id="page-header-video" style="background:#999;">
				<div id="page-header-video-holder">
					<iframe  id="page-header-video-iframe" src="https://player.watchstadium.com/54/iframe.html?asset_id=153819&codec=&player_id=54&type=vod" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen scrolling="no"></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<div id="anchor-nav">
				<ul>
					<li><span data-location="section-videos"><i class="icon-video"></i>Videos</span></li>
					<li><span data-location="section-stories"><i class="icon-stories"></i>Related Stories</span></li>
					<li><span data-location="section-watch"><i class="icon-tv"></i>Watch</span></li>
					<!-- <li><span data-location="section-social"><i class="icon-share"></i>Social Hub</span></li> -->
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="promos">
		<div class="row">
			<div class="small-12 medium-2 columns">
				<a target="_blank" href="https://www1.ticketmaster.com/event/2D005532EB60856A">
					<img class="img-responsive" alt="Promo" src="/images/2018/11/26/18_19_FBL_FCG_WebGraphics_Matchup_1920x1080_11_20.png" />
				</a>
			</div>
			<div class="small-12 medium-2 columns">
				<a target="_blank" href="https://www.primesport.com/d/acc-championship-football-tickets?utm_source=theacc.com&utm_medium=referral&utm_campaign=college_football_acc_championship&utm_content=acc_championship_game_page_link">
					<img class="img-responsive" alt="Promo" src="/images/2018/11/9/championship-football-prime-sport.png" />
				</a>
			</div>
			<div class="small-12 medium-2 columns">
				<a target="_blank" href="/news/2018/11/14/acc-football-championship-game-mobile-ticket-instructions.aspx">
					<img class="img-responsive" alt="Promo" src="/images/2018/11/17/18_19_FBL_FCG_HomepageGraphics_MobileTicket.png" />
				</a>
			</div>
			<div class="small-12 medium-2 columns">
				<a target="_blank" href="/fan5k">
					<img class="img-responsive" alt="Promo" src="/images/2018/7/27/18_19_FBL_FCG_HomepageGraphics_Fan5K.png" />
				</a>
			</div>
			<div class="small-12 medium-2 columns">
				<a target="_blank" href="/kidscombine">
					<img class="img-responsive" alt="Promo" src="/images/2018/7/27/18_19_FBL_FCG_HomepageGraphics_KidsCombine.png" />
				</a>
			</div>
			<div class="small-12 medium-2 columns">
				<a target="_blank" href="https://www.primesport.com/acctailgate">
					<img class="img-responsive" alt="Promo" src="/images/2018/11/21/18_19_FBL_FCG_HomepageGraphics_TailgateCentralFree.png" />
				</a>
			</div>
		</div>
</section>

<section id="section-info">
	<div class="row">
		<div class="medium-12 large-8 columns">
			<div id="player-container">
				<div id="player-holder" style="position:relative;padding-bottom:56.25%;height:0;margin:0 auto;">
					<iframe id="player" style="position:absolute;top:0;left:0;width:100%;height:100%;border:0;" src="" scrolling="no" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
				</div>
				<div id="player-details">
					<div id="player-title"></div>
					<div id="player-date"></div>
				</div>
			</div>
		</div>
		<div class="medium-12 large-4 columns">
			<aside style="background:#f2f2f2;padding:8px 0 0 0;">
				<section>
					<div style="text-align:center;">
						<div style="display:flex;justify-content:center;align-items:center;width:300px;margin:20px auto 20px;height:250px;background:#999;margin-bottom:30px;">
							<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
							<script>
							  var googletag = googletag || {};
							  googletag.cmd = googletag.cmd || [];
							</script>
							<script>
							  googletag.cmd.push(function() {
							    googletag.defineSlot('/63316753/raycom-sports/theacc.com', [300, 250], 'div-gpt-ad-1510691386580-0').addService(googletag.pubads());
							    googletag.enableServices();
							  });
							</script>
							<div id='div-gpt-ad-1510691386580-0' style='height:250px; width:300px;'>
								<script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1510691386580-0'); });</script>
							</div>
						</div>
					</div>
					<h4>Featured Links</h4>
					<ul>
						<li><a target="_blank" href="https://www1.ticketmaster.com/event/2D005532EB60856A">Tickets</a></li>
						<li><a target="_blank" href="https://www.primesport.com/d/acc-championship-football-tickets?utm_source=theacc.com&utm_medium=referral&utm_campaign=college_football_acc_championship&utm_content=acc_championship_game_page_link">Prime Sport - Premium Tickets &amp; Experiences</a></li>
						<li><a target="_blank" href="http://promotions.theacc.com/fcgfourpack/">Bojangles' 4 Pack</a></li>
						<li><a target="_blank" href="http://promotions.theacc.com/fan5k/">ACC Fan 5K and Kids Mascot Run</a></li>
						<li><a target="_blank" href="https://promotions.theacc.com/acc-football-2018-kids-combine/">KIDS' COMBINE</a></li>
						<li><a target="_blank" href="https://www.primesport.com/d/acc-championship-hospitality">ACC Championship Tailgate</a></li>
						<li><a target="_blank" href="https://www.panthers.com/stadium/policies">Stadium Policies</a></li>
						<li><a target="_blank" href="https://am.ticketmaster.com/college/">Manage Your Tickets</a></li>
						<li><a target="_blank" href="/documents/2018/11/27/2018_ACCFCG_Flip_Card.pdf">Flip Card</a></li>
						<li><a target="_blank" href="/fcgfanfest">FanFest</a></li>
					</ul>
				</section>
			</aside>
			<!--
			<a class="twitter-timeline" style="margin-bottom:40px;" height="800" width="100%" data-chrome="" href="https://twitter.com/accfootball">Tweets by accfootball</a>
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			-->
		</div>
	</div>
</section>

<section id="section-videos">
	<div class="row">
		<div class="small-12 columns">
			<h3>Videos</h3>
			<div id="playlist" class="feed"></div>
			<div id="load-more-videos" class="feed-load-more" data-offset="0">
				<span>Load More Videos</span>
			</div>
		</div>
	</div>
</section>

<section id="section-stories">
	<div class="row">
		<div class="small-12 columns">
			<h3>Stories</h3>
			<div class="feed" id="stories"></div>
			<div class="feed-load-more" data-page="1" id="load-more-stories"><span>Load More Stories</span></div>
		</div>
	</div>
</section>

<section id="section-watch">
	<div class="row">
		<div class="small-12 columns">
			<h3>Watch</h3>
			<table class="sidearm-table collapse-on-small">
				<tbody>
					<tr>
						<td><a target="_blank" href="http://www.espn.com/watch/_/id/3458712/acc-championship-head-coach-press-conferences">Head Coaches Press Conference</a></td>
						<td><a target="_blank" href="http://www.espn.com/watch/_/id/3458713/acc-night-of-legends">Night of Legends</a></td>
						<td><a target="_blank" href="http://www.espn.com/watch/_/id/3460186/2-clemson-vs-24-pittsburgh-acc-football-championship">ACCFCG Champ Game (ABC)</a></td>
						<td><a target="_blank" href="http://www.espn.com/watch/_/id/3457440/dr-pepper-acc-championship-trophy-ceremony">Champ Trophy Ceremony</a></td>
						<td><a target="_blank" href="http://www.espn.com/watch/_/id/3458711/acc-football-championship-postgame-press-conferences">Postgame Press Conferences</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
