<script type="text/javascript">
	// digitalocean.com/community/tutorials/an-introduction-to-json
	// https://www.theweather.com/widget/
	var content = {
    /*
		"videos" : {
			"customFields" : {
				"sport" : "Football",
				"schools" : ["Clemson", "Virginia"]
			}
		},
    */
		"stories" : {
			"path" : "mgolf"
		},
    /*
		"promos" : [
			{ 
				"target" : "_blank",
				"linkUrl" : "https://theacc.co/ACCFBTickets",
				"imageAltText" : "Tickets", 
				"imageUrl" : "/images/2019/12/3/Tickets_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "https://theacc.co/FanFest",
				"imageAltText" : "FanFest", 
				"imageUrl" : "/images/2019/12/3/FanFest_410x210.jpg" 
			},
			{ 
				"target" : "_parent",
				"linkUrl" : "/sports/2019/10/31/MobileTixInfo.aspx",
				"imageAltText" : "Mobile Ticket", 
				"imageUrl" : "/images/2019/12/3/MobileTicketInstructions_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "https://promotions.theacc.com/fan5k/",
				"imageAltText" : "Fan 5k", 
				"imageUrl" : "/images/2019/12/3/ACCFan5k_410x210.jpg" 
			}
		],
    */
		"featuredLinks" : [
      {
        "target": "_parent",
        "title": "Schedule of Events (coming soon)",
        "url": "#"
      },
      {
        "target": "_blank",
        "title": "Tee Times and Pairings (coming soon)",
        "url": "#"
      },
      {
        "target": "_blank",
        "title": "Watch Links (coming soon)",
        "url": "#"
      },
      {
        "target": "_blank",
        "title": "Tiebreakers (coming soon)",
        "url": "#"
      }
		],
		"social" : {
			"twitter" : "accmgolf"
		},
		"weather" : {
			"mobile" : "93ca84cda447c36bfecbfe3f8fe063ce",
			"desktop" : "e31411456d8264c3e3d979b1e853ae1f"
		},
		"championship" : {
			"id" : "80", //required
			"title" : "2020 ACC Men's Golf Championship",
			"subtitles" : [ 
				"April 17-20 | Old North State Club | New London, NC"
			],
			"headerImages" : {
				"mobile" : "/images/2018/3/23/header-champ-golf-mobile.png",
				"desktop" : "/images/2018/3/23/header-champ-golf-desktop.png"
			},
			//"teaserUrl" : "https://bcove.video/36gVyDv",
			/*
			"bracket" : {
				"url" : "",
				"paragraphs" : [
					""
				]
			},
			*/
			"customHtml1Title" : "Schedule of Events",
			"customHtml2Title" : "Seeds",
			"customHtml3Title" : "Watch",
			//"ticketsUrl" : "http://theacc.com/sports/2019/9/28/ACCFBALLCHAMPTIX.aspx"
		}
	}
</script>

<!--
	Available components:
	- component-page-header
	- component-hero
	- component-promos
	- component-featured-links
	- component-videos
	- component-social-twitter
	- component-stories
	- component-weather
-->

<div id="sportfile-649" class="championship">

	<section id="component-page-header" class="section"></section>

  <!-- <div id="component-promos" class="section"></div> -->

	<section id="section-info" class="section">
	  <div class="row">
	    <div class="small-12 x-large-8 columns">
				<div id="component-hero"></div>
	    </div>
	    <div class="small-12 x-large-4 columns">
	      <aside class="sidebar">
					<div class="ad">
	          <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
						<script>
	            var googletag = googletag || {};
		            googletag.cmd = googletag.cmd || [];
		            googletag.cmd.push(function() {
		              googletag.defineSlot('/63316753/raycom-sports/theacc.com', [300, 250], 'div-gpt-ad-1510691386580-0').addService(googletag.pubads());
		              googletag.enableServices();
		            });
	          </script>
	          <div id="div-gpt-ad-1510691386580-0" style="height:250px; width:300px;">
	            <script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1510691386580-0'); });</script>
	          </div>
					</div>
					<div id="component-featured-links"></div>
	      </aside>
	    </div>
	  </div>
	</section>

	<!-- <section id="component-videos" class="section"></section> -->

  <section id="component-stories" class="section"></section>

	<section class="section">
	  <div class="row">
	    <div class="small-12 large-7 x-large-8 columns">
				<!-- <div id="component-bracket"></div> -->
				<div id="component-custom-html-1"></div>
        <div id="component-custom-html-2"></div>
        <div id="component-custom-html-3"></div>
			</div>
	    <div class="small-12 large-5 x-large-4 columns">
				<div id="component-social-twitter" class="section"></div>
				<div id="component-weather" class="section"></div>
	    </div>
	  </div>
	</section>
	
	<!-- <section id="component-custom-html-3"></section> -->

	<!-- <section id="component-standings" class="section" data-path="football"></section> -->

</div>