<script>
	$(document).ready(function () {

		var scrollToOffset = $('#schoolLogos').height() + $('#navigation').height(),
				winWidth = $(window).width(),
				rsNow = Math.floor(new Date().getTime()/1000.0);

		var deviceName = 'ACC_web_Site',
				deviceId = '1504271760588.1797431',
				appVersion = '1';

		var qello = {
		  token: function() {
		    return $.getJSON('https://api.watchstadium.com/token/?device_data[device_name]='+deviceName+'&device_data[device_id]='+deviceId+'&device_data[app_version]='+appVersion).then(function(data) {
		      return data.data.token;
		    });
		  },
		  video: function(id) {
		    return this.token().then(function(token) {
		    	if(id !== undefined) {
				    return $.getJSON('https://api.watchstadium.com/liveevents/?token='+token+'&id='+id).then(function(data) {
				      return data.data.liveevents;
				    });
			  	} else {
				    return $.getJSON('https://api.watchstadium.com/liveevents/?token='+token+'&tag[]=216&tag[]=332&tag[]=6811&tag[]=182&limit=1&tag_search_type=and&order=meta.start_time&order_type=desc').then(function(data) {
				      return data.data.liveevents;
				    });
			  	}
		    });
		  },
		  videos: function(offset, tags) {
				tags = 'tag[]=216&tag[]=332&tag[]=6811&tag[]=182';
		    return this.token().then(function(token) {
					//return $.getJSON('https://api.watchstadium.com/liveevents/?token='+token+'&'+tags+'&limit=14&tag_search_type=and&order=meta.start_time&meta.end_time_gte_date=1551895523&order_type=asc').then(function(data) {
					return $.getJSON('https://api.watchstadium.com/liveevents/?token='+token+'&'+tags+'&limit=14&tag_search_type=and&order=meta.start_time&meta.end_time_gte_date='+rsNow+'&order_type=asc').then(function(data) {
			      return data.data.liveevents;
			    });
		    });
		  },
		  vodVideos: function(offset, tags) {
				tags = 'tag[]=216&tag[]=332&tag[]=6811&tag[]=182&tag[]=7424';
		    return this.token().then(function(token) {
			    return $.getJSON('https://api.watchstadium.com/content/?token='+token+'&'+tags+'&limit=14&tag_search_type=and&order=created&order_type=desc').then(function(data) {
			      return data.data.assets;
			    });
		    });
		  }
		};

			/*
		  vodVideos: function(offset, tags) {
				tags = 'tag[]=216&tag[]=332&tag[]=6811&tag[]=182';
		    return this.token().then(function(token) {
			    return $.getJSON('https://api.watchstadium.com/content/?token='+token+'&'+tags+'&limit=14&tag_search_type=and&order=created&order_type=desc').then(function(data) {
			      return data.data.assets;
			    });
		    });
		  }
			*/

/*
function sortJson(arr, prop, dir) {
    return arr.sort(function(a,b) {
        var propA,propB;
        if (prop == "comment_count") {
            propA = a['comment_info']['comment_count'];
            propB = b['comment_info']['comment_count'];
        } else if (prop == "like_count") {
            propA = a['like_info']['like_count'];
            propB = b['like_info']['like_count'];
        } else {
            propA = a[prop];
            propB = b[prop];
        }

        if (dir=='asc') {
            return propA - propB;
        } else {
            return propB - propA;
        }
    });
}
*/
		/*
		qello.vodVideos().done(function(data) {
			processVideoData(data);
		});
		*/
 
qello.videos().done(function(data) {
	console.log(data);
	if(data.length > 0) {
		var title = 'Live &amp; Upcoming Press Conferences';
		processVideoData(data, title);
	}
	qello.vodVideos().done(function(data) {
	console.log(data);
		if(data.length > 0) {
			var title = 'Past Press Conferences';
			processVideoData(data, title);
		}
	})
})


		function processVideoData(data, title) {
			var html = '<h4 style="">'+title+'</h4>';
			html = html + '<div class="row">';
			$.each(data, function(index, content) {
				if(typeof content.meta.start_time != 'undefined') {
					var date = moment.unix(content.meta.start_time);
				} else if(typeof content.date_published != 'undefined') {
					var date = moment.unix(content.date_published);
				} else if(typeof content.created != 'undefined') {
					var date = moment.unix(content.created);
				} else {
					var date = Math.floor(new Date().getTime()/1000.0);
				}
				date = moment(date).format("ddd MMMM Do");
				//var date = 'test';
				if(index === 0) {
					var $src = 'https://player.watchstadium.com/60/iframe.html?asset_id='+content.id+'&player_id=60&type=liveevent';
				  //var $src = 'https://player.watchstadium.com/60/iframe.html?asset_id='+content.id+'&player_id=60&type=vod';
				  $("#player").attr("src", $src);
				  $('#player-title').text(content.meta.name);
				  $('#player-date').text(date);
				}
				html = html + '<div class="medium-12 large-3 columns"> \
						<div id="'+content.id+'" class="feed-item clearfix">\
							<div class="feed-thumb"> \
								<div style="position:relative;"> \
									<img style="display:block;width:100%;height:auto;" src="'+content.images.image+'" /> \
									<div style="position:absolute;top:0;right:0;bottom:0;left:0;height:100%;width:100%;"> \
										<div style="height:60px;width:60px;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);background:url(http://www.theacc.com/images/video_play_btn_main.png) no-repeat center center;background-size:contain;opacity:0.8;"></div> \
									</div> \
								</div> \
							</div> \
							<div class="feed-details"> \
								<div class="feed-details-title">'+content.meta.name+'</div> \
								<div class="feed-details-date">'+date+'</div> \
							</div>\
						</div> \
					</div>';
			});
			html = html + '</div>';

			$('#playlist').append(html);
			
			var checkExist = setInterval(function() {
				if ($('#playlist').length) {
					$("#playlist .feed-item").click(function(e) {
					  var $videoId = $(this).attr('id');
						qello.video($videoId).done(function(data) {
							var $src = 'https://player.watchstadium.com/60/iframe.html?asset_id='+$videoId+'&player_id=60&type=liveevent';
							var date = moment.unix(data[0].meta.start_time);
							date = moment(date).format("ddd, DD MMM YYYY");

						  $("#player").attr("src", $src);
						  $('#player-title').html(data[0].meta.name);
						  $('#player-date').html(date);
			        $('html,body').animate({
			          scrollTop: $('#player-holder').offset().top - scrollToOffset
			        }, 250);
						});
					})
			    clearInterval(checkExist);
			  }
			}, 100);
			
		}

		$('#video-filter .filter').click(function(){
			$('#playlist').empty();
			var tags = $(this).attr('data-filter');
			var offset = 0;
			$("#load-more-videos").attr('data-offset', offset);
			$('#video-filter').attr('data-current-filter', tags);
			$('#video-filter > span.active').removeClass('active');
			$(this).addClass('active');
			qello.videos(offset, tags).done(function(data) {
				processVideoData(data)
			});
      $('html,body').animate({
        scrollTop: $('#player-holder').offset().top - scrollToOffset
      }, 250);
		});

	});
</script>
<style>
	h3 {
		background: url(http://www.theacc.com/images/bg_repeat.png);
		font-size: 2.0rem;
		padding: 10px 10px;
		margin-top: 20px;
		margin-bottom: 0;
		border-top: 1px solid #d9d9d9;
		border-bottom: 1px solid #d9d9d9;
		text-align: center;
	}
	.article-wrapper.sportfile {
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.article-headline {
		padding: 0;
		padding-left: 10px;
		padding-right: 10px;
	}
	.article-subheadline,
	.article-byline {
		display:none !important;
	}
	.clearfix::after {
		content: "";
		clear: both;
		display: table;
	}
	#player-container #player-details {
		padding: 10px;
    background: #f2f2f2;
	}
	#player-container #player-details #player-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #013ca6;
    text-transform: uppercase;
	}
	#player-container #player-details #player-date {
		font-weight: 300;
    font-size: 16px;
    font-style: italic;
    color: black;
	}
	.feed {
		padding-top: 20px;
		padding-left: 10px;
		padding-right: 10px;
		background: #f9f9f9;
	}
	.feed .feed-item {
		display: block;
		text-decoration: none;
	}
	.feed .feed-item .feed-thumb {
		margin-bottom: 5px;
		background-color: #f9f9f9;
	}
	.feed .feed-item .feed-details {
		margin-bottom: 20px;
	}
	.feed .feed-item .feed-details .feed-details-title {
		font-weight:700;
		font-size:16px;
		color: #013ca6;
		text-transform:uppercase;
		margin-bottom: 0px;
	}
	.feed-load-more,
	#no-more-videos {
		border-top: 1px solid #d9d9d9;
		text-align:center;
		margin-bottom:30px;
		padding-top: 20px;
	}
	.feed-load-more span,
	#no-more-videos span {
		display: inline-block;
		padding: 10px 15px;
		color: #fff;
		background: #013ca6;
		text-align: center;
		font-weight: bold;
	}
	#no-more-videos {
		display: none;
	}
	#no-more-videos span {
		background: #d3d3d3;
	}
	#section-info,
	#section-videos {
		margin-bottom: 40px;
	}
	#section-videos #video-filter {
		border-top: 5px solid #d3d3d3;
		border-bottom: 5px solid #d3d3d3;
		padding: 0 12px;
	}
	#section-videos h3 {
		margin-top: 0;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
	}
	#section-videos #video-filter span {
		display: inline-block;
		margin: 0 18px 0 12px;
		height: 70px;
    line-height: 70px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
	}
	#section-videos #video-filter span.active,
	#section-videos #video-filter span:hover {
		color: #013ca6;
	}
	#section-videos #video-filter span:hover {
		cursor: pointer;
	}
	@media (min-width: 768px) {
	  .feed {
			padding-left: 20px;
			padding-right: 20px;
	  }
	}
</style>
<section id="section-info">
	<div class="row">
		<div class="medium-2 columns">&nbsp;</div>
		<div class="small-12 medium-8 columns">
			<div id="player-container">
				<div id="player-holder" style="position:relative;padding-bottom:56.25%;height:0;margin:0 auto;">
					<iframe id="player" style="position:absolute;top:0;left:0;width:100%;height:100%;border:0;" src="" scrolling="no" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
				</div>
				<div id="player-details">
					<div id="player-title"></div>
					<div id="player-date"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="section-videos">
	<div class="row">
		<div class="small-12 columns">
			<h3>Post Game Press Conferences</h3>
			<div id="playlist" class="feed"></div>
		</div>
	</div>
</section>