<script>
		var saPath = 'otrack',
		saView = 'simple',
		saDetail = 'short',
		saFormat = 'json',
		qTags = '',
		qLiveTags = '';
</script>
<section id="page-header">
	<div class="row">
		<div class="small-12 columns">
			<h1>2019 ACC Outdoor Track & Field Championships</h1>
			<h2>May 9-11 | Hosted by Virginia</h2>
		</div>
	</div>
	<div class="row">
		<div class="hide-on-medium-down large-2 columns">&nbsp;</div>
		<div class="medium-12 large-4 columns">
			<div id="page-logo">
				<img src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/4/2/logo_otf_2018.png" />
			</div>
		</div>
		<div class="medium-12 large-4 columns">
			<div id="anchor-nav">
				<ul>
          <li><span data-location="section-stories"><i class="icon-stories"></i>Related Stories</span></li>
					<!-- <li><span data-location="section-events"><i class="icon-list"></i>Schedule of Events</span></li> -->
					<li><span data-location="section-watch"><i class="icon-tablet"></i>Watch</span></li>
					<li><span data-location="section-social"><i class="icon-share"></i>Social</span></li>
          <li><span data-location="section-weather"><i class="icon-weather-sun"></i>Local Weather</span></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="section-info">
	<div class="row">
		<div class="medium-12 large-8 columns">
			<a id="story-container" href="">
				<div id="story-holder" style="position:relative;padding-bottom:56.25%;height:0;margin:0 auto;">
					<img id="story" style="position:absolute;top:0;left:0;width:100%;height:100%;border:0;" src="" />
				</div>
				<div id="story-details">
					<div id="story-title"></div>
					<div id="story-date"></div>
				</div>
			</a>
		</div>
		<div class="medium-12 large-4 columns">
			<aside style="background:#f2f2f2;padding:8px 0 0 0;">
				<section>
					<div style="text-align:center;">
						<div style="display:flex;justify-content:center;align-items:center;width:300px;margin:20px auto 20px;height:250px;background:#999;margin-bottom:30px;">
							<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
							<script>
							  var googletag = googletag || {};
							  googletag.cmd = googletag.cmd || [];
							</script>
							<script>
							  googletag.cmd.push(function() {
							    googletag.defineSlot('/63316753/raycom-sports/theacc.com', [300, 250], 'div-gpt-ad-1510691386580-0').addService(googletag.pubads());
							    googletag.enableServices();
							  });
							</script>
							<div id='div-gpt-ad-1510691386580-0' style='height:250px; width:300px;'>
								<script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1510691386580-0'); });</script>
							</div>
						</div>
					</div>
					<h4>Featured Links</h4>
					<ul>
						<!-- <li><a target="_blank" href="https://goo.gl/maps/tZvCr8kc1Vs">Cobb Stadium Map</a></li> -->
						<!-- <li><a href="/documents/2018/3/21//2018_ACC_Outdoor_Track_and_Field_Schedule.pdf">Printable Schedule</a></li> -->
						<li><a target="_blank" href="https://flashresults.com/2019_Meets/Outdoor/05-09_ACC/">Live Results</a></li>
						<li><a href="/documents/2019/4/29/2019_ACC_Outdoor_Track_and_Field_Schedule.pdf">Championship Schedule</a></li>
						<!-- <li><a href="/documents/2018/5/7//2018_Outdoor_Track.pdf">Field Guide</a></li> -->
					</ul>
				</section>
			</aside>
		</div>
	</div>
</section>

<section id="section-stories">
	<div class="row">
		<div class="small-12 columns">
			<h3>Stories</h3>
			<div class="feed" id="stories"></div>
			<div class="feed-load-more" data-page="1" id="load-more-stories"><span>Load More Stories</span></div>
		</div>
	</div>
</section>

<section>
	<div class="row">
		<div class="small-12 medium-8 columns">
			<div id="section-watch">
				<h3>Watch</h3>
				<table class="sidearm-table collapse-on-small" style="margin-bottom:30px;">
					<thead>
						<tr>
							<th>Date/Time</th>
							<th>Network</th>
							<th>Watch Link</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>May 9 at 6 pm</td>
							<td>ACC Network Extra</td>
							<td><a target="_blank" href="http://www.espn.com/watch/_/id/3507654/acc-mens-and-womens-track--field-championship">Watch</td>
						</tr>
						<tr>
							<td>May 10 at 6 pm</td>
							<td>ACC Network Extra</td>
							<td><a target="_blank" href="http://www.espn.com/watch/_/id/3507634/acc-mens-and-womens-track--field-championship">Watch</td>
						</tr>
						<tr>
							<td>May 11 at 4 pm</td>
							<td>ACC Network Extra</td>
							<td><a target="_blank" href="http://www.espn.com/watch/_/id/3507648/acc-mens-and-womens-track--field-championship">Watch</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="small-12 medium-4 columns">
			<div id="section-social">
				<h3 id="social-feed">Social<a target="_blank" href="https://twitter.com/acctrackfield"><span class="icon-twitter"></span>@ACCTrackField</a></h3>
				<div class="social-holder">
					<div class="social-feed">
						<div class="social-container">
							<a class="twitter-timeline" height="800" width="100%" data-tweet-limit="10" data-chrome="noheader nofooter" href="https://twitter.com/acctrackfield">Tweets by ACCTrackField</a>
							<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						</div>
					</div>
				</div>
			</div>
			<h3 id="section-weather">Local Weather</h3>
			<div class="weather-holder">
				<div id="cont_1032df688362d319ea9a05d71cee9026" class="weather-mobile"><script type="text/javascript" async src="https://www.theweather.com/wid_loader/1032df688362d319ea9a05d71cee9026"></script></div>
				<div id="cont_d63698bbc3a36b9df5dbd4443f8047e0" class="weather-desktop"><script type="text/javascript" async src="https://www.theweather.com/wid_loader/d63698bbc3a36b9df5dbd4443f8047e0"></script></div>
			</div>
		</div>
	</div>
</section>