<h2>Ticket Offices</h2>
<table class="sidearm-table collapse-on-small">
	<thead class="sidearm-primary">
		<tr>
			<th class="text-uppercase text-left">Office</th>
			<th class="text-uppercase text-left">Type</th>
			<th class="text-uppercase text-left">Tickets</th>
		</tr>
	</thead>
	<tbody>
		<!-- primesport bball-->
		<tr>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/2018/10/1/prime_sport_logo.png"></td>
			<td style="vertical-align:middle;">ACC Men's Basketball Tournament Tickets</td>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;height:30px;width:auto;" src="/images/2018/1/4/2018-ACC_MBBT_PrimaryLogo_NYC.png"> <a target="_blank" href="https://www.primesport.com/d/acc-mens-basketball-tournament-tickets?utm_source=theacc.com&utm_medium=referral&utm_campaign=college_basketball_acc_tournament_tickets_page">PRIMESPORT VIP Packages</a></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/2018/10/1/ticketmaster_logo_51.png"></td>
			<td style="vertical-align:middle;">ACC Football Championship Tickets</td>
			<td style="vertical-align:middle;"><img src="/images/nav_bar_ticket_icon_b.png"> <a target="_blank" href="https://www1.ticketmaster.com/event/2D005532EB60856A">Ticketmaster</a></td>
		</tr>
		<!--
		<tr>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/2018/10/1/prime_sport_logo.png"></td>
			<td style="vertical-align:middle;">ACC Football Championship Tickets</td>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;height:30px;width:auto;" src="/images/2017/9/2/ACC_2017_FCG_LOGO_Digital_2.png"> <a target="_blank" href="https://www.primesport.com/d/acc-championship-football-tickets?utm_source=theacc.com&utm_medium=referral&utm_campaign=acc_fb_championship_game_tailgate&utm_content=tickets_page">Tailgate Packages</a><span style="margin:0 5px;">|</span><a target="_blank" href="https://www.primesport.com/d/acc-championship-football-tickets?utm_source=theacc.com&utm_medium=referral&utm_campaign=acc_fb_championship_game_travel&utm_content=tickets_page">Travel Packages</a></td>
		</tr>
		-->
		<tr>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/2018/8/27/ShooWin_logo.png"></td>
			<td style="vertical-align:middle;">ACC Football Championship Tickets</td>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;height:30px;width:auto;" src="https://www.shoowin.com/img/favicon.png"> <a target="_blank" href="https://www.shoowin.com/">Ticket Exchange</a></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_boston_college.png"></td>
			<td style="vertical-align:middle;">Boston College</td>
			<td style="vertical-align:middle;"><img src="/images/nav_bar_ticket_icon_b.png"> <a target="_blank" href="http://tickets.bceagles.com/">Visit the Ticket Office</a></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_clemson.png"></td>
			<td style="vertical-align:middle;">Clemson</td>
			<td style="vertical-align:middle;"><img src="/images/nav_bar_ticket_icon_b.png"> <a target="_blank" href="http://ev12.evenue.net/cgi-bin/ncommerce3/SEGetGroupList?groupCode=GS&linkID=clemson&shopperContext=&caller=&appCode">Visit the Ticket Office</a></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_duke.png"></td>
			<td style="vertical-align:middle;">Duke</td>
			<td style="vertical-align:middle;"><img src="/images/nav_bar_ticket_icon_b.png"> <a target="_blank" href="https://tkt.xosn.com/tickets/TicketLanding.dbml?DB_OEM_ID=4200&db_oem_id=4200">Visit the Ticket Office</a></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_florida_state.png"></td>
			<td style="vertical-align:middle;">Florida State</td>
			<td style="vertical-align:middle;"><img src="/images/nav_bar_ticket_icon_b.png"> <a target="_blank" href="http://www.seminoles.com/tickets/fsu-tickets-13.html">Visit the Ticket Office</a></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_georgia_tech.png"></td>
			<td style="vertical-align:middle;">Georgia Tech</td>
			<td style="vertical-align:middle;"><img src="/images/nav_bar_ticket_icon_b.png"> <a target="_blank" href="http://www.ramblinwreck.com/tickets/ticket-info.html">Visit the Ticket Office</a></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_louisville.png"></td>
			<td style="vertical-align:middle;">Louisville</td>
			<td style="vertical-align:middle;"><img src="/images/nav_bar_ticket_icon_b.png"> <a target="_blank" href="http://gocards.com/sports/2016/4/5/louisville-tickets.aspx">Visit the Ticket Office</a></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_miami.png"></td>
			<td style="vertical-align:middle;">Miami</td>
			<td style="vertical-align:middle;"><img src="/images/nav_bar_ticket_icon_b.png"> <a target="_blank" href="https://hurricanesports.evenue.net/cgi-bin/ncommerce3/SEGetGroupList?groupCode=MIAMI&linkID=miami&shopperContext=&caller=&appCode=">Visit the Ticket Office</a></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_north_carolina.png"></td>
			<td style="vertical-align:middle;">North Carlonia</td>
			<td style="vertical-align:middle;"><img src="/images/nav_bar_ticket_icon_b.png"> <a target="_blank" href="http://ev10.evenue.net/cgi-bin/ncommerce3/SEGetGroupList?SITE=UNC&DB_OEM_ID=3350&groupCode=GS&linkID=unc&shopperContext=&caller=&appCode=&utm_source=GH&utm_medium=Ticket%2BCenter%2BBanner&utm_campaign=EV">Visit the Ticket Office</a></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_nc_state.png"></td>
			<td style="vertical-align:middle;">NC State</td>
			<td style="vertical-align:middle;"><img src="/images/nav_bar_ticket_icon_b.png"> <a target="_blank" href="http://ev10.evenue.net/cgi-bin/ncommerce3/SEGetGroupList?groupCode=NCSU&linkID=ncsu&shopperContext=&caller=&appCode=">Visit the Ticket Office</a></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_notre_dame.png"></td>
			<td style="vertical-align:middle;">Notre Dame</td>
			<td style="vertical-align:middle;"><img src="/images/nav_bar_ticket_icon_b.png"> <a target="_blank" href="http://www.und.com/tickets/nd-tickets.html">Visit the Ticket Office</a></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_pittsburgh.png"></td>
			<td style="vertical-align:middle;">Pittsburgh</td>
			<td style="vertical-align:middle;"><img src="/images/nav_bar_ticket_icon_b.png"> <a target="_blank" href="http://ev12.evenue.net/cgi-bin/ncommerce3/SEGetGroupList?groupCode=GS&linkID=pitt&shopperContext=&caller=&appCode=&utm_source=PittsburghPanthers.com&utm_medium=website&utm_campaign=Evenue%20Ticket%20Homepage">Visit the Ticket Office</a></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_syracuse.png"></td>
			<td style="vertical-align:middle;">Syracuse</td>
			<td style="vertical-align:middle;"><img src="/images/nav_bar_ticket_icon_b.png"> <a target="_blank" href="http://www.carrierdome.com/tickets/">Visit the Ticket Office</a></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_virginia.png"></td>
			<td style="vertical-align:middle;">Virginia</td>
			<td style="vertical-align:middle;"><img src="/images/nav_bar_ticket_icon_b.png"> <a target="_blank" href="http://ev12.evenue.net/cgi-bin/ncommerce3/SEGetGroupList?groupCode=UVA&linkID=virginia&shopperContext=&caller=&appCode=">Visit the Ticket Office</a></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_virginia_tech.png"></td>
			<td style="vertical-align:middle;">Virginia Tech</td>
			<td style="vertical-align:middle;"><img src="/images/nav_bar_ticket_icon_b.png"> <a target="_blank" href="http://www.hokietickets.com/">Visit the Ticket Office</a></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_wake_forest.png"></td>
			<td style="vertical-align:middle;">Wake Forest</td>
			<td style="vertical-align:middle;"><img src="/images/nav_bar_ticket_icon_b.png"> <a target="_blank" href="http://www.wakeforestsports.com/tickets/wake-tickets.html">Visit the Ticket Office</a></td>
		</tr>
	</tbody>
</table>