<script>
		var saPath = 'mlax',
		saView = 'simple',
		saDetail = 'short',
		saFormat = 'json',
		qTags = '216,323',
		qLiveTags = '';
</script>
<div id="sportfile-828">
	<section id="section-header">
		<div class="row">
			<div class="small-12 columns">
				<h1>2019 ACC Men's Lacrosse Championship</h1>
				<h2 style="margin-bottom: 10px;">First Round &amp; Semifinals | April 25 &amp; 27 | UNC Lacrosse Stadium | UNC</h2>
				<h2>Final | May 4 | University of Virginia – Klöckner Stadium</h2>
			</div>
		</div>
		<div class="row">
			<div class="hide-on-medium-down large-2 columns">&nbsp;</div>
			<div class="medium-12 large-4 columns">
				<div id="page-logo">
					<img src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2018/3/28/logo-mens-lacrosse-champ-2018.png" />
				</div>
			</div>
			<div class="medium-12 large-4 columns">
				<div id="anchor-nav">
					<ul>
	          <li><span data-location="section-videos"><i class="icon-video"></i>Videos</span></li>
						<li><span data-location="section-bracket"><i class="icon-list"></i>Bracket</span></li>
						<li><span data-location="section-watch"><i class="icon-tablet"></i>Watch</span></li>
						<li><span data-location="section-social"><i class="icon-share"></i>Social</span></li>
	          <li><span data-location="section-weather"><i class="icon-weather-sun"></i>Local Weather</span></li>
	          <li><span data-location="section-stories"><i class="icon-stories"></i>Related Stories</span></li>
						<li><a target="_blank" href="https://ev12.evenue.net/cgi-bin/ncommerce3/SEGetEventInfo?ticketCode=GS%3AVIRGINIA%3AL19%3AML21%3A&linkID=virginia&shopperContext=&pc=&caller=&appCode=&groupCode=LAX-MSINGLE&cgc="><i class="icon-tickets"></i>Tickets</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section id="section-info">
		<div class="row">
	    <div class="medium-12 large-8 columns">
	      <div id="player-container">
	        <div id="player-holder" style="position:relative;padding-bottom:56.25%;height:0;margin:0 auto;">
	          <iframe id="player" style="position:absolute;top:0;left:0;width:100%;height:100%;border:0;" src="" scrolling="no" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
	        </div>
	        <div id="player-details">
	          <div id="player-title"></div>
	          <div id="player-date"></div>
	        </div>
	      </div>
	    </div>
			<div class="medium-12 large-4 columns">
				<aside style="background:#f2f2f2;padding:8px 0 0 0;">
					<section>
						<div style="text-align:center;">
							<div style="display:flex;justify-content:center;align-items:center;width:300px;margin:20px auto 20px;height:250px;background:#999;margin-bottom:30px;">
								<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
								<script>
								  var googletag = googletag || {};
								  googletag.cmd = googletag.cmd || [];
								</script>
								<script>
								  googletag.cmd.push(function() {
								    googletag.defineSlot('/63316753/raycom-sports/theacc.com', [300, 250], 'div-gpt-ad-1510691386580-0').addService(googletag.pubads());
								    googletag.enableServices();
								  });
								</script>
								<div id='div-gpt-ad-1510691386580-0' style='height:250px; width:300px;'>
									<script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1510691386580-0'); });</script>
								</div>
							</div>
						</div>
						<h4>Featured Links</h4>
						<ul>
							<li><a target="_blank" href="https://ev12.evenue.net/cgi-bin/ncommerce3/SEGetEventInfo?ticketCode=GS%3AVIRGINIA%3AL19%3AML21%3A&linkID=virginia&shopperContext=&pc=&caller=&appCode=&groupCode=LAX-MSINGLE&cgc=">Tickets</a></li>
							<li><a href="/documents/2019/1/8/2019_MLAX_Bracket.pdf">Bracket PDF</a></li>
						</ul>
					</section>
				</aside>
			</div>
		</div>
	</section>
	<section id="section-videos">
	  <div class="row">
	    <div class="small-12 columns">
	      <h3>Videos</h3>
	      <div id="playlist" class="feed"></div>
	      <div id="load-more-videos" class="feed-load-more" data-offset="0">
	        <span>Load More Videos</span>
	      </div>
	    </div>
	  </div>
	</section>
	<section>
		<div class="row">
			<div class="small-12 medium-8 columns">
				<h3 id="section-bracket">Bracket</h3>
				<div style="text-align: center;">
					<img style="width:80%;height:auto;margin:30px auto 0 auto;" src="/images/2019/4/29/2019_MLAX_Bracket_ChampGame.jpg" />
				</div>
				<h3 id="section-watch" style="margin-bottom:40px;">Watch</h3>
				<table class="sidearm-table collapse-on-small" style="margin-bottom:30px;">
					<thead>
						<tr>
							<th>Date/Time</th>
							<th>Network</th>
							<th>Watch Link</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>April 25, 6 pm</td>
							<td>ACC Network Extra</td>
							<td>
								<a target="_blank" href="http://www.espn.com/watch/_/id/3504523/north-carolina-vs-syracuse-first-round-m-lacrosse">
									#4 Syracuse vs. #5 North Carolina
								</a>
							</td>
						</tr>
						<tr>
							<td>May 4th at 2 pm</td>
							<td>ESPNU</td>
							<td>
								<a target="_blank" href="http://www.espn.com/watch/_/id/3496411/acc-mens-lacrosse-tournament">
									#18 Notre Dame vs. #8 Virginia
								</a>
							</td>
						</tr>
						<!--
						<tr>
							<td>April 27 - 8:30</td>
							<td>ESPNU/WatchESPN</td>
							<td><a target="_blank" href="http://www.espn.com/watch/_/id/3291236/2018-acc-lacrosse-tournament">Watch</td>
						</tr>
						<tr>
							<td>April 29 - Noon</td>
							<td>ESPNU/WatchESPN</td>
							<td><a target="_blank" href="http://www.espn.com/watch/_/id/3291000/2018-acc-mens-lacrosse-tournament">Watch</td>
						</tr>
						-->
					</tbody>
				</table>
			</div>
			<div class="small-12 medium-4 columns">

				<div id="section-social">
					<h3 id="social">Social (<a target="_blank" href="https://twitter.com/accmlax">@ACCMLax</a>)</h3>
					<div class="social-holder">
						<div class="social-feed">
							<div class="social-container">
								<a class="twitter-timeline" data-chrome="noheader nofooter" data-tweet-limit="10" height="600" href="https://twitter.com/accmlax" width="100%">Tweets by ACCMLax</a>
								<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
							</div>
						</div>
					</div>
				</div>
				<h3 id="section-weather">Local Weather</h3>
				<div class="weather-holder">
					<!-- chapel hill
					<div id="cont_d775b17050e7faba355de409fbd90de9" class="weather-mobile"><script type="text/javascript" async src="https://www.theweather.com/wid_loader/d775b17050e7faba355de409fbd90de9"></script></div>
					<div id="cont_c8787d5855e20f94bea3557388ccf288" class="weather-desktop"><script type="text/javascript" async src="https://www.theweather.com/wid_loader/c8787d5855e20f94bea3557388ccf288"></script></div>
					-->
					<div id="cont_e527f2cbc6d019826323d7bb7a54b46c" class="weather-mobile"><script type="text/javascript" async src="https://www.theweather.com/wid_loader/e527f2cbc6d019826323d7bb7a54b46c"></script></div>
					<div id="cont_b63048d39b3ea7f4ed26fef02919045c" class="weather-desktop"><script type="text/javascript" async src="https://www.theweather.com/wid_loader/b63048d39b3ea7f4ed26fef02919045c"></script></div>
				</div>
			</div>
		</div>
	</section>
	<section id="section-stories">
		<div class="row">
			<div class="small-12 columns">
				<h3>Stories</h3>
				<div class="feed" id="stories"></div>
				<div class="feed-load-more" data-page="1" id="load-more-stories"><span>Load More Stories</span></div>
			</div>
		</div>
	</section>
</div>