<script>
  $(document).ready(function () {
  
  	var scrollToOffset = $('#schoolLogos').height() + $('#navigation').height(),
  			winWidth = $(window).width();
  
  	var deviceName = 'ACC_web_Site',
  			deviceId = '1504271760588.1797431',
  			appVersion = '1';
  
  	var qello = {
  	  token: function() {
  	    return $.getJSON('https://api.watchstadium.com/token/?device_data[device_name]='+deviceName+'&device_data[device_id]='+deviceId+'&device_data[app_version]='+appVersion).then(function(data) {
  	      return data.data.token;
  	    });
  	  },
  	  video: function(id) {
  	    return this.token().then(function(token) {
  	    	if(id !== undefined) {
  			    return $.getJSON('https://api.watchstadium.com/content/?token='+token+'&id='+id).then(function(data) {
  			      return data.data.assets;
  			    });
  		  	} else {
  			    return $.getJSON('https://api.watchstadium.com/content/?token='+token+'&tag[]=1312&limit=1&tag_search_type=and&order=created&order_type=desc').then(function(data) {
  			      return data.data.assets;
  			    });
  		  	}
  	    });
  	  },
      /*
      videos: function(offset, tags) {
        tags = 'tag[]=5822';
        return this.token().then(function(token) {
          return $.getJSON('https://api.watchstadium.com/content/?token='+token+'&'+tags+'&limit=4&tag_search_type=or&order=created&order_type=desc&offset='+offset).then(function(data) {
            return data.data.assets;
          });
        });
      }
      */
  	  videos: function(offset = 0, tags) {
  	  	tags = 'tag[]=216&tag[]=320&tag[]=1312';
        var limit = '';
        if(offset == 0) { limit = 12 } else { limit = 4 };
  	    return this.token().then(function(token) {
  				return $.getJSON('https://api.watchstadium.com/content/?token='+token+'&'+tags+'&limit='+limit+'&tag_search_type=and&order=created&order_type=desc&offset='+offset).then(function(data) {
  		      return data.data.assets;
  		    });
  	    });
  	  }
  	};
  
  	qello.videos().done(function(data) {
  		processVideoData(data);
  	});
  
  	function processVideoData(data) {
  		console.log(data.length);
  		if(data.length < 4) {
  			$('#load-more-videos').css('display','none');
  			$('#no-more-videos').css('display','block');
  		} else {
  			$('#load-more-videos').css('display','block');
  			$('#no-more-videos').css('display','none');
  		}
  		var offset = $("#load-more-videos").attr('data-offset');
      var i = 1;
  		var html = '';
  		$.each(data, function(index, content) {
        console.log(i % 4);
  			var date = moment.unix(content.created);
  			date = moment(date).format("ddd, DD MMM YYYY");
        if(i == 0 || i % 4 == 1) {
          html = html + '<div class="row">';
        }
  			if(index === 0 && offset == 0) {
  			  var $src = 'https://player.watchstadium.com/60/iframe.html?asset_id='+content.id+'&player_id=60&type=vod';
  			  $("#player").attr("src", $src);
  			  $('#player-title').text(content.meta.name);
  			  $('#player-date').text(date);
  			}
  			html = html + '<div class="medium-12 large-3 columns"> \
  					<div id="'+content.id+'" class="feed-item clearfix">\
  						<div class="feed-thumb"> \
  							<div style="position:relative;"> \
  								<img style="display:block;width:100%;height:auto;" src="'+content.images.image+'" /> \
  								<div style="position:absolute;top:0;right:0;bottom:0;left:0;height:100%;width:100%;"> \
  									<div style="height:60px;width:60px;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);background:url(http://www.theacc.com/images/video_play_btn_main.png) no-repeat center center;background-size:contain;opacity:0.8;"></div> \
  								</div> \
  							</div> \
  						</div> \
  						<div class="feed-details"> \
  							<div class="feed-details-title">'+content.meta.name+'</div> \
  							<div class="feed-details-date">'+date+'</div> \
  						</div>\
  					</div> \
  				</div>';
        if(i % 4 == 0 || i == data.length) {
          html = html + '</div>';
        }
        i++;
  		});
  
  		$('#playlist').append(html);
  
  		var checkExist = setInterval(function() {
  			if ($('#playlist').length) {
  				$("#playlist .feed-item").click(function(e) {
  				  var $videoId = $(this).attr('id');
  					qello.video($videoId).done(function(data) {
  						var $src = 'https://player.watchstadium.com/60/iframe.html?asset_id='+$videoId+'&player_id=60&type=vod';
  						var date = moment.unix(data[0].created);
  						date = moment(date).format("MMM., Do YYYY");
  
  					  $("#player").attr("src", $src);
  					  $('#player-title').html(data[0].meta.name);
  					  $('#player-date').html(date);
  		        $('html,body').animate({
  		          scrollTop: $('#player-holder').offset().top - scrollToOffset
  		        }, 250);
  					});
  				})
  		    clearInterval(checkExist);
  		  }
  		}, 100);
  	}
  
  	$('#load-more-videos').click(function(){
  		var tags = $("#video-filter").attr('data-current-filter');
  		var offset = $("#load-more-videos").attr('data-offset');
      if(offset == 0) {
        offset = parseInt(offset) + 12;
      } else {
        offset = parseInt(offset) + 4;
      }
  		$("#load-more-videos").attr('data-offset', offset);
  		qello.videos(offset, tags).done(function(data) {
  			processVideoData(data)
  		});
  	});
  
  });
</script>
<style type="text/css">
	h3 {
	  background: url(http://www.theacc.com/images/bg_repeat.png);
	  font-size: 2.0rem;
	  padding: 10px 10px;
	  margin-top: 20px;
	  margin-bottom: 0;
	  border-top: 1px solid #d9d9d9;
	  border-bottom: 1px solid #d9d9d9;
	  text-align: center;
  }
  .article-wrapper.sportfile {
	  padding-bottom: 0;
	  padding-left: 0;
	  padding-right: 0;
  }
  .article-headline {
	  padding: 0;
	  padding-left: 10px;
	  padding-right: 10px;
  }
  .article-subheadline,
  .article-byline {
  	display:none !important;
  }
  .article-wrapper.sportfile {
    padding: 0;
  }
  .article-headline,
  .article-subheadline,
  .article-byline {
    display:none !important;
  }
  .clearfix::after {
  	content: "";
  	clear: both;
  	display: table;
  }
  #player-container #player-details {
  	padding: 10px;
  	background: #f2f2f2;
  }
  #player-container #player-details #player-title {
	  font-weight: 700;
	  font-size: 30px;
	  line-height: 34px;
  	color: #013ca6;
  	text-transform: uppercase;
  }
  #player-container #player-details #player-date {
	  font-weight: 300;
	  font-size: 16px;
	  font-style: italic;
	  color: black;
  }
  .feed {
	  padding-top: 20px;
	  padding-left: 10px;
	  padding-right: 10px;
  	background: #f9f9f9;
  }
  .feed .feed-item {
	  display: block;
	  text-decoration: none;
  }
  .feed .feed-item .feed-thumb {
	  margin-bottom: 5px;
	  background-color: #f9f9f9;
  }
  .feed .feed-item .feed-details {
  	margin-bottom: 20px;
  }
  .feed .feed-item .feed-details .feed-details-title {
	  font-weight:700;
	  font-size:16px;
	  color: #013ca6;
	  text-transform:uppercase;
	  margin-bottom: 0px;
  }
  .feed-load-more,
  #no-more-videos {
	  border-top: 1px solid #d9d9d9;
	  text-align:center;
	  margin-bottom:30px;
	  padding-top: 20px;
  }
  .feed-load-more span,
  #no-more-videos span {
	  display: inline-block;
	  padding: 10px 15px;
	  color: #fff;
	  background: #013ca6;
	  text-align: center;
	  font-weight: bold;
  }
  #no-more-videos {
  	display: none;
  }
  #no-more-videos span {
  	background: #d3d3d3;
  }
  #section-videos #video-filter {
	  border-top: 5px solid #d3d3d3;
	  border-bottom: 5px solid #d3d3d3;
	  padding: 0 12px;
  }
  #section-videos h3 {
	  text-transform: uppercase;
	  font-style: italic;
	  font-family: 'Roboto Condensed', sans-serif;
	  font-weight: 700;
	  font-size: 26px;
	  line-height: 1;
  }
  #section-videos #video-filter span {
	  display: inline-block;
	  margin: 0 18px 0 12px;
	  height: 70px;
	  line-height: 70px;
	  font-size: 18px;
	  font-family: 'Roboto', sans-serif;
	  font-weight: 400;
  }
  #section-videos #video-filter span.active,
  #section-videos #video-filter span:hover {
  	color: #013ca6;
  }
  #section-videos #video-filter span:hover {
  	cursor: pointer;
  }
  @media (min-width: 768px) {
  	section:not(#section-promos) {
  		margin-bottom: 30px;
  	}
	  .feed {
		  padding-left: 20px;
		  padding-right: 20px;
	  }
  }
</style>
<a style="text-align: center;display: block;" href="/sports/2014/6/5/acc-in-the-nba-draft.aspx">
  <img style="margin: 0 auto;margin-bottom: 40px;width: 100%;height: auto;" src="http://theacc.com/images/2018/4/20/draft-header-basketball.jpg" />
</a>
<section id="section-info">
  <div class="row">
    <div class="medium-12 large-8 columns">
      <div id="player-container">
        <div id="player-holder" style="position:relative;padding-bottom:56.25%;height:0;margin:0 auto;"><iframe allowfullscreen="" frameborder="0" id="player" mozallowfullscreen="" scrolling="no" src="" style="position:absolute;top:0;left:0;width:100%;height:100%;border:0;" webkitallowfullscreen=""></iframe></div>
        <div id="player-details">
          <div id="player-title"></div>
          <div id="player-date"></div>
        </div>
      </div>
    </div>
    <div class="medium-12 large-4 columns">
      <aside style="background:#f2f2f2;padding:1px 0 1px 0;">
        <section>
          <div style="text-align:center;">
            <div style="display:flex;justify-content:center;align-items:center;width:320px;margin:20px auto 20px;height:270px;background:#999;margin-bottom:30px;">
              <a href="/sports/2014/6/5/acc-in-the-nba-draft.aspx" style="text-decoration:none;display:inline-block;max-height:300px;max-width:100%;width:auto;height:auto;">
                <img alt="ACC in the NBA Draft" src="" style="max-width:100%;max-height:270px;padding:10px 0;height:auto;width:auto;display:inline-block;" />
              </a>
            </div>
          </div>
        </section>
      </aside>
    </div>
  </div>
</section>
<section id="section-videos">
  <div class="row">
    <div class="small-12 columns">
      <h3>ACC in the NBA Draft Videos</h3>
      <div class="feed" id="playlist"></div>
      <div class="feed-load-more" data-offset="0" id="load-more-videos"><span>Load More Videos</span></div>
      <div id="no-more-videos"><span>No More Videos</span></div>
    </div>
  </div>
</section>