<script>
	$(document).ready(function () {
		//postmessages are not being recieved from www. for some reason and causes the page to not resize
		if(window.location.hostname == 'www.theacc.com') {
			window.location.href = 'http://theacc.com'+window.location.pathname;
		}

		var deviceName = 'ACC_web_Site',
				deviceId = '1504271760588.1797431',
				appVersion = '1';

		var qello = {
		  token: function() {
		    return $.getJSON('https://api.watchstadium.com/token/?device_data[device_name]='+deviceName+'&device_data[device_id]='+deviceId+'&device_data[app_version]='+appVersion).then(function(data) {
		      return data.data.token;
		    });
		  },
		  video: function(id) {
		    return this.token().then(function(token) {
		    	if(id !== undefined) {
				    return $.getJSON('https://api.watchstadium.com/content/?token='+token+'&id='+id).then(function(data) {
				      return data.data.assets;
				    });
			  	} else {
				    return $.getJSON('https://api.watchstadium.com/content/?token='+token+'&tag[]=216&tag[]=320&limit=1&tag_search_type=and&order=created&order_type=desc').then(function(data) {
				      return data.data.assets;
				    });
			  	}
		    });
		  },
		  videos: function() {
		    return this.token().then(function(token) {
					return $.getJSON('https://api.watchstadium.com/content/?token='+token+'&tag[]=216&tag[]=320&tag[]=1312&limit=4&tag_search_type=and&order=created&order_type=desc&offset=0').then(function(data) {
			      return data.data.assets;
			    });
		    });
		  },
		  livevideo: function(offset) {
		    return this.token().then(function(token) {
					return $.getJSON('https://api.watchstadium.com/liveevents/?token='+token+'&tag[]=6092&limit=1&is_live=1&order=created&order_type=asc').then(function(data) {
			      return data.data;
			    });
		    });
		  }
		};

		var saPath = 'mbball',
				saView = 'simple',
				saDetail = 'short',
				saFormat = 'json';

		var sidearm = {
		  stories : function(page) {
		    return $.getJSON('/api/stories_xml?format='+saFormat+'&path='+saPath+'&count=3&page='+1).then(function(data) {
		      return data.stories;
		    });
		  }
		};

		$('#raycomsports').load(function() {
			var rsIframe = document.getElementById('raycomsports');
			qello.videos().done(function(videosData) {
				sidearm.stories().done(function(storiesData) {
					var data =	{storiesData, videosData};
					rsIframe.contentWindow.postMessage( data, 'http://raycomsports.com/' );
				});
			});
		});

		var $raycomsports = $('#raycomsports');


		/* set iframe source
		------------------------------------*/

		function getParameterByName(name) {
		    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
		    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
		        results = regex.exec(location.href);
		    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
		}
		
		// var draftLocation = getParameterByName('location');

	  function receiveMessage(e) {
	    if (e.origin !== "http://raycomsports.com") {
	      return;
	    }
	    if(e.data == 'scrollTopIframe') {
	      $('html,body').animate({
	        scrollTop: $('#raycomsports').offset().top
	      }, 250);
			}	else { 
				$('html,body').animate({scrollTop: 0}, 0);
      }
	    $raycomsports.attr('height', e.data + 'px');
	  }

	  // Setup an event listener that calls receiveMessage() when the window receives a new MessageEvent.
	  window.addEventListener('message', receiveMessage);

	});
</script>

	<style>
	.article-wrapper.sportfile {
		padding: 0;
	}
	.article-headline,
	.article-subheadline,
	.article-byline {
		display:none !important;
	}
	.stickyLeaderboard {
		display: none;
	}
</style>
<iframe frameborder="0" id="raycomsports" scrolling="no" src="http://raycomsports.com/rap/drafts/main/new_sport_id:2/" style="width: 100%;"></iframe>