<script>
	var saPath = 'baseball',
	saView = 'simple',
	saDetail = 'short',
	saFormat = 'json',
	qTags = '216,332',
	qLiveTags = '';
</script>
<div id="sportfile-1100">
	<h1 class="article-headline">NBA Mock Draft Central</h1>

	<div class="row">
<div class="medium-12 large-8 columns"><!-- SCHOOL LOGO SRC --><!--
				/images/school_boston_college.png
				/images/school_clemson.png
				/images/school_duke.png
				/images/school_florida_state.png
				/images/school_georgia_tech.png
				/images/school_louisville.png
				/images/school_miami.png
				/images/school_north_carolina.png
				/images/school_nc_state.png
				/images/school_notre_dame.png
				/images/school_pittsburgh.png
				/images/school_syracuse.png
				/images/school_virginia.png
				/images/school_virginia_tech.png
				/images/school_wake_forest.png
			-->
			<div class="player-nav player-nav-top">
				<h3>Pick Your Prospect</h3>

				<div class="anchor-nav">
					<ul>
						<li><span data-location="zion-williamson">Zion Williamson <img alt="" src="/images/school_duke.png" /></span></li>
						<li><span data-location="rj-barret">RJ Barrett <img alt="" src="/images/school_duke.png" /></span></li>
						<li><span data-location="de-andre-hunter">De'Andre Hunter <img alt="" src="/images/school_virginia.png" /></span></li>
						<li><span data-location="coby-white">Coby White <img alt="" src="/images/school_north_carolina.png" /></span></li>
						<li><span data-location="cam-reddish">Cam Reddish <img alt="" src="/images/school_duke.png" /></span></li>
						<li><span data-location="nassir-little">Nassir Little <img alt="" src="/images/school_north_carolina.png" /></span></li>
						<li><span data-location="nickeil-alexander-walker">Nickeil Alexander-Walker <img alt="" src="/images/school_virginia_tech.png" /></span></li>
						<li><span data-location="mfiondu-kabengele">Mfiondu Kabengele <img alt="" src="/images/school_florida_state.png" /></span></li>
						<li><span data-location="cameron-johnson">Cameron Johnson <img alt="" src="/images/school_north_carolina.png" /></span></li>
						<li><span data-location="ty-jerome">Ty Jerome <img alt="" src="/images/school_virginia.png" /></span></li>
						<li><span data-location="terance-mann">Terance Mann <img alt="" src="/images/school_florida_state.png" /></span></li>
						<li><span data-location="jaylen-hoard">Jaylen Hoard <img alt="" src="/images/school_wake_forest.png" /></span></li>
						<!-- <li><span data-location="oshae-brissett">Oshae Brissett <img src="/images/school_syracuse.png"></span></li> --><!-- <li><span data-location="ky-bowman">Ky Bowman <img src="/images/school_boston_college.png"></span></li> --><!-- <li><span data-location="kyle-guy">Kyle Guy <img src="/images/school_virginia.png"></span></li> --><!-- <li><span data-location="justin-robinson">Justin Robinson <img src="/images/school_virginia_tech.png"></span></li> --><!-- <li><span data-location="tyus-battle">Tyus Battle <img src="/images/school_syracuse.png"></span></li> -->
						<li><a href="/sports/2014/6/5/acc-in-the-nba-draft.aspx">View Previous Draft Years</a></li>
					</ul>
				</div>
			</div>

			<!-- BEGIN ATHLETE -->
			<div class="athlete">
				<h3 class="clearfix" id="zion-williamson">
					<div>Zion Williamson | Forward | <img alt="" src="/images/school_duke.png" /></div>
					<div>Avg. Pick: 1</div>
				</h3>
				<table class="sidearm-table">
					<thead>
						<tr>
							<th>Site</th>
							<th>Pick</th>
							<th>Pro Team</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ESPN</td>
							<td>1</td>
							<td>New Orleans Pelicans</td>
						</tr>
						<tr>
							<td>Sports Illustrated</td>
							<td>1</td>
							<td>New Orleans Pelicans</td>
						</tr>
						<tr>
							<td>The Ringer</td>
							<td>1</td>
							<td>New Orleans Pelicans</td>
						</tr>
						<tr>
							<td>CBS Sports</td>
							<td>1</td>
							<td>New Orleans Pelicans</td>
						</tr>
						<tr>
							<td>NBADraft.net</td>
							<td>1</td>
							<td>New Orleans Pelicans</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="medium-12 large-5 columns">
						<div class="embed-responsive">
							<iframe class="embed-responsive-item" allow="fullscreen"  src="https://player.watchstadium.com/77/iframe.html?codec=&amp;player_id=60&amp;type=vod&amp;asset_id=171092"></iframe>
						</div>
					</div>
					<div class="medium-12 large-7 columns">
						<p>Zion Williamson NBA Draft Tape: Duke's Zion Williamson is the most heralded player in the 2019 NBA Draft. The ACC Player of The Year also took home the Naismith and John R. Wooden Awards after averaging 22.6 points, 8.9 rebounds and 1.8 blocks per game. Zion is a dynamic player who brings tremendous energy and box office plays on both ends of the court. Check out Zion Williamson's NBA Draft Tape right here!</p>
					</div>
				</div>
			</div>

			<!-- BEGIN ATHLETE -->
			<div class="athlete">
				<h3 class="clearfix" id="rj-barret">
					<div>RJ Barrett | Forward | <img alt="" src="/images/school_duke.png" /></div>
					<div>Avg. Pick: 3</div>
				</h3>
				<table class="sidearm-table">
					<thead>
						<tr>
							<th>Site</th>
							<th>Pick</th>
							<th>Pro Team</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ESPN</td>
							<td>3</td>
							<td>New York Knicks</td>
						</tr>
						<tr>
							<td>Sports Illustrated</td>
							<td>3</td>
							<td>New York Knicks</td>
						</tr>
						<tr>
							<td>The Ringer</td>
							<td>3</td>
							<td>New York Knicks</td>
						</tr>
						<tr>
							<td>CBS Sports</td>
							<td>3</td>
							<td>New York Knicks</td>
						</tr>
						<tr>
							<td>NBADraft.net</td>
							<td>3</td>
							<td>New York Knicks</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="medium-12 large-5 columns">
						<div class="embed-responsive">
							<iframe class="embed-responsive-item" allow="fullscreen"  src="https://player.watchstadium.com/77/iframe.html?codec=&amp;player_id=60&amp;type=vod&amp;asset_id=171013"></iframe>
						</div>
					</div>
					<div class="medium-12 large-7 columns">
						<p>RJ Barrett NBA Draft Tape: Duke's RJ Barrett is one of the best scoring forwards in the 2019 NBA Draft. The 2019 First-Team All-American averaged 22.7 points, 7.6 rebounds and 4.3 assists for the Blue Devils this season. Barrett is a playmaker who has a knack for getting to the basket, is dangerous from 3-point land and can also facilitate an offense. Check out RJ Barrett's NBA Draft Tape right here!</p>
					</div>
				</div>
			</div>

			<!-- BEGIN ATHLETE -->
			<div class="athlete">
				<h3 class="clearfix" id="de-andre-hunter">
					<div>De'Andre Hunter | Forward | <img alt="" src="/images/school_virginia.png" /></div>
					<div>Avg. Pick: 5.6</div>
				</h3>
				<table class="sidearm-table">
					<thead>
						<tr>
							<th>Site</th>
							<th>Pick</th>
							<th>Pro Team</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ESPN</td>
							<td>7</td>
							<td>Chicago Bulls</td>
						</tr>
						<tr>
							<td>Sports Illustrated</td>
							<td>5</td>
							<td>Cleveland Cavaliers</td>
						</tr>
						<tr>
							<td>The Ringer</td>
							<td>5</td>
							<td>Cleveland Cavaliers</td>
						</tr>
						<tr>
							<td>CBS Sports</td>
							<td>5</td>
							<td>Cleveland Cavaliers</td>
						</tr>
						<tr>
							<td>NBADraft.net</td>
							<td>6</td>
							<td>Phoenix Suns</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="medium-12 large-5 columns">
						<div class="embed-responsive">
							<iframe class="embed-responsive-item" allow="fullscreen"  class="embed-responsive" src="https://player.watchstadium.com/77/iframe.html?codec=&amp;player_id=60&amp;type=vod&amp;asset_id=171088"></iframe>
						</div>
					</div>
					<div class="medium-12 large-7 columns">
						<p>De'Andre Hunter NBA Draft Tape: Virginia's De'Andre Hunter was the most versatile and best athlete on the 2019 national champion Cavaliers team. Hunter saved his best game for the last as he scored 27 points and grabbed 9 rebounds in the championship game against Texas Tech. The 2018-19 All-ACC First Team selection averaged 15.1 PPG, 2.0 APG and 5.1 RPG. Check out De'Andre Hunter's NBA Draft Tape right here!</p>
					</div>
				</div>
			</div>

			<!-- BEGIN ATHLETE -->
			<div class="athlete">
				<h3 class="clearfix" id="coby-white">
					<div>Coby White | Guard | <img alt="" src="/images/school_north_carolina.png" /></div>
					<div>Avg. Pick: 6.4</div>
				</h3>
				<table class="sidearm-table">
					<thead>
						<tr>
							<th>Site</th>
							<th>Pick</th>
							<th>Pro Team</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ESPN</td>
							<td>6</td>
							<td>Phoenix Suns</td>
						</tr>
						<tr>
							<td>Sports Illustrated</td>
							<td>7</td>
							<td>Chicago Bulls</td>
						</tr>
						<tr>
							<td>The Ringer</td>
							<td>7</td>
							<td>Chicago Bulls</td>
						</tr>
						<tr>
							<td>CBS Sports</td>
							<td>7</td>
							<td>Chicago Bulls</td>
						</tr>
						<tr>
							<td>NBADraft.net</td>
							<td>5</td>
							<td>Cleveland Cavaliers</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="medium-12 large-5 columns">
						<div class="embed-responsive">
							<iframe class="embed-responsive-item" allow="fullscreen"  src="https://player.watchstadium.com/77/iframe.html?codec=&amp;player_id=60&amp;type=vod&amp;asset_id=170969"></iframe>
						</div>
					</div>
					<div class="medium-12 large-7 columns">
						<p>Coby White NBA Draft Tape: Coby White was a pleasant surprise for North Carolina, starting the season as one of the main contributors and by the end of the season becoming the team's go-to player. The 6'5" point guard averaged 16.1 PPG, 4.1 APG, 3.5 RPG in one season with the Tar Heels. White was named ACC Freshman of the Week 5 different times, tied for most in the 2018-19 season with Zion Williamson. White can drive to the basket at will and he can also shoot it from deep as he set the UNC freshman record for made 3-pointers. Check out Coby White's NBA Draft Tape right here!</p>
					</div>
				</div>
			</div>

			<!-- BEGIN ATHLETE -->
			<div class="athlete">
				<h3 class="clearfix" id="cam-reddish">
					<div>Cam Reddish | Forward | <img alt="" src="/images/school_duke.png" /></div>
					<div>Avg. Pick: 8</div>
				</h3>
				<table class="sidearm-table">
					<thead>
						<tr>
							<th>Site</th>
							<th>Pick</th>
							<th>Pro Team</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ESPN</td>
							<td>8</td>
							<td>Atlanta Hawks</td>
						</tr>
						<tr>
							<td>Sports Illustrated</td>
							<td>8</td>
							<td>Atlanta Hawks</td>
						</tr>
						<tr>
							<td>The Ringer</td>
							<td>8</td>
							<td>Atlanta Hawks</td>
						</tr>
						<tr>
							<td>CBS Sports</td>
							<td>8</td>
							<td>Atlanta Hawks</td>
						</tr>
						<tr>
							<td>NBADraft.net</td>
							<td>8</td>
							<td>Atlanta Hawks</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="medium-12 large-5 columns">
						<div class="embed-responsive">
							<iframe class="embed-responsive-item" allow="fullscreen"  src="https://player.watchstadium.com/77/iframe.html?codec=&amp;player_id=60&amp;type=vod&amp;asset_id=170962"></iframe>
						</div>
					</div>
					<div class="medium-12 large-7 columns">
						<p>Cam Reddish NBA Draft Tape: Duke's Cam Reddish has tremendous upside and will be one of the top forwards available in the 2019 NBA Draft. The 6'8" freshman averaged 13.5 points and made 2.5 3-pointers per game for the Blue Devils this season. Reddish can get to the basket with an array of moves and can step out and bury 3-pointers at will. Check out Cam Reddish's NBA Draft Tape right here!</p>
					</div>
				</div>
			</div>

			<!-- BEGIN ATHLETE -->
			<div class="athlete">
				<h3 class="clearfix" id="nassir-little">
					<div>Nassir Little | Forward | <img alt="" src="/images/school_north_carolina.png" /></div>
					<div>Avg. Pick: 13.2</div>
				</h3>
				<table class="sidearm-table">
					<thead>
						<tr>
							<th>Site</th>
							<th>Pick</th>
							<th>Pro Team</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ESPN</td>
							<td>11</td>
							<td>Minnesota Timberwolves</td>
						</tr>
						<tr>
							<td>Sports Illustrated</td>
							<td>18</td>
							<td>Indiana Pacers</td>
						</tr>
						<tr>
							<td>The Ringer</td>
							<td>13</td>
							<td>Miami Heat</td>
						</tr>
						<tr>
							<td>CBS Sports</td>
							<td>13</td>
							<td>Miami Heat</td>
						</tr>
						<tr>
							<td>NBADraft.net</td>
							<td>11</td>
							<td>Minnesota Timberwolves</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="medium-12 large-5 columns">
						<div class="embed-responsive">
							<iframe class="embed-responsive-item" allow="fullscreen"  src="https://player.watchstadium.com/77/iframe.html?codec=&amp;player_id=60&amp;type=vod&amp;asset_id=171008"></iframe>
						</div>
					</div>
					<div class="medium-12 large-7 columns">
						<p>Nassir Little NBA Draft Tape: Nassir Little is a 6'6" athletic small forward whose game is perfectly suited for the NBA. Little averaged 9.8 PPG and 4.6 RPG, but he ended the season very strong averaging 14.3 PPG and 4.6 RPG in the NCAA Tournament. Check out Nassir Little's NBA Draft Tape right here!</p>
					</div>
				</div>
			</div>

			<!-- BEGIN ATHLETE -->
			<div class="athlete">
				<h3 class="clearfix" id="nickeil-alexander-walker">
					<div>Nickeil Alexander-Walker | Guard | <img alt="" src="/images/school_virginia_tech.png" /></div>
					<div>Avg. Pick: 16.4</div>
				</h3>
				<table class="sidearm-table">
					<thead>
						<tr>
							<th>Site</th>
							<th>Pick</th>
							<th>Pro Team</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ESPN</td>
							<td>16</td>
							<td>Orlando Magic</td>
						</tr>
						<tr>
							<td>Sports Illustrated</td>
							<td>16</td>
							<td>Orlando Magic</td>
						</tr>
						<tr>
							<td>The Ringer</td>
							<td>14</td>
							<td>Boston Celtics</td>
						</tr>
						<tr>
							<td>CBS Sports</td>
							<td>18</td>
							<td>Indiana Pacers</td>
						</tr>
						<tr>
							<td>NBADraft.net</td>
							<td>18</td>
							<td>Indiana Pacers</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="medium-12 large-5 columns">
						<div class="embed-responsive">
							<iframe class="embed-responsive-item" allow="fullscreen"  src="https://player.watchstadium.com/77/iframe.html?codec=&amp;player_id=60&amp;type=vod&amp;asset_id=170941"></iframe>
						</div>
					</div>
					<div class="medium-12 large-7 columns">
						<p>Nickeil Alexander-Walker NBA Draft Tape: Virginia Tech's Nickeil Alexander-Walker raised his game and his playmaking ability this past season in Blacksburg. Raising his scoring by 5.5 PPG, Alexander-Walker at times was the go-to option on a very good Hokies team that had a number of guys who could really shoot the ball. He also showed the ability to bring up the ball and run the offense after Justin Robinson went down with an injury. The 6'4" combo guard with a 6'9" wingspan was named All-ACC Third Team. Check out Nickeil Alexander-Walker's NBA Draft Tape right here!</p>
					</div>
				</div>
			</div>

			<!-- BEGIN ATHLETE -->
			<div class="athlete">
				<h3 class="clearfix" id="mfiondu-kabengele">
					<div>Mfiondu Kabengele | Center | <img alt="" src="/images/school_florida_state.png" /></div>
					<div>Avg. Pick: 22.8</div>
				</h3>
				<table class="sidearm-table">
					<thead>
						<tr>
							<th>Site</th>
							<th>Pick</th>
							<th>Pro Team</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ESPN</td>
							<td>22</td>
							<td>Boston Celtics</td>
						</tr>
						<tr>
							<td>Sports Illustrated</td>
							<td>25</td>
							<td>Portland Trail Blazers</td>
						</tr>
						<tr>
							<td>The Ringer</td>
							<td>30</td>
							<td>Milwaukee Bucks</td>
						</tr>
						<tr>
							<td>CBS Sports</td>
							<td>22</td>
							<td>Boston Celtics</td>
						</tr>
						<tr>
							<td>NBADraft.net</td>
							<td>15</td>
							<td>Detroit Pistons</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="medium-12 large-5 columns">
						<div class="embed-responsive">
							<iframe class="embed-responsive-item" allow="fullscreen"  src="https://player.watchstadium.com/77/iframe.html?codec=&amp;player_id=60&amp;type=vod&amp;asset_id=170879"></iframe>
						</div>
					</div>
					<div class="medium-12 large-7 columns">
						<p>Mfiondu Kabengele NBA Draft Tape: FSU's Mfiondu Kabengele is one of the 2019 NBA Draft's most versatile forwards. The 6'10" 250-pounder was the 2019 All-ACC Sixth Man of The Year. Kabengele is a threat in the post, as well as the perimeter. His great length allows him to be a devastating defender and elite shot-blocker. Check out Mfiondu Kabengele's NBA Draft Tape right here!</p>
					</div>
				</div>
			</div>

			<!-- BEGIN ATHLETE -->
			<div class="athlete">
				<h3 class="clearfix" id="cameron-johnson">
					<div>Cameron Johnson | Forward | <img alt="" src="/images/school_north_carolina.png" /></div>
					<div>Avg. Pick: 24</div>
				</h3>
				<table class="sidearm-table">
					<thead>
						<tr>
							<th>Site</th>
							<th>Pick</th>
							<th>Pro Team</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ESPN</td>
							<td>21</td>
							<td>Oklahoma City Thunder</td>
						</tr>
						<tr>
							<td>Sports Illustrated</td>
							<td>22</td>
							<td>Boston Celtics</td>
						</tr>
						<tr>
							<td>The Ringer</td>
							<td>24</td>
							<td>Philadelphia 76ers</td>
						</tr>
						<tr>
							<td>CBS Sports</td>
							<td>21</td>
							<td>Oklahoma City Thunder</td>
						</tr>
						<tr>
							<td>NBADraft.net</td>
							<td>32</td>
							<td>Phoenix Suns</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="medium-12 large-5 columns">
						<div class="embed-responsive">
							<iframe class="embed-responsive-item" allow="fullscreen"  src="https://player.watchstadium.com/77/iframe.html?codec=&amp;player_id=60&amp;type=vod&amp;asset_id=170909"></iframe>
						</div>
					</div>
					<div class="medium-12 large-7 columns">
						<p>Cameron Johnson NBA Draft Tape: North Carolina's Cameron Johnson is one of the true marksmen in the 2019 NBA Draft. The 6'9" forward shot 41.1% during his career at UNC. Johnson was a 2019 All-ACC First-Team selection that averaged 15.0 points and 5.3 rebounds during his time in Chapel Hill. Check out Cameron Johnson's NBA Draft Tape right here!</p>
					</div>
				</div>
			</div>

			<!-- BEGIN ATHLETE -->
			<div class="athlete">
				<h3 class="clearfix" id="ty-jerome">
					<div>Ty Jerome | Guard | <img alt="" src="/images/school_virginia.png" /></div>
					<div>Avg. Pick: 24.2</div>
				</h3>
				<table class="sidearm-table">
					<thead>
						<tr>
							<th>Site</th>
							<th>Pick</th>
							<th>Pro Team</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ESPN</td>
							<td>25</td>
							<td>Portland Trail Blazers</td>
						</tr>
						<tr>
							<td>Sports Illustrated</td>
							<td>26</td>
							<td>Cleveland Cavaliers</td>
						</tr>
						<tr>
							<td>The Ringer</td>
							<td>22</td>
							<td>Boston Celtics</td>
						</tr>
						<tr>
							<td>CBS Sports</td>
							<td>24</td>
							<td>Philadelphia 76ers</td>
						</tr>
						<tr>
							<td>NBADraft.net</td>
							<td>24</td>
							<td>Philadelphia 76ers</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="medium-12 large-5 columns">
						<div class="embed-responsive">
							<iframe class="embed-responsive-item" allow="fullscreen"  src="https://player.watchstadium.com/77/iframe.html?codec=&amp;player_id=60&amp;type=vod&amp;asset_id=170901"></iframe>
						</div>
					</div>
					<div class="medium-12 large-7 columns">
						<p>Ty Jerome NBA Draft Tape: Comming off a national championship, Virginia's Ty Jerome has made a name for himself in a draft class with a number of good point guards. The 6'5" All ACC Second Team guard has proven to be one of the best at running his team and making smart decisions on the basketball court. Jerome is a two-way guard who is ready to contribute right away to a contender in the NBA. Watch Ty Jerome's NBA Draft Tape right here!</p>
					</div>
				</div>
			</div>

			<!-- BEGIN ATHLETE -->
			<div class="athlete">
				<h3 class="clearfix" id="terance-mann">
					<div>Terance Mann | Guard | <img alt="" src="/images/school_florida_state.png" /></div>
					<div>Avg. Pick: 47</div>
				</h3>
				<table class="sidearm-table">
					<thead>
						<tr>
							<th>Site</th>
							<th>Pick</th>
							<th>Pro Team</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ESPN</td>
							<td>---</td>
							<td>---</td>
						</tr>
						<tr>
							<td>Sports Illustrated</td>
							<td>---</td>
							<td>---</td>
						</tr>
						<tr>
							<td>The Ringer</td>
							<td>43</td>
							<td>Minnesota Timberwolves</td>
						</tr>
						<tr>
							<td>CBS Sports</td>
							<td>60</td>
							<td>Sacramento Kings</td>
						</tr>
						<tr>
							<td>NBADraft.net</td>
							<td>38</td>
							<td>Chicago Bulls</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="medium-12 large-5 columns">
						<div class="embed-responsive">
							<iframe class="embed-responsive-item" allow="fullscreen"  src="https://player.watchstadium.com/77/iframe.html?codec=&amp;player_id=60&amp;type=vod&amp;asset_id=169264"></iframe>
						</div>
					</div>
					<div class="medium-12 large-7 columns">
						<p>Florida State's Terance Mann was a do-all player for the Seminoles and was named to the Honorable Mention team. The senior guard was either first or second on the team in points, rebounds, assists, free throw percentage, and 3-point field goal percentage. Mann averaged 11.4 points, 6.5 rebounds and 2.5 assists per game for FSU in the 2018-19 season. Watch Terance Mann's official highlights right here!</p>
					</div>
				</div>
			</div>

			<!-- BEGIN ATHLETE -->
			<div class="athlete">
				<h3 class="clearfix" id="jaylen-hoard">
					<div>Jaylen Hoard | Forward | <img alt="" src="/images/school_wake_forest.png" /></div>
					<div>Avg. Pick: 56.2</div>
				</h3>
				<table class="sidearm-table">
					<thead>
						<tr>
							<th>Site</th>
							<th>Pick</th>
							<th>Pro Team</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ESPN</td>
							<td>55</td>
							<td>New York Knicks</td>
						</tr>
						<tr>
							<td>Sports Illustrated</td>
							<td>56</td>
							<td>LA Clippers</td>
						</tr>
						<tr>
							<td>The Ringer</td>
							<td>---</td>
							<td>---</td>
						</tr>
						<tr>
							<td>CBS Sports</td>
							<td>55</td>
							<td>New York Knicks</td>
						</tr>
						<tr>
							<td>NBADraft.net</td>
							<td>59</td>
							<td>Toronto Raptors</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="medium-12 large-5 columns">
						<div class="embed-responsive">
							<iframe class="embed-responsive-item" allow="fullscreen"  src="https://player.watchstadium.com/77/iframe.html?codec=&amp;player_id=60&amp;type=vod&amp;asset_id=169522"></iframe>
						</div>
					</div>
					<div class="medium-12 large-7 columns">
						<p>Wake Forest's Jaylen Hoard was a productive freshman for the Demon Deacons amid lofty expectations entering the program. The 6'8" freshman averaged 13.1 points and 7.6 rebounds per game including 7 double-doubles. Hoard brings great athleticism and versatility and is long on potential. Check out Jaylen Hoard's Official Highlights right here!</p>
					</div>
				</div>
			</div>

			<!-- BEGIN ATHLETE -->
			<!--
			<div class="athlete">
				<h3 id="oshae-brissett" class="clearfix">
					<div>Oshae Brissett | Forward | <img src="/images/school_syracuse.png"></div>
					<div>Avg. Pick: #1</div>
				</h3>
				<table class="sidearm-table">
					<thead>
						<tr>
							<th>Site</th>			
							<th>Pick</th>
							<th>Pro Team</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ESPN</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>CBS SPorts</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>NBADraft.net</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>Draft Express</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>Bleacher Report</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>Sports Illustrated</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="medium-12 large-5 columns">
						<div class="embed-responsive">
						  <iframe class="embed-responsive-item" allow="fullscreen"  src="https://player.watchstadium.com/77/iframe.html?codec=&player_id=60&type=vod&asset_id=159447"></iframe>
						</div>
					</div>
					<div class="medium-12 large-7 columns">
						<p>Syracuse's Oshae Brissett punished the rim in Chestnut Hill with a thunderous dunk.  Off the inbounds pass, Brissett made one move and found a clear path to the basket to throw down a thunderous one-handed dunk in this ACC Must See Moment presented by New York Life.</p>
					</div>
				</div>
			</div>
			-->

			<!-- BEGIN ATHLETE -->
			<!--
			<div class="athlete">
				<h3 id="ky-bowman" class="clearfix">
					<div>Ky Bowman | Guard | <img src="/images/school_boston_college.png"></div>
					<div>Avg. Pick: #1</div>
				</h3>
				<table class="sidearm-table">
					<thead>
						<tr>
							<th>Site</th>			
							<th>Pick</th>
							<th>Pro Team</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ESPN</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>CBS SPorts</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>NBADraft.net</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>Draft Express</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>Bleacher Report</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>Sports Illustrated</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="medium-12 large-5 columns">
						<div class="embed-responsive">
						  <iframe class="embed-responsive-item" allow="fullscreen"  src="https://player.watchstadium.com/77/iframe.html?codec=&player_id=60&type=vod&asset_id=169253"></iframe>
						</div>
					</div>
					<div class="medium-12 large-7 columns">
						<p>Boston College's Ky Bowman is one of the most electric players to ever play in the ACC. Bowman's cat-like quickness, extraordinary ball handling and elite explosion make him a threat anywhere on the basketball court. The 2019 Second-Team All-ACC selection averaged 16.9 points, 6.4 rebounds and 3.9 assists for his career. Enjoy the greatness of Ky Bowman in these official highlights right here!</p>
					</div>
				</div>
			</div>
			-->
			
			<!-- BEGIN ATHLETE -->
			<!--
			<div class="athlete">
				<h3 id="kyle-guy" class="clearfix">
					<div>Kyle Guy | Guard | <img src="/images/school_virginia.png"></div>
					<div>Avg. Pick: #1</div>
				</h3>
				<table class="sidearm-table">
					<thead>
						<tr>
							<th>Site</th>			
							<th>Pick</th>
							<th>Pro Team</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ESPN</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>CBS SPorts</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>NBADraft.net</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>Draft Express</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>Bleacher Report</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>Sports Illustrated</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="medium-12 large-5 columns">
						<div class="embed-responsive">
						  <iframe class="embed-responsive-item" allow="fullscreen"  src="https://player.watchstadium.com/77/iframe.html?codec=&player_id=60&type=vod&asset_id=169381"></iframe>
						</div>
					</div>
					<div class="medium-12 large-7 columns">
						<p>Kyle Guy is coming off a stellar junior season in which he helped lead the Virginia Cavaliers to a national championship. Guy was named to the 2019 First-Team All-ACC in a season which he led the ACC in made 3-pointers per game and second in the ACC in 3-PT FG%.  Kyle also led the Cavaliers in scoring with 15.4 points per game, while also grabbing 4.5 rebounds and dishing 2.1 assists per game.  Take a look at the official highlights from the Cavaliers sharpshooter.</p>
					</div>
				</div>
			</div>
			-->

			<!-- BEGIN ATHLETE -->
			<!--
			<div class="athlete">
				<h3 id="justin-robinson" class="clearfix">
					<div>Justin Robinson | Guard | <img src="/images/school_virginia_tech.png"></div>
					<div>Avg. Pick: #1</div>
				</h3>
				<table class="sidearm-table">
					<thead>
						<tr>
							<th>Site</th>			
							<th>Pick</th>
							<th>Pro Team</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ESPN</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>CBS SPorts</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>NBADraft.net</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>Draft Express</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>Bleacher Report</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>Sports Illustrated</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="medium-12 large-5 columns">
						<div class="embed-responsive">
						  <iframe class="embed-responsive-item" allow="fullscreen"  src="https://player.watchstadium.com/77/iframe.html?codec=&player_id=60&type=vod&asset_id=169685"></iframe>
						</div>
					</div>
					<div class="medium-12 large-7 columns">
						<p>Virginia Tech guard Justin Robinson has been one of the best players to come through the Hokies basketball program, and he finished off his college career with a solid senior year.  Robinson averaged 13.5 points, 5.0 assists, and 3.2 rebounds per game in the 2018-19 season.  Despite missing a big chunk of the ACC season, Justin Robinson still had plenty of highlights and made his impact felt on one of the best seasons in Virginia Tech's history.</p>
					</div>
				</div>
			</div>
			-->

			<!-- BEGIN ATHLETE -->
			<!--
			<div class="athlete">
				<h3 id="tyus-battle" class="clearfix">
					<div>Tyus Battle | Guard | <img src="/images/school_syracuse.png"></div>
					<div>Avg. Pick: #1</div>
				</h3>
				<table class="sidearm-table">
					<thead>
						<tr>
							<th>Site</th>			
							<th>Pick</th>
							<th>Pro Team</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ESPN</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>CBS SPorts</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>NBADraft.net</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>Draft Express</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>Bleacher Report</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
						<tr>
							<td>Sports Illustrated</td>
							<td>1</td>
							<td>Warriors</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="medium-12 large-5 columns">
						<div class="embed-responsive">
						  <iframe class="embed-responsive-item" allow="fullscreen"  src="https://player.watchstadium.com/77/iframe.html?codec=&player_id=60&type=vod&asset_id=169531"></iframe>
						</div>
					</div>
					<div class="medium-12 large-7 columns">
						<p>Syracuse's Tyus Battle's calling card is that of a prolific scorer as he has been one of the ACC's best during his time at Syracuse. The two-time All-ACC selection averaged 16.0 points and 2.8 rebounds per game for his career. Battle is dynamic offensively, creates for his teammates and is never afraid to take the big shot. Check out Tyus Battle's Official Highlights right here!</p>
					</div>
				</div>
			</div>
		-->

		</div>

		<div class="small-12 medium-4 columns">
			<div class="player-nav player-nav-bottom">
				<h3>Pick Your Prospect</h3>

				<div class="anchor-nav">
					<ul>
						<li><span data-location="zion-williamson">Zion Williamson <img alt="" src="/images/school_duke.png" /></span></li>
						<li><span data-location="rj-barret">RJ Barrett <img alt="" src="/images/school_duke.png" /></span></li>
						<li><span data-location="de-andre-hunter">De'Andre Hunter <img alt="" src="/images/school_virginia.png" /></span></li>
						<li><span data-location="coby-white">Coby White <img alt="" src="/images/school_north_carolina.png" /></span></li>
						<li><span data-location="cam-reddish">Cam Reddish <img alt="" src="/images/school_duke.png" /></span></li>
						<li><span data-location="nassir-little">Nassir Little <img alt="" src="/images/school_north_carolina.png" /></span></li>
						<li><span data-location="nickeil-alexander-walker">Nickeil Alexander-Walker <img alt="" src="/images/school_virginia_tech.png" /></span></li>
						<li><span data-location="mfiondu-kabengele">Mfiondu Kabengele <img alt="" src="/images/school_florida_state.png" /></span></li>
						<li><span data-location="cameron-johnson">Cameron Johnson <img alt="" src="/images/school_north_carolina.png" /></span></li>
						<li><span data-location="ty-jerome">Ty Jerome <img alt="" src="/images/school_virginia.png" /></span></li>
						<li><span data-location="terance-mann">Terance Mann <img alt="" src="/images/school_florida_state.png" /></span></li>
						<li><span data-location="jaylen-hoard">Jaylen Hoard <img alt="" src="/images/school_wake_forest.png" /></span></li>
						<!-- <li><span data-location="oshae-brissett">Oshae Brissett <img src="/images/school_syracuse.png"></span></li> --><!-- <li><span data-location="ky-bowman">Ky Bowman <img src="/images/school_boston_college.png"></span></li> --><!-- <li><span data-location="kyle-guy">Kyle Guy <img src="/images/school_virginia.png"></span></li> --><!-- <li><span data-location="justin-robinson">Justin Robinson <img src="/images/school_virginia_tech.png"></span></li> --><!-- <li><span data-location="tyus-battle">Tyus Battle <img src="/images/school_syracuse.png"></span></li> -->
						<li><a href="/sports/2014/6/5/acc-in-the-nba-draft.aspx">View Previous Draft Years</a></li>
					</ul>
				</div>
			</div>

			<div class="potentials">
				<h3>On The Radar</h3>

				<ul>
					<li><span>Tyus Battle <img alt="" src="/images/school_syracuse.png" /></span></li>
					<li><span>Ky Bowman <img alt="" src="/images/school_boston_college.png" /></span></li>
					<li><span>Oshae Brissett <img alt="" src="/images/school_syracuse.png" /></span></li>
					<li><span>Kyle Guy <img alt="" src="/images/school_virginia.png" /></span></li>
					<li><span>Justin Robinson <img alt="" src="/images/school_virginia_tech.png" /></span></li>
				</ul>
			</div>

			<div id="section-social">
				<h3 id="social-feed">Social<a href="https://twitter.com/accmbb" target="_blank">@ACCMBB</a></h3>

				<div class="social-holder">
					<div class="social-feed">
						<div class="social-container"><a class="twitter-timeline" data-chrome="noheader nofooter" data-tweet-limit="10" height="800" href="https://twitter.com/accmbb" width="100%">Tweets by ACCMBB</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
