<div style="background:#eee;padding:30px 20px;margin-bottom:40px;">
	<div class="row">
		<div class="small-12 large-6 columns">
			<!-- <h3>Presented By <img alt="" src="https://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/9/14/logo_kioti_tractor.png" style="height: 60px; display: inline-block; margin: 0px 5px;" /></h3> -->
			<p class="text-bold" style="font-size:120%">Ready to air it out? Introducing ACC QB Challenge <!-- presented by KIOTI Tractor -->, the first passing app for college sports. Choose your favorite ACC school and compete as their star quarterback in a variety of challenging game modes. Available for FREE in the Apple and Android app stores.</p>
			<div>
				<a href="https://appsto.re/us/Iw_N8.i" target="_blank">
					<img alt="" src="https://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/9/8/logo_apple_app_store.png" style="height: 30px; margin: 0px 0px 30px 5px; display: inline-block;" />
				</a> 
				<a href="http://play.google.com/store/apps/details?id=com.recreativestudios.accqbchallenge" target="_blank">
					<img alt="" src="https://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/9/8/logo_google_play.gif" style="height: 30px; margin: 0px 0px 30px 5px; display: inline-block;" />
				</a>
			</div>
		</div>
		<div class="small-12 large-6 columns" style="text-align:center">
			<img alt="" src="https://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/9/8/qb_challenge_icon.png" style="margin: 0px auto; max-height: 280px; display: inline-block;" />
		</div>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-8 columns">
		<h3>ACC QB Challenge features:</h3>
		<ul>
			<li>Play quarterback for your favorite team's 2015 ACC Football schedule with the goal of making it to the ACC Championship</li>
			<li>Challenge friends and foes to real-time online competitions. Take on rivals or play against random opponents.</li>
			<li>Score for your school! Represent your team each week of the ACC football season against their weekly rival.</li>
			<li>Practice up and fine tune your skills back on the farm as you try to hit a targets and rack up bonuses to take to the field.</li>
		</ul>
	</div>
	<div class="small-12 medium-4 columns" style="text-align:center">
		<img alt="" src="https://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/9/8/qb_challenge_feature.png" style="margin: 0px auto 30px; display: inline-block;" />
	</div>
</div>
<div class="row">
	<div class="small-12 medium-6 columns" style="text-align:center">
		<img alt="" src="https://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/9/8/qb-challenge-1_19.png" style="margin: 0px auto 30px; display: inline-block;" />
	</div>
	<div class="small-12 medium-6 columns" style="text-align:center">
		<img alt="" src="https://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/9/8/qb-challenge-2_97.png" style="margin: 0px auto 30px; display: inline-block;" />
	</div>
	<div class="small-12 medium-6 columns" style="text-align:center">
		<img alt="" src="https://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/9/8/qb-challenge-3_2.png" style="margin: 0px auto 30px; display: inline-block;" />
	</div>
	<div class="small-12 medium-6 columns" style="text-align:center">
		<img alt="" src="https://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/9/8/qb-challenge-4_2.png" style="margin: 0px auto 30px; display: inline-block;" />
	</div>
	<div class="small-12 medium-6 columns" style="text-align:center">
		<img alt="" src="https://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/9/8/qb-challenge-5_21.png" style="margin: 0px auto 30px; display: inline-block;" />
	</div>
	<div class="small-12 medium-6 columns" style="text-align:center">
		<img alt="" src="https://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/9/8/qb-challenge-6_65.png" style="margin: 0px auto 30px; display: inline-block;" />
	</div>
</div>
