<p>Thanks for playing ACC 3 PT Challenge!  Get $5 off a $25 purchase from Mellow Mushroom when you order online. Click here to save this code to your camera roll and then simply enter ACC5 on the online ordering checkout screen to get your discount. Visit <a target="_blank" href="http://www.mellowmushroom.com/order">www.mellowmushroom.com/order</a> to order now.</p>
<ul>
	<li>May not be combined with other promotional offers</li>
	<li>One time use only</li>
	<li>Only available through online ordering at <a target="_blank" href="http://www.mellowmushroom.com/order">www.mellowmushroom.com/order</a></li>
	<li>Valid through 4/15/18</li>
</ul>
<p>Click here for Mellow Mushroom locations:  <a target="_blank" href="http://mellowmushroom.com/locations">http://mellowmushroom.com/locations</a></p>