$acc-blue: #1b3ca4;
$acc-grey: #d3d3d3;
$acc-red: #ff0000;

/* =typography
-------------------------------------------------------------- */

body {
	height: 100%;
}

.muted {
	font-size: 0.9rem;
	color: darken($acc-grey, 30%);
}

.text-center {
	text-align: center;
}

.text-bold {
	font-weight: bold;
}

// alerts

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}
.alert-danger {
	color: #721c24;
	border-color: #f5c6cb;
	background: #f8d7da;
}

// buttons

.acc-btn {
	display: inline-block;
  border: 0;
	font-size: 0.9rem;
	font-family: 'Raleway', 'Font Awesome 5 Free', sans-serif;
  text-transform: uppercase;
	text-decoration: none;
  font-weight: bold;
  padding: 6px 12px;
	color: #fff;
	//white-space: nowrap;
  transition: all 0.5s;
	&:hover {
		color: #fff;
		text-decoration: none;
		cursor: pointer;
	}
	&:visited,
  &:active,
  &:focus {
		color: #fff;
    outline: 0;
  }
  i {
    margin-right: 5px;
    margin-left: 0;
  }
}
.acc-btn-disabled {
	background: darken($acc-grey, 15%);
	color: #fff;
	&:hover {
		background: darken($acc-grey, 25%);
		color: #fff;
	}	
}
.acc-btn-primary {
	background: darken($acc-blue, 7%);
	&:hover {
		background: $acc-blue;
	}
}
.acc-btn-red {
	background: $acc-red;
	&:hover {
		background: lighten($acc-red, 10%);
	}
}
.acc-btn-link {
	color: #fff;
	padding-left: 0;
	padding-right: 0;
}
@media (min-width: 576px) {}
@media (min-width: 768px) {
	.acc-btn {
		padding: 8px 16px;
		font-size: 1.0rem;
	}
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
.acc-btn-sm {
	padding: 6px 12px;
	font-size: 0.9rem;
}
.acc-btn-lg {
	padding: 12px 18px;
	font-size: 1.2rem;
}
.acc-btn-block {
	width: 100%;
}


/* =common
-------------------------------------------------------------- */

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.alert-muted {
	background: $acc-grey;
	color: darken($acc-grey, 50%);
	font-weight: bold;
	padding: 8px 10px;
}

.responsive-embed {
	margin-bottom: 20px;
	width: 100%;
	position: relative;
	padding-top: 56.6%;
	overflow: hidden;
	img:first-child,
	iframe:first-child,
	object:first-child {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100%;
		width:100%;
		border: none;
	}
	.responsive-embed-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100%;
		width:100%;
		div {
			height: 60px;
			width: 60px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: url(http://www.theacc.com/images/video_play_btn_main.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			opacity: 0.8;
		}
	}
}
@media (min-width: 400px) {}
@media (min-width: 540px) {}
@media (min-width: 768px) {
	.responsive-embed {
		&:before {
			background: rgba(0, 0, 0, 0.4);
		}
		&:hover {
			&:before {
				background: rgba(0, 0, 0, 0.0);
			}
		}
		.responsive-embed-overlay {
			display: none;
		}
	}	
}
@media (min-width: 1024) {}

.sidebar {
	text-align: center;
	.ad {
		display: inline-block;
		margin: 0 auto 30px;
		text-align: center;
		&:hover {
			text-decoration: none;
		}
		img,
		div {
			margin: 0 auto;
			max-width: 300px;
			height: auto;
		}
	}
}
@media (min-width: 400px) {}
@media (min-width: 540px) {}
@media (min-width: 768px) {
	.sidebar {
		.ad {
			border: 1px solid $acc-grey;
			padding: 24px;
		}
	}
}
@media (min-width: 1024) {}


.feed {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	background: transparent;
	.feed-list {
		.feed-item {
			margin-bottom: 20px;
			border-bottom: 1px solid $acc-grey;
			display: block;
			.feed-thumb,
			.feed-thumb-responsive {
				margin-bottom: 20px;
			}
			.responsive-embed {
				&:before {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					transition: 0.35s;
					z-index: 2;
				}
			}
			.feed-details {
				font-family: 'Roboto Condensed', 'Roboto', sans-serif;
				margin-bottom: 20px;
				.feed-details-title {
					font-size: 16px;
					color: #000;
					font-weight: 400;
					text-transform: none;
				}
				.feed-details-date {
					font-size: 14px;
					color: #1b3ca4;
				}
			}
			&:hover {
				cursor: pointer;
				border-bottom: 1px solid $acc-blue;
			}
		}
	}
	.feed-load-more,
	.feed-no-more {
		padding-top: 10px;
		margin-bottom: 30px;
		border-top: none;
		text-align: center;
		div {
			display: inline-block;
			padding: 10px 15px;
			color: #fff;
			background: $acc-blue;
			text-align: center;
			font-weight: bold;
			transform: skew(-26deg, 0deg);
			span {
				display: inline-block;
				transform: skew(26deg, 0deg);
				font-size: 14px;
				text-transform: uppercase;
				font-weight: 700;
			}
		}
		&:hover {
			cursor: pointer;
		}
	}
	.feed-no-more {
		div {
			background: $acc-grey;
		}
	}
}
@media (min-width: 400px) {}
@media (min-width: 540px) {}
@media (min-width: 768px) {
	.feed {
		.feed-list {
			.feed-item {
				.feed-thumb-responsive {
					&:before {
						background: rgba(0, 0, 0, 0.4);
					}
				}
				.feed-thumb-responsive-overlay {
					display: none;
				}
			}
		}
		.feed-load-more {
			div {
				padding: 14px 30px;
				span {
					font-size: 20px;
				}
			}
		}
	}	
}
@media (min-width: 1024) {}

.social-feed {
	margin-bottom: 30px;
	padding: 20px;
	border: 1px solid #013ca6;
	.social-container {
		height: 400px;
		overflow: auto;
	}
}
@media (min-width: 400px) {}
@media (min-width: 540px) {}
@media (min-width: 768px) {
	.social-feed {
		.social-container {
			height: 600px;
		}
	}
}
@media (min-width: 1024) {}

.slick {
	margin: 0 -5px;
	.slide {
		padding: 0 5px;
	}
}

.sidebar {
	h4 {
		text-align: left;
		border-bottom: 1px solid darken($acc-grey, 100%);
		margin-bottom: 8px;
	}
	ul {
		list-style: none;
		margin: 0;
		margin-bottom: 30px;
		padding: 0;
		li {
			a {
				display: block;
				text-align: left;
				padding: 4px 0;
				border-bottom: 1px solid $acc-grey;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.section {
	padding-bottom: 30px;
	.section-header {
		border-top: 5px solid #d3d3d3;
		border-bottom: 5px solid #d3d3d3;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 30px;
		.section-header-title {
	    text-transform: uppercase;
	    color: black;
	    font-size: 26px;
	    margin: 0 12px 15px;
	    line-height: 1.58;
	    position: relative;
	    outline: none;
			font-family: 'Roboto Condensed', 'Roboto', sans-serif;
			font-size: 26px;
			font-weight: 400;
			font-style: normal;
		}
		.section-header-links {
			margin: 0 12px 0 12px;
			.section-header-link {
				display: flex;
				align-items: center;
				width: 100% !important;
				margin-bottom: 15px;
				padding-left: 10px;
				padding-right: 10px;
				background: #1b3ca4;
				height: 40px;
				width: 185px;
				color: white;
				font-size: 14px;
				font-size: 1rem;
				font-weight: 400;
				font-style: normal;
				font: 400 13.3333px Arial;
				text-indent: 1px;
				text-decoration: none;
				&:last-child {
					margin-bottom: 0;
				}
				&:hover {
					text-decoration: none;
				}
				i {
					margin-right: 5px;
					font-size: 1.4rem;
				}
				select {
					border: none;
					background: none;
					border-radius: 0;
					padding: 0 6px;
					height: 40px;
					display: block;
					width: 185px;
					color: white;
					-webkit-appearance: none;
					-moz-appearance: none;
					text-indent: 1px;
					text-overflow: '';
					option {
						display: block;
						color: $acc-blue;
						padding: 5px;
					}
				}
			}
			.section-header-link.dropdown {
				position: relative;
				&:after {
					content: '\e830';
					height: 40px;
					width: 20px;
					line-height: 40px;
					position: absolute;
					top: 0;
					right: 0;
					z-index: 4;
					color: white;
					font-family: sidearm_font;
				}
			}
		}
	}
}
@media (min-width: 400px) {}
@media (min-width: 540px) {}
@media (min-width: 768px) {
	.section {
		.section-header {
			display: flex;
			align-items: center;
			.section-header-title {
				float: left;
				margin-bottom: 0;
			}
			.section-header-links {
				flex: auto;
				float: right;
				.section-header-link {
					float: right;
					width: auto !important;
					margin-bottom: 0;
					margin-left: 10px;
				}
			}
		}
	}
}
@media (min-width: 1024) {}

/* =components
-------------------------------------------------------------- */

#component-page-header {
	background-image: none;
	background: #013ca6;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #013ca6;
	margin-bottom: 30px;
	padding: 40px 0 50px;
	h1,
	h2 {
		text-align: center;
		color: #fff;
		font-size: 1.5em;
		text-shadow: 1px 1px 1px #000;
		margin-bottom: 10px;
	}
	h1 {
		text-transform: uppercase;
	}
	h2 {
		font-size: 1.2em;
	  margin-top: 0;
	  margin-bottom: 0;
		&:last-child {
			margin-bottom: 30px;
		}
	}
	.logo-video-link {
		#page-logo {
		  display: flex;
		  justify-content: center;
		  align-items: center;
			height: 100%;
		  img {
				margin-bottom: 30px;
				filter: drop-shadow(2px 2px 0px rgba(0,0,0,0.7));
			  max-height: 200px;
			  width: auto;
			  max-width: 100%;
		  }
		}
		.responsive-embed {
			margin-bottom: 30px;
		}
	}
	#anchor-nav,
	.anchor-nav {
		margin: 0;
		text-align: center;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				display: block;
				span,
				a {
					text-align: center;
					display: block;
					padding: 4px 10px;
					color: #fff;
					font-weight: bold;
					font-size: 1.2em;
					margin-bottom: 10px;
					background: rgba(1,60,166, 0.7);
					filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.5));
					text-decoration: none;
					i,
					i {
						margin-right: 5px;
					}
				}
				span:hover,
				a:hover {
					text-decoration: none;
					cursor: pointer;
				}
			}
			li:hover {
				cursor: pointer;
			}
			li:last-child a {
				background: rgba(255,0,0, 0.9);
			}
		}
		&.stacked {
			ul {
				li {
					display: block;
				}
			}
		}
	}
}
@media (min-width: 400px) {}
@media (min-width: 540px) {}
@media (min-width: 768px) {
	#component-page-header {
		padding: 60px 20px;
		h1 {
			font-size: 3em;
			margin-bottom: 0px;
		}
		h2 {
			font-size: 2em;
		}
		h2:last-child {
			margin-bottom: 40px;
		}
		.logo-video-link {
			display: flex;
			flex-direction: row;
			#page-logo {
				padding-top: 5px;
				padding-bottom: 0;
				img {
					max-height: 240px;
				}
			}
			.responsive-embed {
				margin-bottom: 50px;
			}
		}
		#anchor-nav,
		.anchor-nav {
			ul {
				li {
					display: inline-block;
					margin-right: 10px;
				}
			}
			&.stacked {
				ul {
					li {
						display: block;
					}
				}
			}
		}
	}
}
@media (min-width: 1024) {
	#component-page-header {
		padding: 60px 100px;
	}
}

#component-hero {
  margin-bottom: 30px;
  a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
	.responsive-embed {
		margin-bottom: -1px;
	}
	#hero-details {
		padding: 10px;
		background: $acc-blue;
		#hero-title {
			font-weight: 700;
			font-size: 24px;
			line-height: 1.2;
			color: #fff;
			text-transform: uppercase;
		}
		#hero-date {
			color: #fff !important;
			font-weight: 300;
			font-size: 16px;
			font-style: italic;
			color: black;
		}
	}
}
@media (min-width: 400px) {}
@media (min-width: 540px) {}
@media (min-width: 768px) {
	#component-hero {
		#hero-details {
			padding: 10px;
			background: $acc-blue;
			#hero-title {
				font-size: 37px;
				line-height: 1;
			}
		}
	}
}
@media (min-width: 1024) {}

#component-standings {
	.standings h3 {
		margin-bottom: 30px;
	}
	.standings .standings-holder {
		margin-bottom: 30px;
	}
  .standings .standings-holder table tbody tr:first-child td {
  	font-weight: bold;
  	text-transform: uppercase;
  }
}

#component-weather {
	margin-bottom: 30px;
	.weather-holder {
		.weather-mobile {
			display: block;
		}
		.weather-desktop {
			display: none;
		}
	}
}
@media (min-width: 400px) {}
@media (min-width: 540px) {}
@media (min-width: 768px) {
	#component-weather {
		.weather-holder {
			.weather-mobile {
				display: none;
			}
			.weather-desktop {
				display: block;
			}
		}
	}
}
@media (min-width: 1024) {}

/* =page specific
-------------------------------------------------------------- */
#sportfile-1160 {
	#component-hero {
		#hero-details {
			#hero-date {
				display: none;
			}
		}
	}
	.feed {
		.feed-list {
			.feed-item {
				.feed-details {
					.feed-details-date {
						display: none;
					}
				}
			}
		}
	}
}

// championship football
#sportfile-649 {
	#component-page-header {
    background-color: #eceff0;
		h1,
		h2 {
			color: #1b3ca4;
			text-shadow: none;
		}
	}
}

// wbball
#sportfile-741 {
	#component-page-header {
		h1,
		h2 {
			color: #e81d75;
			text-shadow: none;
		}
	}
}

/* =sidearm resets
-------------------------------------------------------------- */

#main-content {
	/*
	.row {
		margin-left: -12px;
		margin-right: -12px;
	}
	*/

	article {
		p {
			margin-top: 0;
		}

		h1.article-headline {
			line-height: 54px;
			font-size: 48px;
			font-weight: 700;
			color: $acc-blue;
			text-transform: uppercase;
			margin: 0;
		}
		.row {
			margin-left: -12px;
			margin-right: -12px;
		}
		#component-page-header {
			.row {
				margin-left: 0; 
				margin-right: 0;
			}
		}
	}

	.sidearm-table {
		margin-bottom: 30px;
		caption {
			background: url('https://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/responsive_2019/bg_aotw_pattern.png');
			padding: 10px 15px;
			font-size: 1.2rem;
			font-weight: bold;
			text-transform: uppercase;
		}
		thead {
			tr {
				th {
					text-align: left;
					background: $acc-blue;
					color: #fff;
					font-weight: bold;
				}
			}
		}
		tbody {
			tr {
				td.row-header {
					background: $acc-grey;
					color: darken($acc-grey, 50%);
					font-weight: bold;
					padding: 8px 10px;
				}
			}
		}
	}

	.c-gallery-embed--slider.is-started {
		.c-gallery-embed__header {
			display: none;
		}
		.c-gallery-embed__slider-item-details {
			display: none;
		}
	}

}