<script src="https://use.fontawesome.com/8bd8cb5e46.js"></script>
<div class="row" style="margin-bottom:40px;">
	<div class="medium-12 columns">
		<img style="width:100%;height:auto;" src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/10/18/17-18-WBB_MediaDay_WebGraphics_Header.png" />
	</div>
</div>
<div class="row">
	<div class="medium-8 columns">
		<div style="position:relative;padding-bottom:56.25%;padding-top:25px;height:0;margin-bottom:40px;">
			<iframe allowfullscreen="" mozallowfullscreen="" src="https://player.watchstadium.com/60/iframe.html?asset_id=104914&player_id=60&type=liveevent" style="position:absolute;top:0;left:0;width:100%;height:100%;border:0;" webkitallowfullscreen=""></iframe>
		</div>
	</div>
	<div class="medium-4 columns">
		<aside style="background:#f2f2f2;padding:8px 0 0 0;">
			<section>
				<h4 style="margin:0;padding:4px 12px;font-size:1.5rem;border-bottom:2px solid #cccccc;">Featured Links</h4>
				<ul style="list-style:none;margin:0;padding:0;margin-bottom:40px;">
					<li style="border-bottom:1px solid #ccc;padding:4px 12px;"><a style="text-decoration:none;" href="/news/2017/10/16/acc-womens-basketball-message-points.aspx">ACC Basketball Message Points</a></li>
					<li style="border-bottom:1px solid #ccc;padding:4px 12px;"><a style="text-decoration:none;" href="/documents/2017/10/16//2017_WBB_School_Notes.pdf">School Storylines</a></li>
					<li style="border-bottom:1px solid #ccc;padding:4px 12px;"><a style="text-decoration:none;" href="http://theacc.co/wbb17mdblog">Steve Phillips Blog</a></li>
					<li style="border-bottom:1px solid #ccc;padding:4px 12px;"><a style="text-decoration:none;" href="http://theacc.co/wbb17preseason">Preseason Poll and Preseason All-ACC Team</a></li>
					<li style="border-bottom:1px solid #ccc;padding:4px 12px;"><a style="text-decoration:none;" href="/documents/2017/10/13/17_18_ACC_WBB_MEDIA_GUIDE.pdf">2017-18 Media Guide</a></li>
					<li style="border-bottom:1px solid #ccc;padding:4px 12px;"><a style="text-decoration:none;" href="/documents/2017/10/13/Preseason_History.pdf">Preseason Poll History</a></li>
					<li style="border-bottom:1px solid #ccc;padding:4px 12px;"><a style="text-decoration:none;" href="#">Photo Gallery Link - coming soon</a></li>
					<li style="border-bottom:1px solid #ccc;padding:4px 12px;"><a style="text-decoration:none;" href="/news/2017/10/18/acc-set-for-womens-basketball-media-day.aspx">Attending Players &amp; Press Conference schedule</a></li>
					<li style="border-bottom:1px solid #ccc;padding:4px 12px;"><a style="text-decoration:none;" href="http://theacc.co/wbb18gamesched">WBB to play 18 Game Conference Schedule</a></li>
					<li style="border-bottom:1px solid #ccc;padding:4px 12px;"><a style="text-decoration:none;" target="_blank" href="http://www.espn.com/watch/_/id/3193976/acc-womens-basketball-media-day">Watch on ESPN (morning)</a></li>
					<li style="border-bottom:1px solid #ccc;padding:4px 12px;"><a style="text-decoration:none;" target="_blank" href="http://www.espn.com/watch/_/id/3193975/acc-womens-basketball-media-day">Watch on ESPN (afternoon)</a></li>
				</ul>
			</section>
		</aside>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-3 columns">
		<a style="margin-bottom:40px;display:block;" href="/news/2017/10/16/acc-womens-basketball-message-points.aspx">
			<img style="width:100%;height:auto;" src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/10/18/17-18-WBB_MediaDay_WebGraphics_FeaturedLinks_1.png" />
		</a>	
	</div>
	<div class="small-12 medium-3 columns">
		<a style="margin-bottom:40px;display:block;" href="/documents/2017/10/16//2017_WBB_School_Notes.pdf">
			<img style="width:100%;height:auto;" src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/10/18/17-18-WBB_MediaDay_WebGraphics_FeaturedLinks_2.png" />
		</a>			
	</div>
	<div class="small-12 medium-3 columns">
		<a style="margin-bottom:40px;display:block;" href="http://theacc.co/wbb17mdblog">
			<img style="width:100%;height:auto;" src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/10/18/17-18-WBB_MediaDay_WebGraphics_FeaturedLinks_3.png" />
		</a>			
	</div>
	<div class="small-12 medium-3 columns">
		<a style="margin-bottom:40px;display:block;" href="http://theacc.co/wbb17preseason">
			<img style="width:100%;height:auto;" src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/10/18/17-18-WBB_MediaDay_WebGraphics_FeaturedLinks_4.png" />
		</a>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-8 columns">
		<h3 style="margin-top:0;">Media Day Players &amp; Coaches Press Conference Schedule</h3>
		<table class="sidearm-table collapse-on-small">
			<thead class="sidearm-primary">
				<tr>
					<th class="text-uppercase text-left">Time</th>
					<th class="text-uppercase text-left">School</th>
					<th class="text-uppercase text-left">Player</th>
					<th class="text-uppercase text-left">Player</th>
					<th class="text-uppercase text-left">Coach</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="vertical-align:middle;">9:30 - 9:47</td>	
					<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_nc_state.png"><span style="margin-left:10px;">NC State</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Chelsea Nelson</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Akela Maize</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Wes Moore</span></td>
				</tr>
				<tr>
					<td style="vertical-align:middle;">9:48 - 10:05</td>
					<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_florida_state.png"><span style="margin-left:10px;">Florida State</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Shakayla Thomas</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Imani Wright</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Sue Semrau</span></td>
				</tr>
				<tr>
					<td style="vertical-align:middle;">10:06 - 10:23</td>
					<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_syracuse.png"><span style="margin-left:10px;">Syracuse</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Gabby Cooper</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Tiana Mangakahia</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Quentin Hillsman</span></td>
				</tr>
				<tr>
					<td style="vertical-align:middle;">10:24 - 10:41</td>
					<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_miami.png"><span style="margin-left:10px;">Miami</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Erykah Davenport</span></td>
					<td style="vertical-align:middle;"><span style="margin-left:10px;">-</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Katie Meier</span></td>
				</tr>
				<tr>
					<td style="vertical-align:middle;">10:42 - 10:59</td>
					<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_wake_forest.png"><span style="margin-left:10px;">Wake Forest</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Amber Campbell</span></td>
					<td style="vertical-align:middle;"><span style="margin-left:10px;">-</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Jen Hoover</span></td>
				</tr>
				<tr>
					<td style="vertical-align:middle;">11:00 - 11:17</td>
					<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_louisville.png"><span style="margin-left:10px;">Louisville</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Arica Carter</span></td>
					<td style="vertical-align:middle;"><span style="margin-left:10px;">-</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Jeff Walz</span></td>
				</tr>
				<tr>
					<td style="vertical-align:middle;">11:18 - 11:35</td>
					<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_duke.png"><span style="margin-left:10px;">Duke</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Lexie Brown</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Rebecca Greenwell</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Joanne P. McCallie</span></td>
				</tr>
				<tr>
					<td style="vertical-align:middle;">2:00 - 2:17</td>
					<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_georgia_tech.png"><span style="margin-left:10px;">Georgia Tech</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Francesca Pan</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Zaire O'Neil</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">MaChelle Joseph</span></td>
				</tr>
				<tr>
					<td style="vertical-align:middle;">2:18 - 2:35</td>
					<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_virginia_tech.png"><span style="margin-left:10px;">Virginia Tech</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Regan Magarity</span></td>
					<td style="vertical-align:middle;"><span style="margin-left:10px;">-</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Kenny Brooks</span></td>
				</tr>
				<tr>
					<td style="vertical-align:middle;">2:36 - 2:53</td>
					<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_boston_college.png"><span style="margin-left:10px;">Boston College</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Taylor Ortlepp</span></td>
					<td style="vertical-align:middle;"><span style="margin-left:10px;">-</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Erik Johnson</span></td>
				</tr>
				<tr>
					<td style="vertical-align:middle;">2:54 - 3:11</td>
					<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_clemson.png"><span style="margin-left:10px;">Clemson</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Danielle Edwards</span></td>
					<td style="vertical-align:middle;"><span style="margin-left:10px;">-</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Audra Smith</span></td>
				</tr>
				<tr>
					<td style="vertical-align:middle;">3:12 - 3:29</td>
					<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_pittsburgh.png"><span style="margin-left:10px;">Pittsburgh</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Kauai Bradley</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Yacine Diop</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Suzie McConnell-Serio</span></td>
				</tr>
				<tr>
					<td style="vertical-align:middle;">3:30 - 3:47</td>
					<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_notre_dame.png"><span style="margin-left:10px;">Notre Dame</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Arike Ogunbowale</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Marina Mabrey</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Muffet McGraw</span></td>
				</tr>
				<tr>
					<td style="vertical-align:middle;">3:48 - 4:05</td>
					<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_north_carolina.png"><span style="margin-left:10px;">North Carloina</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Paris Kea</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Jamie Cherry</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Sylvia Hatchell</span></td>
				</tr>
				<tr>
					<td style="vertical-align:middle;">4:06 - 4:23</td>
					<td style="vertical-align:middle;"><img style="vertical-align:middle;width:auto;height:30px;" src="/images/school_virginia.png"><span style="margin-left:10px;">Virginia</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Lauren Moses</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Aliyah Huland El</span></td>
					<td style="vertical-align:middle;"><i class="fa fa-user" style="font-size: 30px;vertical-align:middle;"></i><span style="margin-left:10px;">Joanne Boyle</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="small-12 medium-4 columns">
		<a class="twitter-timeline" style="margin-bottom:40px;" height="800" width="100%" data-chrome="" href="https://twitter.com/accwbb">Tweets by accwbb</a>
		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

	</div>
</div>