<script>
	var saPath = 'mbball',
        saView = 'simple',
        saDetail = 'short',
				saFormat = 'json',
				qFeedType = 'onde'
        qTags = '216,320',
				qLiveTags = '216,320';
</script>
<style>
	.header-img {
		text-align: center;
		margin-bottom: 30px;
	}
	.header-img img {
		margin: 0 auto;
		width: 100%;
		height: auto;
	}
	#section-promos a {
		display: block;
		margin-bottom: 30px;
	}
	/*
	#section-events table thead tr th,
	#section-events table tbody tr td {
		text-align: center;
	}
	*/
	#section-events table tbody tr td:nth-child(1) {
		text-align: left;
	}
	#section-events table tbody tr td img {
		max-width: 30px;
		height: auto;
		margin: 0 14px 0 0;
	}
	@media (min-width: 768px) {
		#section-social .social-holder .social-feed .social-container {
			height: 638px;
		}
	}
</style>
<div class="header-img">
	<img src="/images/2019/9/30/2019-mbball-operation-basketball.png" />
</div>

<section id="section-info">
	<div class="row">
		<div class="medium-12 large-8 columns">
			<a id="story-container" href="">
				<div id="story-holder" style="position:relative;padding-bottom:56.25%;height:0;margin:0 auto;">
					<img id="story" style="position:absolute;top:0;left:0;width:100%;height:100%;border:0;" src="" />
				</div>
				<div id="story-details">
					<div id="story-title"></div>
					<div id="story-date"></div>
				</div>
			</a>
			<!--
			<div id="player-container">
				<div id="player-holder" style="position:relative;padding-bottom:56.25%;height:0;margin:0 auto;">
					<iframe id="player" style="position:absolute;top:0;left:0;width:100%;height:100%;border:0;" src="" scrolling="no" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
				</div>
				<div id="player-details">
					<div id="player-title"></div>
					<div id="player-date"></div>
				</div>
			</div>
			-->
		</div>
		<div class="medium-12 large-4 columns">
			<aside style="background:#f2f2f2;padding:8px 0 0 0;">
				<section>
					<div style="text-align:center;">
						<div style="display:flex;justify-content:center;align-items:center;width:300px;margin:20px auto 20px;height:250px;background:#999;margin-bottom:30px;">
							<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
							<script>
							    var googletag = googletag || {};
							    googletag.cmd = googletag.cmd || [];
							</script>
							<script>
							    googletag.cmd.push(function() {
							    googletag.defineSlot('/63316753/raycom-sports/theacc.com', [300, 250], 'div-gpt-ad-1510691386580-0').addService(googletag.pubads());
							    googletag.enableServices();
							  });
							</script>
							<div id='div-gpt-ad-1510691386580-0' style='height:250px; width:300px;'>
								<script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1510691386580-0'); });</script>
							</div>
						</div>
					</div>
					<h4>Featured Links</h4>
					<ul>
						<!-- 
							<li><a href="/documents/2018/9/18/2018_19_WBB_Composite.pdf">2018-19 Schedule</a></li> 
							<li><a href="/documents/2018/9/26/Team_Storylines.pdf">Storylines</a></li>
						-->
            <li><a href="/documents/2019/10/4/19_20_MBB_MBBT_TalkingPoints.pdf">Message Points</a></li>
						<li><a target="_blank" href="http://www.espn.com/watch/_/id/3450372/acc-mens-basketball-media-day">Watch - ACC Network Extra/WatchESPN</a></li>
						<li><a target="_blank" href="https://asaptext.com/orgs/theacc/205/">Press Conference Transcripts</a></li>
						<li><a href="/calendar.aspx?path=mbball">Schedule</a></li>
					</ul>
				</section>
			</aside>
			<!--
			<a class="twitter-timeline" style="margin-bottom:40px;" height="800" width="100%" data-chrome="" href="https://twitter.com/accfootball">Tweets by accfootball</a>
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			-->
		</div>
	</div>
</section>
<section id="section-promos">
    <div class="row">
		<div class="small-12 medium-3 columns">
			<a href="/calendar.aspx?path=mbball">
				<img class="img-responsive" alt="Schedule" src="/images/2018/10/17/tile-promo-schedule-mens-media.png">
			</a>
		</div>
        <div class="small-12 medium-3 columns">
			<a href="/documents/2019/10/4/19_20_MBB_MBBT_TalkingPoints.pdf">
				<img class="img-responsive" alt="Message Points" src="/images/2018/10/17/tile-promo-message-points-mens-media.png">
			</a>				
		</div>
        <div class="small-12 medium-3 columns">
			<a target="_blank" href="https://twitter.com/accmbb?lang=en">
				<img class="img-responsive" alt="Social" src="/images/2018/10/17/tile-promo-twitter-mens-media.png">
			</a>
		</div>
        <div class="small-12 medium-3 columns">
			<a target="_blank" href="#">
				<img class="img-responsive" alt="ACCN Watch Live" src="/images/2019/9/30/2019-mbball-operation-basketball-title-watch-live.png">
			</a>
        </div>
    </div>
</section>
<section>
	<div class="row">
		<div class="small-12 medium-8 columns">
			<div id="section-events">
				<h3>Attendees</h3>
				<table class="sidearm-table collapse-on-small" style="margin-bottom:30px;">
					<thead>
						<tr>
							<th>School</th>
							<th>Coach</th>
							<th>Player</th>
							<th>Player</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><img alt="" src="/images/school_boston_college.png" style="display: inline-block;" />Boston College</td>
							<td><a href="https://bceagles.com/coaches.aspx?rc=629&amp;path=mbball" target="_blank">Jim Christian</a></td>
							<td><a href="https://bceagles.com/roster.aspx?rp_id=11341" target="_blank">Derryck Thornton</a></td>
							<td><a href="https://bceagles.com/roster.aspx?rp_id=11246" target="_blank">Nik Popovic</a></td>
						</tr>
						<tr>
							<td><img alt="" src="/images/school_clemson.png" style="display: inline-block;" />Clemson</td>
							<td><a href="http://clemsontigers.com/coaches/brad-brownell/" target="_blank">Brad Brownell</a></td>
							<td><a href="https://clemsontigers.com/sports/mens-basketball/roster/season/2019/aamir-simms/" target="_blank">Aamir Simms</a></td>
							<td><a href="https://clemsontigers.com/sports/mens-basketball/roster/season/2019/john-newman-iii/" target="_blank">John Newman III</a></td>
						</tr>
						<tr>
							<td><img alt="" src="/images/school_duke.png" style="display: inline-block;" />Duke</td>
							<td><a href="https://goduke.com/coaches.aspx?rc=3607&amp;path=mbball" target="_blank">Mike Krzyzewski</a></td>
							<td><a href="https://goduke.com/roster.aspx?rp_id=11772" target="_blank">Javin DeLaurier</a></td>
							<td><a href="https://goduke.com/roster.aspx?rp_id=11781" target="_blank">Jack White</a></td>
						</tr>
						<tr>
							<td><img alt="" src="/images/school_florida_state.png" style="display: inline-block;" />Florida State</td>
							<td><a href="http://seminoles.com/staff/leonard-hamilton/" target="_blank">Leonard Hamilton</a></td>
							<td><a href="https://seminoles.com/sports/basketball/roster/season/2019-20/trent-forrest/" target="_blank">Trent Forrest</a></td>
							<td><a href="https://seminoles.com/sports/basketball/roster/season/2019-20/m-j-walker/" target="_blank">M.J. Walker</a></td>
						</tr>
						<tr>
							<td><img alt="" src="/images/school_georgia_tech.png" style="display: inline-block;" />Georgia Tech</td>
							<td><a href="https://ramblinwreck.com/coach/josh-pastner-2/" target="_blank">Josh Pastner</a></td>
							<td><a href="https://ramblinwreck.com/sports/m-baskbl/roster/season/2019-20/james-banks-iii/" target="_blank">James Banks III</a></td>
							<td><a href="https://ramblinwreck.com/sports/m-baskbl/roster/season/2019-20/michael-devoe/" target="_blank">Michael Devoe</a></td>
						</tr>
						<tr>
							<td><img alt="" src="/images/school_louisville.png" style="display: inline-block;" />Louisville</td>
							<td><a href="https://gocards.com/coaches.aspx?rc=852&amp;path=mbball" target="_blank">Chris Mack</a></td>
							<td><a href="https://gocards.com/roster.aspx?rp_id=9621" target="_blank">Jordan Nwora</a></td>
							<td><a href="https://gocards.com/roster.aspx?rp_id=9619" target="_blank">Steven Enoch</a></td>
						</tr>
						<tr>
							<td><img alt="" src="/images/school_miami.png" style="display: inline-block;" />Miami</td>
							<td><a href="https://hurricanesports.com/coaches.aspx?rc=1705&amp;path=mbball" target="_blank">Jim Larra&ntilde;aga</a></td>
							<td><a href="https://hurricanesports.com/roster.aspx?rp_id=12532" target="_blank">Chris Lykes</a></td>
							<td><a href="https://hurricanesports.com/roster.aspx?rp_id=12535" target="_blank">DJ Vasiljevic</a></td>
						</tr>
						<tr>
							<td><img alt="" src="/images/school_north_carolina.png" style="display: inline-block;" />North Carolina</td>
							<td><a href="https://goheels.com/coaches.aspx?rc=3412&amp;path=mbball" target="_blank">Roy Williams</a></td>
							<td><a href="https://goheels.com/roster.aspx?rp_id=16626" target="_blank">Brandon Robinson</a></td>
							<td><a href="https://goheels.com/roster.aspx?rp_id=16619" target="_blank">Garrison Brooks</a></td>
						</tr>
						<tr>
							<td><img alt="" src="/images/school_nc_state.png" style="display: inline-block;" />NC State</td>
							<td><a href="https://gopack.com/coaches.aspx?rc=3330&amp;path=mbball" target="_blank">Kevin Keatts</a></td>
							<td><a href="https://gopack.com/roster.aspx?rp_id=8939" target="_blank">CJ Bryce</a></td>
							<td><a href="https://gopack.com/roster.aspx?rp_id=8938" target="_blank">Markell Johnson</a></td>
						</tr>
						<tr>
							<td><img alt="" src="/images/school_notre_dame.png" style="display: inline-block;" />Notre Dame</td>
							<td><a href="https://und.com/coach/mike-brey-2/" target="_blank">Mike Brey</a></td>
							<td><a href="https://und.com/sports/mbball/roster/season/2019-20/player/john-mooney/" target="_blank">John Mooney</a></td>
							<td><a href="https://und.com/sports/mbball/roster/season/2019-20/player/juwan-durham/" target="_blank">Juwan Durham</a></td>
						</tr>
						<tr>
							<td><img alt="" src="/images/school_pittsburgh.png" style="display: inline-block;" />Pitt</td>
							<td><a href="https://pittsburghpanthers.com/staff.aspx?staff=2489" target="_blank">Jeff Capel</a></td>
							<td><a href="https://pittsburghpanthers.com/roster.aspx?rp_id=10385" target="_blank">Xavier Johnson</a></td>
							<td><a href="https://pittsburghpanthers.com/roster.aspx?rp_id=10387" target="_blank">Trey McGowens</a></td>
						</tr>
						<tr>
							<td><img alt="" src="/images/school_syracuse.png" style="display: inline-block;" />Syracuse</td>
							<td><a href="https://cuse.com/coaches.aspx?rc=3943&amp;path=mbasket" target="_blank">Jim Boeheim</a></td>
							<td><a href="https://cuse.com/roster.aspx?rp_id=17538" target="_blank">Elijah Hughes</a></td>
							<td><a href="https://cuse.com/roster.aspx?rp_id=17537" target="_blank">Marek Dolezaj</a></td>
						</tr>
						<tr>
							<td><img alt="" src="/images/school_virginia.png" style="display: inline-block;" />Virginia</td>
							<td><a href="https://virginiasports.com/coaches.aspx?rc=2663&amp;path=mbball" target="_blank">Tony Bennett</a></td>
							<td><a href="https://virginiasports.com/roster.aspx?rp_id=6751" target="_blank">Braxton Key</a></td>
							<td><a href="https://virginiasports.com/roster.aspx?rp_id=6748" target="_blank">Mamadi Diakite</a></td>
						</tr>
						<tr>
							<td><img alt="" src="/images/school_virginia_tech.png" style="display: inline-block;" />Virginia Tech</td>
							<td><a href="https://hokiesports.com/coaches.aspx?rc=1346&amp;path=mbball" target="_blank">Mike Young</a></td>
							<td><a href="https://hokiesports.com/roster.aspx?rp_id=9893" target="_blank">Wabissa Bede</a></td>
							<td><a href="https://hokiesports.com/roster.aspx?rp_id=9894" target="_blank">PJ Horne</a></td>
						</tr>
						<tr>
							<td><img alt="" src="/images/school_wake_forest.png" style="display: inline-block;" />Wake Forest</td>
							<td><a href="https://godeacs.com/coaches.aspx?rc=526&amp;path=mbball" target="_blank">Danny Manning</a></td>
							<td><a href="https://godeacs.com/roster.aspx?rp_id=5110" target="_blank">Brandon Childress</a></td>
							<td><a href="https://godeacs.com/roster.aspx?rp_id=5116" target="_blank">Andrien White</a></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
		<div class="small-12 medium-4 columns">
			<div id="section-watch">
				<h3 id="section-watch">Watch</h3>
				<table class="sidearm-table collapse-on-small" style="margin-bottom:30px;">
					<thead>
						<tr>
							<th>Time</th>
							<th>Network</th>
						</tr>
					</thead>
					<tbody>
						<td class="row-header" colspan="3">
							<strong>Tuesday, Oct. 8th</strong>
						</td>
						<tr>
							<td>7 am – 10 am</td>
							<td><a target="_blank" href="https://www.espn.com/watch?id=7e9187d0-7016-4c03-b2b1-11998e16be05">The Packer and Durham Show</a></td>
						</tr>
						<tr>
							<td>10 am – Noon</td>
							<td><a target="_blank" href="https://www.espn.com/watch?id=3b578b2a-7824-4b78-8322-fb2eb3ea0bfd">Tipoff</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="section-social">
				<h3 id="social-feed">Social<a target="_blank" href="https://twitter.com/accmbb"><span class="icon-twitter"></span>@ACCMBB</a></h3>
				<div class="social-holder">
					<div class="social-feed">
						<div class="social-container">
							<a class="twitter-timeline" height="800" width="100%" data-tweet-limit="10" data-chrome="noheader nofooter" href="https://twitter.com/accmbb">Tweets by ACCMBB</a>
							<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="section-stories">
	<div class="row">
		<div class="small-12 columns">
			<h3>Stories</h3>
			<div class="feed" id="stories"></div>
			<div class="feed-load-more" data-page="1" id="load-more-stories"><span>Load More Stories</span></div>
		</div>
	</div>
</section>
<!--
<section id="section-videos">
	<div class="row">
		<div class="small-12 columns">
			<h3>Videos</h3>
			<div id="playlist" class="feed"></div>
			<div id="load-more-videos" class="feed-load-more" data-offset="0">
				<span>Load More Videos</span>
			</div>
		</div>
	</div>
</section>
-->