<div class="row">
	<div class="small-12 medium-4 columns" style="text-align:center;margin-bottom:30px;">
		<h3>Prime Sport</h3>
		<div style="display:flex;justify-content:center;align-items:center;height:110px;">
			<img style="max-height:100px;width:auto;max-width:100%;margin:10px 0;" src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/10/26/logo_prime_sports.png" />
		</div>
		<p><a target="_blank" href="https://www.primesport.com/d/acc-championship-football-tickets?utm_source=acc&utm_medium=referral&utm_content=acc_web_football_sports_page_menu_link&utm_campaign=college_football_tickets">Ticket Exchange</a><span style="margin:0 5px;">|</span><a target="_blank" href="https://www.primesport.com/d/acc-championship-football-tickets?utm_source=acc&utm_medium=referral&utm_content=acc_web_football_sports_page_link&utm_campaign=college_football_packages">Hospitality & Travel Packages</a></p>
	</div>
	<div class="small-12 medium-4 columns" style="text-align:center;margin-bottom:30px;">
		<h3>Buy Tickets Now</h3>
		<div style="display:flex;justify-content:center;align-items:center;height:110px;">
			<img style="max-height:100px;width:auto;max-width:100%;margin:10px 0;" src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/9/2/ACC_2017_FCG_LOGO_Digital_2.png" />
		</div>
		<p>Tickets are now on sale through Ticketmaster. <a target="_blank" href="http://theacc.co/fcg17tix">More Info</a></p>
	</div>
	<div class="small-12 medium-4 columns" style="text-align:center;margin-bottom:30px;">
		<h3>Toyota</h3>
		<div style="display:flex;justify-content:center;align-items:center;height:110px;">
			<img style="max-height:100px;width:auto;max-width:100%;margin:10px 0;" src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/10/27/Mobile%20Banner%20-%20320%20x%2050.jpg" />
		</div>
		<p>2017 ACC FCG Toyota Ticket Giveaway <a href="/toyotatickets">Enter Here</a></p>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-4 columns" style="text-align:center;margin-bottom:30px;">
		<h3>Havoline Sweepstakes</h3>
		<div style="display:flex;justify-content:center;align-items:center;height:110px;">
			<img style="max-height:100px;width:auto;max-width:100%;margin:10px 0;" src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/10/27/2017-Havoline-360-Exp-Sweeps_320x50.gif" />
		</div>
		<p>Havoline Sweepstakes <a href="https://accsweeps.havolinepromotions.com/" target="_blank">Enter Here</a></p>
	</div>
	<div class="small-12 medium-4 columns" style="text-align:center;margin-bottom:30px;">
		<h3>Foodlion</h3>
		<div style="display:flex;justify-content:center;align-items:center;height:110px;">
			<img style="max-height:100px;width:auto;max-width:100%;margin:10px 0;" src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/10/27/Food_Lion_MVP_VIP_Sweeps_320x50.png" />
		</div>
		<p>Foodlion MVP VIP Sweepstakes <a href="https://www.foodlion.com/mvpvip/" target="_blank">Enter Here</a></p>
	</div>
	<div class="small-12 medium-4 columns" style="text-align:center;margin-bottom:30px;">
		<h3>Bojangles’</h3>
		<div style="display:flex;justify-content:center;align-items:center;height:110px;">
			<img style="max-height:100px;width:auto;max-width:100%;margin:10px 0;" src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/10/27/2017_BO_DR_P_ACCFCG_Sweeps_320x50.png" />
		</div>
		<p>2017 Bojangles’ Dr Pepper ACC Football Championship VIP Giveaway <a href="/BOVIP">Enter Here</a></p>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-4 columns" style="text-align:center;margin-bottom:30px;">
		<h3>Mellow Mushroom</h3>
		<div style="display:flex;justify-content:center;align-items:center;height:110px;">
			<img style="max-height:100px;width:auto;max-width:100%;margin:10px 0;" src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/11/1/2017_MM_Sweeps_320x50.jpg" />
		</div>
		<p>2017 Mellow Mushroom ACC VIP Sweepstakes <a target="_blank" href="https://mellowmushroom.com/acc/">Enter Here</a></p>
	</div>
	<div class="small-12 medium-4 columns" style="text-align:center;margin-bottom:30px;">
		<h3>Suite Life</h3>
		<div style="display:flex;justify-content:center;align-items:center;height:110px;">
			<img style="max-height:100px;width:auto;max-width:100%;margin:10px 0;" src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/10/26/logo_suite_life.png" />
		</div>
		<p>Enter to win a luxury suite for 10 with a $1,500 travel voucher and more! <a target="_blank" href="http://www.theacc.com/suitelife">Enter Here</a></p>
	</div>
	<div class="small-12 medium-4 columns" style="text-align:center;margin-bottom:30px;">
		<h3>ACC Fan 5K</h3>
		<div style="display:flex;justify-content:center;align-items:center;height:110px;">
			<img style="max-height:100px;width:auto;max-width:100%;margin:10px 0;" src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/10/26/logo_fan5k.png" />
		</div>
		<p>Register by Nov 7 to receive your school-specific race t-shirt. <a target="_blank" href="http://promotions.theacc.com/fan5k/">Register Here</a></p>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-4 columns" style="text-align:center;margin-bottom:30px;">
		<h3>ACC Football Kids’ Combine</h3>
		<div style="display:flex;justify-content:center;align-items:center;height:110px;">
			<img style="max-height:100px;width:auto;max-width:100%;margin:10px 0;" src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/10/26/logo_kids_combine.png" />
		</div>
		<p>Find out how your child can participate. <a target="_blank" href="http://theacc.co/fb17kidscombinepdf">More Info</a></p>
	</div>
</div>