<script>
	var saPath = 'wrestling',
			saView = 'simple',
			saDetail = 'short',
			saFormat = 'json',
			qTags = '216,317',
			qLiveTags = '6865'; // 2018 ACC Kickoff Live
</script>
<style>
	.header-img {
		text-align: center;
		margin-bottom: 30px;
	}
	.header-img img {
		margin: 0 auto;
		width: 100%;
	}
	#section-events table tbody tr td {
		text-align: center;
	}
	#section-events table tbody tr td:nth-child(1) {
		text-align: left;
	}
	#section-events table tbody tr td img {
		max-width: 100px;
		max-height: 100px;
		margin: 0 auto 6px auto;
	}
	#section-events table tbody tr td img.profile {
		display: none;
	}
	#section-events table tbody tr td br {
		display: none;
	}
	@media (min-width: 768px) {
		/*
		#section-social .social-holder .social-feed .social-container {
			height: 1780px;
		}	
		*/
	}
</style>

<div class="header-img">
	<img src="/images/2019/7/8/19_20_fbl_kickoff_webheader.png" />
</div>

<section id="section-info">
	<div class="row">
		<div class="medium-12 large-8 columns">
			<div id="player-container">
				<div id="player-holder" style="position:relative;padding-bottom:56.25%;height:0;margin:0 auto;">
					<iframe id="player" style="position:absolute;top:0;left:0;width:100%;height:100%;border:0;" src="" scrolling="no" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
				</div>
				<div id="player-details">
					<div id="player-title"></div>
					<div id="player-date"></div>
				</div>
			</div>
		</div>
		<div class="medium-12 large-4 columns">
			<aside style="background:#f2f2f2;padding:8px 0 0 0;">
				<section>
					<div style="text-align:center;">
						<div style="display:flex;justify-content:center;align-items:center;width:300px;margin:20px auto 20px;height:250px;background:#999;margin-bottom:30px;">
							<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
							<script>
							  var googletag = googletag || {};
							  googletag.cmd = googletag.cmd || [];
							</script>
							<script>
							  googletag.cmd.push(function() {
							    googletag.defineSlot('/63316753/raycom-sports/theacc.com', [300, 250], 'div-gpt-ad-1510691386580-0').addService(googletag.pubads());
							    googletag.enableServices();
							  });
							</script>
							<div id='div-gpt-ad-1510691386580-0' style='height:250px; width:300px;'>
								<script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1510691386580-0'); });</script>
							</div>
						</div>
					</div>
					<h4>Featured Links</h4>
					<ul>
						<li><a href="#">ACC Kickoff Notes</a></li>
						<li><a target="_blank" href="https://theacc.co/19KickoffTranscripts">Quotes & Transcripts</a></li>
						<li><a target="_blank" href="https://theacc.co/19FBGuide">2019 ACC Media Guide</a></li>
						<li><a target="_blank" href="https://theacc.co/19KickoffHistory">Kickoff History</a></li>
						<li><a target="_blank" href="http://www.espn.com/watch?id=5338bf8d-63e4-4512-9410-48c99c388ae3">Commissioner's Forum</a></li>
						<li><a target="_blank" href="http://www.espn.com/watch?id=2ab8220f-eea3-48c4-b33c-48184fd141f9">ACC Kickoff Day 1 (Watch)</a></li>
						<li><a target="_blank" href="http://www.espn.com/watch?id=4e145f0f-5c2b-4ca3-99b5-7b14b733f4a1">ACC Kickoff Day 2 (Watch)</a></li>
					</ul>
				</section>
			</aside>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<div class="small-12 medium-8 columns">
			<div id="section-events">
				<h3>Schedule of Events</h3>
				<table class="sidearm-table collapse-on-small" style="margin-bottom:30px;">
					<thead>
						<tr>
							<th>Time</th>
							<th>School</th>
							<th>Coach</th>
							<th>Player</th>
							<th>Player</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="6" class="row-header">Atlantic Player and Coach Press Conference Schedule - July 17</td>
						</tr>
						<tr>
							<td>11:45 – 12:15 p.m.</td>
							<td><img src="/images/school_florida_state.png"></td>
							<td><img class="profile" src="#"><br>Willie Taggart</td>
							<td><img class="profile" src="#"><br>WR Tamorrion Terry</td>
							<td><img class="profile" src="#"><br>DT Marvin Wilson</td>
						</tr>
						<tr>
							<td>12:30 – 1 p.m.</td>
							<td><img src="/images/school_boston_college.png"></td>
							<td><img class="profile" src="#"><br>Steve Addazio</td>
							<td><img class="profile" src="#"><br>RB AJ Dillon</td>
							<td><img class="profile" src="#"><br>DT Tanner Karafa</td>
						</tr>
						<tr>
							<td>1:15 – 1:45 p.m.</td>
							<td><img src="/images/school_nc_state.png"></td>
							<td><img class="profile" src="#"><br>Dave Doeren</td>
							<td><img class="profile" src="#"><br>OT Justin Witt</td>
							<td><img class="profile" src="#"><br>DE James Smith-Williams</td>
						</tr>
						<tr>
							<td>2 – 2:30 p.m.</td>
							<td><img src="/images/school_syracuse.png"></td>
							<td><img class="profile" src="#"><br>Dino Babers</td>
							<td><img class="profile" src="#"><br>QB Tommy DeVito</td>
							<td><img class="profile" src="#"><br>DE Kendall Coleman</td>
						</tr>
						<tr>
							<td>2:45 – 3:15 p.m.</td>
							<td><img src="/images/school_wake_forest.png"></td>
							<td><img class="profile" src="#"><br>Dave Clawson</td>
							<td><img class="profile" src="#"><br>RB Cade Carney</td>
							<td><img class="profile" src="#"><br>LB Justin Strnad</td>
						</tr>
						<tr>
							<td>3:30 – 4 p.m.</td>
							<td><img src="/images/school_louisville.png"></td>
							<td><img class="profile" src="#"><br>Scott Satterfield</td>
							<td><img class="profile" src="#"><br>WR Seth Dawkins</td>
							<td><img class="profile" src="#"><br>LB Dorian Etheridge</td>
						</tr>
						<tr>
							<td>4:15 – 4:45 p.m.</td>
							<td><img src="/images/school_clemson.png"></td>
							<td><img class="profile" src="#"><br>Dabo Swinney</td>
							<td><img class="profile" src="#"><br>OG John Simpson</td>
							<td><img class="profile" src="#"><br>S Tanner Muse</td>
						</tr>
						<tr>
							<td colspan="6" class="row-header">Coastal Player and Coach Press Conference Schedule - July 18</td>
						</tr>
						<tr>
							<td>9:30 - 10 a.m.</td>
							<td><img src="/images/school_duke.png"></td>
							<td><img class="profile" src="#"><br>David Cutcliffe</td>
							<td><img class="profile" src="#"><br>QB Quentin Harris</td>
							<td><img class="profile" src="#"><br>LB Koby Quansah</td>
						</tr>
						<tr>
							<td>10:15 - 10:45 a.m.</td>
							<td><img src="/images/school_miami.png"></td>
							<td><img class="profile" src="#"><br>Manny Diaz</td>
							<td><img class="profile" src="#"><br>WR K.J. Osborn</td>
							<td><img class="profile" src="#"><br>LB Shaquille Quarterman</td>
						</tr>
						<tr>
							<td>11 - 11:30 a.m.</td>
							<td><img src="/images/school_pitt.png"></td>
							<td><img class="profile" src="#"><br>Pat Narduzzi</td>
							<td><img class="profile" src="#"><br>WR Maurice FFrench</td>
							<td><img class="profile" src="#"><br>CB Dane Jackson</td>
						</tr>
						<tr>
							<td>11:45 a.m. - 12:15 p.m.</td>
							<td><img src="/images/school_virginia_tech.png"></td>
							<td><img class="profile" src="#"><br>Justin Fuente</td>
							<td><img class="profile" src="#"><br>TE Dalton Keene</td>
							<td><img class="profile" src="#"><br>S Reggie Floyd</td>
						</tr>
						<tr>
							<td>1 - 1:30 p.m.</td>
							<td><img src="/images/school_north_carolina.png"></td>
							<td><img class="profile" src="#"><br>Mack Brown</td>
							<td><img class="profile" src="#"><br>OL Charlie Heck</td>
							<td><img class="profile" src="#"><br>S Myles Dorn</td>
						</tr>
						<tr>
							<td>1:45 - 2:15 p.m</td>
							<td><img src="/images/school_georgia_tech.png"></td>
							<td><img class="profile" src="#"><br>Geoff Collins</td>
							<td><img class="profile" src="#"><br>WR Jalen Camp</td>
							<td><img class="profile" src="#"><br>LB David Curry</td>
						</tr>
						<tr>
							<td>2:30 - 3 p.m.</td>
							<td><img src="/images/school_virginia.png"></td>
							<td><img class="profile" src="#"><br>Bronco Mendenhall</td>
							<td><img class="profile" src="#"><br>QB Bryce Perkins</td>
							<td><img class="profile" src="#"><br>CB Bryce Hall</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="small-12 medium-4 columns">
			<div id="section-watch">
				<h3 id="section-watch">Watch</h3>
				<table class="sidearm-table collapse-on-small" style="margin-bottom:30px;">
					<thead>
						<tr>
							<th>Time</th>
							<th>Network</th>
							<th>Watch Link</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Day 1 (Atlantic)</td>
							<td>ESPNU/WatchESPN</td>
							<td><a target="_blank" href="http://www.espn.com/watch?id=2ab8220f-eea3-48c4-b33c-48184fd141f9">Watch</a></td>
						</tr>
						<tr>
							<td>Day 2 (Coastal)</td>
							<td>ESPNU/WatchESPN</td>
							<td><a target="_blank" href="http://www.espn.com/watch?id=4e145f0f-5c2b-4ca3-99b5-7b14b733f4a1">Watch</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="section-social">
				<h3 id="social-feed">Social<a target="_blank" href="https://twitter.com/accfootball"><span class="icon-twitter"></span>@ACCFootball</a></h3>
				<div class="social-holder">
					<div class="social-feed">
						<div class="social-container">
							<a class="twitter-timeline" height="800" width="100%" data-tweet-limit="10" data-chrome="noheader nofooter" href="https://twitter.com/accfootball">Tweets by ACCFootball</a>
							<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="section-videos">
	<div class="row">
		<div class="small-12 columns">
			<h3>Videos</h3>
			<div id="playlist" class="feed"></div>
			<div id="load-more-videos" class="feed-load-more" data-offset="0">
				<span>Load More Videos</span>
			</div>
		</div>
	</div>
</section>