<script>
	var saPath = 'wbball',
      saView = 'simple',
      saDetail = 'short',
			saFormat = 'json',
			rsSport = 'Women\'s%20Basketball';
</script>
<style>
	.header-img {
		text-align: center;
		margin-bottom: 30px;
	}
	.header-img img {
		margin: 0 auto;
		width: 100%;
	}
	#section-promos {

	}
	#section-promos a {
		display: block;
		margin-bottom: 30px;
	}
	/*
	#section-events table thead tr th,
	#section-events table tbody tr td {
		text-align: center;
	}
	*/
	#section-events table tbody tr td:nth-child(1) {
		text-align: left;
	}
	#section-events table tbody tr td img {
		max-width: 30px;
		height: auto;
		margin: 0 14px 0 0;
	}
	@media (min-width: 768px) {
		#section-social .social-holder .social-feed .social-container {
			height: 365px;
		}
	}
</style>
<div class="header-img">
	<img src="/images/2019/9/30/2019-wbball-operation-basketball-banner.png" />
</div>

<section id="section-info">
	<div class="row">
		<div class="medium-12 large-8 columns">
			<div id="player-container">
				<div id="player-holder" style="position:relative;padding-bottom:56.25%;height:0;margin:0 auto;">
					<iframe id="player" style="position:absolute;top:0;left:0;width:100%;height:100%;border:0;" src="" scrolling="no" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
				</div>
				<div id="player-details">
					<div id="player-title"></div>
					<div id="player-date"></div>
				</div>
			</div>
		</div>
		<div class="medium-12 large-4 columns">
			<aside style="background:#f2f2f2;padding:8px 0 0 0;">
				<section>
					<div style="text-align:center;">
						<div style="display:flex;justify-content:center;align-items:center;width:300px;margin:20px auto 20px;height:250px;background:#999;margin-bottom:30px;">
							<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
							<script>
							    var googletag = googletag || {};
							    googletag.cmd = googletag.cmd || [];
							</script>
							<script>
							    googletag.cmd.push(function() {
							    googletag.defineSlot('/63316753/raycom-sports/theacc.com', [300, 250], 'div-gpt-ad-1510691386580-0').addService(googletag.pubads());
							    googletag.enableServices();
							  });
							</script>
							<div id='div-gpt-ad-1510691386580-0' style='height:250px; width:300px;'>
								<script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1510691386580-0'); });</script>
							</div>
						</div>
					</div>
					<h4>Featured Links</h4>
					<ul>
						<li><a href="/documents/2019/9/30/19_20_WBB_TalkingPoints.pdf">Message Points</a></li>
						<li><a href="/documents/2019/10/2/Team_Storylines.pdf">Storylines</a></li>
						<li><a href="/calendar.aspx?path=wbball">2019-20 Schedule</a></li>
					</ul>
				</section>
			</aside>
			<!--
			<a class="twitter-timeline" style="margin-bottom:40px;" height="800" width="100%" data-chrome="" href="https://twitter.com/accfootball">Tweets by accfootball</a>
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			-->
		</div>
	</div>
</section>

<section id="section-promos">
    <div class="row">
		<div class="small-12 medium-3 columns">
			<a href="/calendar.aspx?path=wbball">
				<img class="img-responsive" alt="Schedule" src="/images/2018/9/26/2018-tipoff-tile-schedule.png">
			</a>
		</div>
    <div class="small-12 medium-3 columns">
			<a href="/documents/2019/9/30/19_20_WBB_TalkingPoints.pdf">
				<img class="img-responsive" alt="Message Points" src="/images/2018/9/26/2018-tipoff-tile-message-points.png">
			</a>				
        </div>
        <div class="small-12 medium-3 columns">
			<a href="/documents/2019/10/2/Team_Storylines.pdf">
				<img class="img-responsive" alt="School Storylines" src="/images/2019/9/30/2019-wbball-operation-basketball-tile-storylines.png">
			</a>
        </div>
        <div class="small-12 medium-3 columns">
			<a target="_blank" href="https://twitter.com/accwbb">
				<img class="img-responsive" alt="Social" src="/images/2018/9/26/2018-tipoff-tile-social.png">
			</a>
    </div>
    </div>
</section>

<section>
	<div class="row">
		<div class="small-12 medium-8 columns">
			<div id="section-events">
				<h3>ATTENDEES</h3>
				<table class="sidearm-table collapse-on-small" style="margin-bottom:30px;">
					<thead>
						<tr>
							<th>School</th>
							<th>Coach</th>
							<th>Player</th>
							<th>Player</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><img src="/images/school_boston_college.png">Boston College</td>
							<td><a target="_blank" href="https://bceagles.com/coaches.aspx?rc=639&path=wbball">Joanna Bernabei-McNamee</a></td>
							<td><a target="_blank" href="https://bceagles.com/roster.aspx?rp_id=11258">Makayla Dickens</a></td>
							<td><a target="_blank" href="https://bceagles.com/roster.aspx?rp_id=11265">Taylor Soule</a></td>
						</tr>
						<tr>
							<td><img src="/images/school_clemson.png">Clemson</td>
							<td><a target="_blank" href="https://clemsontigers.com/sports/w-basketball/roster/season/2019/kobi-thornton/">Amanda Butler</a></td>
							<td><a target="_blank" href="https://clemsontigers.com/sports/w-basketball/roster/season/2019/kobi-thornton/">Kobi Thornton</a></td>
							<td>-</td>
						</tr>
						<tr>
							<td><img src="/images/school_duke.png">Duke</td>
							<td><a target="_black" href="https://goduke.com/coaches.aspx?rc=3598&path=wbball">Joanne P. McCallie</a></td>
							<td><a target="_blank" href="https://goduke.com/roster.aspx?rp_id=11762">Haley Gorecki</a></td>
							<td><a target="_blank" href="https://goduke.com/roster.aspx?rp_id=11763">Kyra Lambert</a></td>
						</tr>
						<tr>
							<td><img src="/images/school_florida_state.png">Florida State</td>
							<td><a target="_blank" href="https://seminoles.com/staff/sue-semrau/">Sue Semrau</a></td>
							<td><a target="_blank" href="https://seminoles.com/sports/w-basketball/roster/season/2019-20/kiah-gillespie/">Kiah Gillespie</a></td>
							<td><a target="_blank" href="#">-</a></td>
						</tr>
						<tr>
							<td><img src="/images/school_georgia_tech.png">Georgia Tech</td>
							<td><a target="_black" href="https://ramblinwreck.com/coach/nell-fortner/">Nell Fortner</a></td>
							<td><a target="_blank" href="https://ramblinwreck.com/sports/w-baskbl/roster/season/2019-20/kierra-fletcher/">Kierra Fletcher</a></td>
							<td><a target="_blank" href="https://ramblinwreck.com/sports/w-baskbl/roster/season/2019-20/francesca-pan/">Francesca Pan</a></td>
						</tr>
						<tr>
							<td><img src="/images/school_louisville.png">Louisville</td>
							<td><a target="_blank" href="https://gocards.com/coaches.aspx?rc=892&path=wbball">Jeff Walz</a></td>
							<td><a target="_blank" href="https://gocards.com/roster.aspx?rp_id=9955">Jazmine Jones</a></td>
							<td><a target="_blank" href="#">-</a></td>
						</tr>
						<tr>
							<td><img src="/images/school_miami.png">Miami</td>
							<td><a target="_blank" href="https://hurricanesports.com/coaches.aspx?rc=1725&path=wbball">Katie Meier</a></td>
							<td><a target="_blank" href="https://hurricanesports.com/roster.aspx?rp_id=12604">Mykea Gray</a></td>
							<td><a target="_blank" href="https://hurricanesports.com/roster.aspx?rp_id=12609">Beatrice Mompremier</a></td>
						</tr>
						<tr>
							<td><img src="/images/school_north_carolina.png">North Carolina</td>
							<td><a target="_blank" href="https://goheels.com/coaches.aspx?rc=3400&path=wbball">Courtney Banghart</a></td>
							<td><a target="_blank" href="https://goheels.com/roster.aspx?rp_id=16598">Taylor Koenen</a></td>
							<td>-</td>
						</tr>
						<tr>
							<td><img src="/images/school_nc_state.png">NC State</td>
							<td><a target="_blank" href="https://gopack.com/coaches.aspx?rc=3241&path=wbball">Wes Moore</a></td>
							<td><a target="_blank" href="https://gopack.com/roster.aspx?rp_id=8792">Aislinn Konig</a></td>
							<td><a target="_blank" href="https://gopack.com/roster.aspx?rp_id=7810">Kai Crutchfield</a></td>
						</tr>
						<tr>
							<td><img src="/images/school_notre_dame.png">Notre Dame</td>
							<td><a target="_blank" href="https://und.com/coach/muffet-mcgraw-2/">Muffet McGraw</a></td>
							<td><a target="_blank" href="https://und.com/sports/wbball/roster/season/2019-20/player/marta-sniezek/">Marta Sniezek</a></td>
							<td><a target="_blank" href="https://und.com/sports/wbball/roster/season/2019-20/player/mikayla-vaughn/">Mikayla Vaughn</a></td>
						</tr>
						<tr>
							<td><img src="/images/school_pittsburgh.png">Pitt</td>
							<td><a target="_blank" href="https://pittsburghpanthers.com/coaches.aspx?rc=1698&path=wbball">Lance White</a></td>
							<td><a target="_blank" href="https://pittsburghpanthers.com/roster.aspx?rp_id=10337">Aysia Bugg</a></td>
							<td><a target="_blank" href="https://pittsburghpanthers.com/roster.aspx?rp_id=10343">Dayshanette Harris</a></td>
						</tr>
						<tr>
							<td><img src="/images/school_syracuse.png">Syracuse</td>
							<td><a target="_blank" href="https://cuse.com/coaches.aspx?rc=3907&path=wbasket">Quentin Hillsman</a></td>
							<td><a target="_blank" href="https://cuse.com/roster.aspx?rp_id=17425">Gabby Cooper</a></td>
							<td><a target="_blank" href="https://cuse.com/roster.aspx?rp_id=17431">Kiara Lewis</a></td>
						</tr>
						<tr>
							<td><img src="/images/school_virginia.png">Virginia</td>
							<td><a target="_blank" href="https://virginiasports.com/coaches.aspx?rc=2650&path=wbball">Tina Thompson</a></td>
							<td><a target="_blank" href="https://virginiasports.com/roster.aspx?rp_id=6657">Dominique Toussaint</a></td>
							<td><a target="_blank" href="https://virginiasports.com/roster.aspx?rp_id=6658">Jocelyn Willoughby</a></td>
						</tr>
						<tr>
							<td><img src="/images/school_virginia_tech.png">Virginia Tech</td>
							<td><a target="_blank" href="https://hokiesports.com/coaches.aspx?rc=312&path=wbball">Kenny Brooks</a></td>
							<td><a target="_blank" href="https://hokiesports.com/roster.aspx?rp_id=9638">Dara Mabrey</a></td>
							<td><a target="_blank" href="#">-</a></td>
						</tr>
						<tr>
							<td><img src="/images/school_wake_forest.png">Wake Forest</td>
							<td><a target="_blank" href="https://godeacs.com/coaches.aspx?rc=512&path=wbball">Jen Hoover</a></td>
							<td><a target="_blank" href="https://godeacs.com/roster.aspx?rp_id=5096">Gina Conti</a></td>
							<td><a target="_blank" href="https://godeacs.com/roster.aspx?rp_id=5101">Alex Sharp</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="small-12 medium-4 columns">
			<div id="section-watch">
				<h3 id="section-watch">Watch</h3>
				<table class="sidearm-table collapse-on-small" style="margin-bottom:30px;">
					<thead>
						<tr>
							<th>Time</th>
							<th>Network</th>
						</tr>
					</thead>
					<tbody>
						<td class="row-header" colspan="3">
							<strong>Thursday, October 3rd</strong>
						</td>
						<tr>
							<td>7 am – 10 am</td>
							<td><a target="_blank" href="http://www.espn.com/watch?id=b97ffb46-79ac-472d-9bc8-fb39733ee30f">The Packer and Durham Show</a></td>
						</tr>
						<tr>
							<td>10 am – Noon</td>
							<td><a target="_blank" href="http://www.espn.com/watch?id=876487bf-8a4f-4e6c-87cc-fcea0c099c49">Tipoff</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="section-social">
				<h3 id="social-feed">Social<a target="_blank" href="https://twitter.com/accwbb"><span class="icon-twitter"></span>@ACCWBB</a></h3>
				<div class="social-holder">
					<div class="social-feed">
						<div class="social-container">
							<a class="twitter-timeline" height="800" width="100%" data-tweet-limit="10" data-chrome="noheader nofooter" href="https://twitter.com/accwbb">Tweets by ACCWBB</a>
							<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="section-videos">
	<div class="row">
		<div class="small-12 columns">
			<h3>Videos</h3>
			<div id="playlist" class="feed"></div>
			<div id="load-more-videos" class="feed-load-more" data-offset="0">
				<span>Load More Videos</span>
			</div>
		</div>
	</div>
</section>