<div style="background:#eee;padding:30px 20px;margin-bottom:40px;">
  <div class="row">
    <div class="small-12 large-6 columns">
      <!-- <h3>Presented By <img alt="New York Life Logo" src="/images/2019/2/26/new-york-life-logo.png" style="vertical-align: middle; height: 80px; display: inline-block; margin: 0px 5px;" /></h3> -->
      <p class="text-bold" style="font-size:120%">Think you can make it rain from the beyond the arc, with the clock ticking and the game on the line? Download and play ACC 3 Pt Challenge presented by New York Life for free on Apple and Android devices.</p>
      <p class="text-bold" style="font-size:120%">Choose your favorite ACC school and compete as their top marksman from behind the line. ACC 3 Pt Challenge lets you represent your favorite team and compete in three point competitions. Get buckets as you work your way around the perimeter. And be sure to hit the MONEY BALLS!</p>
      <div>
				<a style="text-decoration:none;margin:0px 0 30px;display:inline-block;float:left;" href="https://itunes.apple.com/us/app/acc-3-point-challenge/id1087207452?ls=1&amp;mt=8" target="_blank">
					<img alt="" src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/9/8/logo_apple_app_store.png" style="height: 40px;" />
				</a> 
				<a style="text-decoration:none;margin:0px 15px 30px;display:inline-block;float:left;" href="https://play.google.com/store/apps/details?id=com.recreativestudios.threeptchallenge" target="_blank">
					<img alt="" src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/9/8/logo_google_play.gif" style="height: 40px; margin: 0px 0px 30px 5px; display: inline-block;" />
				</a>
				<span style="text-decoration:none;margin:0px 15px 30px;display:inline-block;float:left;font-weight:bold;">Presented By <img style="vertical-align:middle;height:40px;margin-left:5px;" alt="New York Life Logo" src="/images/2020/2/4/logo_new_york_life.png" style="vertical-align: middle; height: 80px; display: inline-block; margin: 0px 5px;" /></span>
			</div>
    </div>
    <div class="small-12 large-6 columns" style="text-align:center">
			<img alt="3pt challenge icon" src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/9/8/three-point-challenge-icon.png" style="margin: 30px auto 0; max-height: 280px; display: inline-block;" />
		</div>
  </div>
</div>
<div class="row">
  <div class="x-small-12 columns">
    <h3>ACC Mobile App Features:</h3>
  </div>
  <div class="x-small-12 small-6 columns">
    <ul>
      <li>"Around the world" style three point shooting competition</li>
      <li>Choose Quick-Play or Tournament Mode</li>
      <li>Catch fire and stay hot for extra points</li>
    </ul>
  </div>
  <div class="x-small-12 small-6 columns">
    <ul>
      <li>Plays as your favorite ACC basketball team</li>
      <li>Climb school and conference leaderboards</li>
      <li>Claim bragging rights and share scores social media</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 columns" style="text-align:center"><img alt="homescreen" src="/images/2019/2/26/3PT-challenge-homescreen.png" style="margin: 0px auto 30px; display: inline-block;" /></div>
  <div class="small-12 medium-6 columns" style="text-align:center"><img alt="ball selection" src="/images/2019/2/26/3pt-challenge-ball-selection.png" style="margin: 0px auto 30px; display: inline-block;" /></div>
</div>
<div class="row">
  <div class="small-12 medium-6 columns" style="text-align:center"><img alt="catching fire" src="/images/2019/2/26/3PT-con-fire.png" style="margin: 0px auto 30px; display: inline-block;" /></div>
  <div class="small-12 medium-6 columns" style="text-align:center"><img alt="bracket" src="/images/2019/2/26/3PT-challenge-bracket.png" style="margin: 0px auto 30px; display: inline-block;" /></div>
</div>
<div class="row">
  <div class="small-12 medium-6 columns" style="text-align:center"><img alt="donation" src="/images/2019/2/26/3PT-challenge-donation-dash-leaderboard.png" style="margin: 0px auto 30px; display: inline-block;" /></div>
  <div class="small-12 medium-6 columns" style="text-align:center"><img alt="individual scoreboard" src="/images/2019/2/26/3PT-challenge-individual-scoreboard.png" style="margin: 0px auto 30px; display: inline-block;" /></div>
</div>