<script type="text/javascript">
	var content = {
		"videos" : {
			"limit" : "12",
			"customFields" : {
				"series_title" : "ACC Condensed Game"
			}
		}
	}
</script>

<div id="sportfile-1160">

	<section id="section-info" class="section">
	  <div class="row">
	    <div class="medium-12 large-8 columns">
				<div id="component-hero"></div>
	    </div>
	    <div class="medium-12 large-4 columns">
	      <aside class="sidebar">
					<div class="ad">
		        <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
						<script>
		          var googletag = googletag || {};
		            googletag.cmd = googletag.cmd || [];
		            googletag.cmd.push(function() {
		              googletag.defineSlot('/63316753/raycom-sports/theacc.com', [300, 250], 'div-gpt-ad-1510691386580-0').addService(googletag.pubads());
		              googletag.enableServices();
		            });
		        </script>
		        <div id="div-gpt-ad-1510691386580-0" style="height:250px; width:300px;">
		          <script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1510691386580-0'); });</script>
		        </div>
					</div>
	      </aside>
	    </div>
	  </div>
	</section>

	<section id="component-videos" class="section" data-toggle-sports="1" data-toggle-schools="1"></section>

</div>