<style type="text/css">
.sidearm-table {
	margin-bottom: 30px;
}
.sidearm-table thead tr th {
	font-weight: normal;
	padding: 4px 8px;
	font-style: italic;
	vertical-align: bottom;
	text-transform: uppercase;
	text-align: left;
	background: #013ca6;
	color: #fff !important;
}
.sidearm-table tbody tr td .sport-logo {
	display: inline-block;
	text-align: center;
	width: 50px;
	margin-right: 10px;
}
.sidearm-table tbody tr td .sport-logo img {
	vertical-align: middle;
	max-height: 26px;
	margin: 0 auto;
}
</style>
<!--
<img alt="" src="https://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/11/28/Schedule_Header_2018_BKB.JPG" style="width: 100%; height: auto; display: inline-block; margin-bottom: 40px;" />
-->
<p>Affiliates are generally announced 10 days prior to each contest.</p>

<table class="sidearm-table collapse-on-small">
	<thead>
		<tr>
			<th>Sport</th>
			<th>Day, Date</th>
			<th>Time</th>
			<th>Matchup</th>
			<th>Local Affiliates</th>
			<th>In Market Live Stream</th>
			<th>Out of Market Live Stream</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
        <div class="sport-logo">
          <img alt="Sport Logo" src="/images/2018/11/15/ACC_Basketball_Digital_WBG.png" />
        </div>
        Men's Basketball
      </td>
			<td>Fri 12/4</td>
			<td>7:00 pm</td>
			<td>Bellarmine at Duke</td>
			<td><a href="/sports/2020/11/28/MBB_RSN_BELL_DU_20.aspx">Affiliates</a></td>
			<td><a href="//www.foxsportsgo.com" target="_blank" title="In Market Live Stream">foxsportsgo.com</a></td>
			<td><a href="//www.espn.com/watch/" target="_blank" title="Out of Market Live Stream">espn.com/watch/</a></td>
    </tr>
		<tr>
			<td>
        <div class="sport-logo">
          <img alt="Sport Logo" src="/images/2018/9/21/logo_acc_football.png" />
        </div>
        Football
      </td>
			<td>Sat 12/5</td>
			<td>3:30 pm</td>
			<td>Boston College at Virginia</td>
			<td><a href="/sports/2020/11/30/FB_RSN_BC_UVA_20.aspx">Affiliates</a></td>
			<td><a href="//www.foxsportsgo.com" target="_blank" title="In Market Live Stream">foxsportsgo.com</a></td>
			<td><a href="//www.espn.com/watch/" target="_blank" title="Out of Market Live Stream">espn.com/watch/</a></td>
    </tr>
		<tr>
			<td>
        <div class="sport-logo">
          <img alt="Sport Logo" src="/images/2018/11/15/ACC_Basketball_Digital_WBG.png" />
        </div>
        Men's Basketball
      </td>
			<td>Sat 12/5</td>
			<td>7:00 pm</td>
			<td>Rider University at Syracuse</td>
			<td><a href="/sports/2020/12/4/MBB_RSN_RID_SYR_20.aspx">Affiliates</a></td>
			<td><a href="//www.foxsportsgo.com" target="_blank" title="In Market Live Stream">foxsportsgo.com</a></td>
			<td><a href="//www.espn.com/watch/" target="_blank" title="Out of Market Live Stream">espn.com/watch/</a></td>
    </tr>
		<tr>
			<td>
        <div class="sport-logo">
          <img alt="Sport Logo" src="/images/2018/11/15/ACC_Basketball_Digital_WBG.png" />
        </div>
        Women's Basketball
      </td>
			<td>Wed 12/9</td>
			<td>7:00 pm</td>
			<td>Louisville at Duke</td>
			<td><a href="/sports/2020/12/4/WBB_RSN_UL_DU_20.aspx">Affiliates</a></td>
			<td><a href="//www.foxsportsgo.com" target="_blank" title="In Market Live Stream">foxsportsgo.com</a></td>
			<td><a href="//www.espn.com/watch/" target="_blank" title="Out of Market Live Stream">espn.com/watch/</a></td>
    </tr>
		<tr>
			<td>
        <div class="sport-logo">
          <img alt="Sport Logo" src="/images/2018/9/21/logo_acc_football.png" />
        </div>
        Football
      </td>
			<td>Thur 12/10</td>
			<td>7:00 pm</td>
			<td>Pitt at Georgia Tech</td>
			<td><a href="/sports/2020/12/4/FB_RSN_PITT_GT_20.aspx">Affiliates</a></td>
			<td><a href="//www.foxsportsgo.com" target="_blank" title="In Market Live Stream">foxsportsgo.com</a></td>
			<td><a href="//www.espn.com/watch/" target="_blank" title="Out of Market Live Stream">espn.com/watch/</a></td>
    </tr>
		<tr>
			<td>
        <div class="sport-logo">
          <img alt="Sport Logo" src="/images/2018/11/15/ACC_Basketball_Digital_WBG.png" />
        </div>
        Men's Basketball
      </td>
			<td>Sat 12/12</td>
			<td>7:00 pm</td>
			<td>FAU at NC State</td>
			<td><a href="/sports/2020/12/4/MBB_RSN_FAU_NCSU_20.aspx">Affiliates</a></td>
			<td><a href="//www.foxsportsgo.com" target="_blank" title="In Market Live Stream">foxsportsgo.com</a></td>
			<td><a href="//www.espn.com/watch/" target="_blank" title="Out of Market Live Stream">espn.com/watch/</a></td>
    </tr>
		<tr>
			<td>
        <div class="sport-logo">
          <img alt="Sport Logo" src="/images/2018/11/15/ACC_Basketball_Digital_WBG.png" />
        </div>
        Women's Basketball
      </td>
			<td>Sun 12/13</td>
			<td>1:00 pm</td>
			<td>Virginia at Florida State</td>
			<td><a href="/sports/2020/12/4/WBB_RSN_UVA_FSU_20.aspx">Affiliates</a></td>
			<td><a href="//www.foxsportsgo.com" target="_blank" title="In Market Live Stream">foxsportsgo.com</a></td>
			<td><a href="//www.espn.com/watch/" target="_blank" title="Out of Market Live Stream">espn.com/watch/</a></td>
    </tr>
		<tr>
			<td>
        <div class="sport-logo">
          <img alt="Sport Logo" src="/images/2018/11/15/ACC_Basketball_Digital_WBG.png" />
        </div>
        Women's Basketball
      </td>
			<td>Sun 12/13</td>
			<td>3:00 pm</td>
			<td>Duke at Miami</td>
			<td><a href="/sports/2020/12/4/WBB_RSN_DU_UM_20.aspx">Affiliates</a></td>
			<td><a href="//www.foxsportsgo.com" target="_blank" title="In Market Live Stream">foxsportsgo.com</a></td>
			<td><a href="//www.espn.com/watch/" target="_blank" title="Out of Market Live Stream">espn.com/watch/</a></td>
    </tr>    
	</tbody>
</table>
<!-- sport logos path -->
<!--
football			        = /images/2018/9/21/logo_acc_football.png
basketball		        = /images/2018/11/15/ACC_Basketball_Digital_WBG.png
men's/women's soccer	= /images/2018/9/21/logo_acc_msoc.png
volleyball		        = /images/2018/10/3/volleyball_ball_solid.png
field hockey          = /images/2017/8/28/ACC_FHockey_Icon.png
-->
