<div class="hero">
  <div class="video-holder">
    <video class="video" autoplay muted loop>
      <source src="https://static.theacc.com/watch-podcast-legends-and-legacies.mp4" type="video/mp4">
    </video>
  </div>
  <div class="gradient-diagonal">
    <div class="gradient-bottom">
      <div class="hero-content row">
        <div class="hero-content-details x-small-12 medium-6 columns">
          <div class="hero-logo">
            <img alt="Legend and Legacies logo" src="/images/2020/11/4/podcast_logo_legend_and_legacies.jpg">
          </div>
          <p>"Legends and Legacies" dives into some of the most iconic, unique and interesting storylines in ACC sports history. Take a deeper look into these legendary tales and topics through first-hand stories from those that lived them.</p>
          <p>Episode 1: "The Spiller Effect" – Clemson now sits at the top of the College Football food chain, but the Tigers haven’t always been the ACC's apex predator. Back in 2005, they were just “little ole Clemson”… until a trip to Florida by then recruiting coordinator and wide receivers coach Dabo Swinney changed the trajectory of the Clemson program for decades to come.</p>
          <p>Guests: CJ Spiller, Dabo Swinney, Tommy Bowden, Tom Luginbill, Don Munson</p>
          <div class="podcast-share">
            <a target="_blank" class="apple" href="YOUR APPLE PODCASTS URL">Listen on Apple Podcasts</a>
            <a target="_blank" class="google" href="YOUR GOOGLE PODCASTS URL">Listen on Google Podcasts</a>
            <a target="_blank" class="spotify" href="YOUR SPOTIFY URL">Listen on Spotify</a>
            <a target="_blank" class="stitcher" href="YOUR STITCHER URL">Listen on Stitcher</a>
            <a target="_blank" class="tune-in" href="YOUR TUNEIN URL">Listen on TuneIn</a>
          </div>
        </div>
        <div class="hero-content-player x-small-12 medium-6 columns">
          <div class="hero-content-player-holder">
            <div id="buzzsprout-player-6226384"></div>
            <script src="https://www.buzzsprout.com/1465339/6226384-legends-legacies-promo.js?container_id=buzzsprout-player-6226384&player=small" type="text/javascript" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feed row">
  <div class="medium-4 columns feed-item">
    <img src="/images/2020/11/3/podcast-ep1.png" />
  </div>
  <div class="medium-4 columns feed-item">
    <img src="/images/2020/11/3/podcast-ep2.png" />
  </div>
  <div class="medium-4 columns feed-item">
    <img src="/images/2020/11/3/podcast-ep3.png" />
  </div>  
</div>

<style type="text/css">
  /* sidearm resets */
  html, body {
    height: 100%;
  }
  .iab-sticky-leaderboard {
    display: none !important;
  }
  html:not(.index) .main-content-placeholder .main-content-placeholder__inner {
    padding: 0;
  }
  .article-wrapper {
    background: #121212;
  }
  .article-headline,
  .article-image,
  .article-subheadline {
    display: none !important;
  }
  .article-wrapper .article-content {
    color: #fff !important;
    padding: 0 0 30px;
  }
  #main-content article .row,
  .article-wrapper .article-content .row {
    margin: 0;
    padding: 0;
  }
  .article-wrapper .article-content h1,
  .article-wrapper .article-content h2 {
    margin-top: 0;
  }
  .article-wrapper .article-content h1 {
    margin-bottom: 1.6rem;
  }
  .article-wrapper .article-content p {
    margin: 0 0 15px;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgb(0 0 0 / 60%);
  }

  /* common */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .responsive-embed {
    position: relative;
    padding-bottom: 56.25%;
  }
  .responsive-embed img:first-child,
  .responsive-embed iframe:first-child,
  .responsive-embed object:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* core */
	.header-img {
		text-align: center;
	}
	.header-img img {
		margin: 0 auto;
		width: 100%;
  }
  .hero {
    overflow: hidden;
    padding-top: 50px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url('/images/2020/11/9/podcast_bg_hero_1.png');
    background-position: 80% 0%;

    background-image: url('/images/2020/11/9/podcast_bg_hero_2.png');
    background-position: 0% 0%;

    background-image: url('/images/2020/11/9/podcast_bg_hero_3.png');
    background-position: 6% 0%;

    background-image: url('/images/2020/11/9/podcast_bg_hero_4.png');
    background-position: 50% 0%;

    background-image: url('/images/2020/11/10/podcast_bg_hero_5.png');
    background-position: 31% 0%;
  }
  .hero .video-holder {
    position: relative;
  }
  .hero .video-holder .video {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: auto;
    z-index: 0;
  }
  .hero .gradient-diagonal {
    background-image: linear-gradient(54deg,rgba(18,18,18,.8) 15%,transparent 60%);
  }
  .hero .gradient-bottom {
    background-image: linear-gradient(180deg,rgba(18,18,18,0) 40%,#121212);
  }
  .hero .hero-content .hero-content-details .hero-logo {
    margin-bottom: 1.6rem;
  }
  .hero .hero-content .hero-content-details p {
    font-size: 1.1rem;
  }
  .hero .hero-content .hero-content-details .podcast-share {
    margin-top: 1.6rem;
  }
  .hero .hero-content .hero-content-details .podcast-share a {
    margin-right: 10px;
    margin-bottom: 15px;
    display: inline-block;
    background-image: url(https://assets.buzzsprout.com/assets/public_players/listen_on-109d5ef29be389e41e77dd2c26ae2ab0a9cc72a6703624602ab41d9387a85924.svg);
    background-color: #000000; 
    background-repeat: no-repeat; 
    background-size: 1350px 28px; 
    border-radius: 5px; 
    text-indent: -9000px; 
    height: 40px;
  }
  .hero .hero-content .hero-content-details .podcast-share a:last-child {
    margin-right: 0;
  }
  .hero .hero-content .hero-content-details .podcast-share a.apple {
    background-position: 5px 7px;
    width: 81px;
  }
  .hero .hero-content .hero-content-details .podcast-share a.google {
    background-position: -472px 7px;
    width: 92px;
  }
  .hero .hero-content .hero-content-details .podcast-share a.spotify {
    background-position: -188px 7px;
    width: 90px;
  }
  .hero .hero-content .hero-content-details .podcast-share a.stitcher {
    background-position: -673px 7px;
    width: 99px;
  }
  .hero .hero-content .hero-content-details .podcast-share a.tune-in {
    background-position: -1262px 7px;
    width: 91px;
  }
  .hero .hero-content .hero-content-player .hero-content-player-holder {
    margin-top: 30px;
  }
  .feed {
    margin-top: 50px;
  }
  .feed .feed-item {
    margin-bottom: 30px;
  }
@media (min-width: 576px) {}
@media (min-width: 768px) {
  #main-content article .row,
  .article-wrapper .article-content .row {
    margin: 0 -12px;
    padding: 0 24px;
  }
  .hero {
    padding-top: 0;
    background-size: 100%;
    background-position: 100% 0%;
  }
  .hero .gradient-bottom {
    position: relative;
    height: 100vh;
  }
  .hero .hero-content {
    position: absolute;
    width: 100%;
    bottom: 30px;
    display: flex;
  }
  .hero .hero-content .hero-content-details .hero-logo {
    margin-bottom: 2.0rem;
  }
  .hero .hero-content .hero-content-player {
    position: relative;
  }
  .hero .hero-content .hero-content-player .hero-content-player-holder {
    bottom: 0px;
    position: absolute;
    width: 100%;
  }
  .hero .hero-content .hero-content-details .podcast-share a {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {}
@media (min-width: 1200px) {}
</style>
  