<script type="text/javascript">
	// digitalocean.com/community/tutorials/an-introduction-to-json
	// https://www.theweather.com/widget/
	var content = {
		"videos" : {
			"customFields" : {
				"sport" : "Football"
			}
		},
		"stories" : {
			"path" : "football"
		},
		"promos" : [
			{ 
				"target" : "_blank",
				"linkUrl" : "https://www.primesport.com/d/acc-championship-football-tickets?utm_source=theacc.com&utm_medium=referral&utm_campaign=college_football_acc_championship&utm_content=web_sellout_11152017",
				"imageAltText" : "Ticket Master", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_BuyTickets_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "http://promotions.theacc.com/suitelife/",
				"imageAltText" : "Suite Life", 
				"imageUrl" : "/images/2017/11/7/17-18-FBL_FCG_WebsiteGraphics_SuiteLife_410x210.jpg" 
			},
			{ 
				"target" : "_blank",
				"linkUrl" : "https://www.primesport.com/d/acc-championship-football-tickets?utm_source=acc&utm_medium=referral&utm_content=acc_web_football_sports_page_link&utm_campaign=college_football_packages",
				"imageAltText" : "PrimeSport", 
				"imageUrl" : "/images/2017/11/16/410x210_PrimeSport_ACCFanFest.png" 
			},
			{ 
				"target" : "_parent",
				"linkUrl" : "/sports/2013/10/18/_131481558982348592.aspx",
				"imageAltText" : "Fan Fest", 
				"imageUrl" : "/images/2017/11/16/479611025559976.Ux8H2p4WAnOBqp1GkFGM_height640.png" 
			}
		],
		"featuredLinks" : [
			{ 
				"target" : "_parent", 
				"title" : "Bracket", 
				"url" : "/documents/2019/12/11//2020_ACC_MBBT_Bracket.pdf" 
			},
			{ 
				"target" : "_parent", 
				"title" : "Tickets (coming soon)", 
				"url" : "#" 
			}
		],
		"social" : {
			"twitter" : "accfootball"
    },
    /*
		"championship" : {
			"id" : "74", //required
			"title" : "2020 ACC MEN'S BASKETBALL TOURNAMENT",
			"subtitles" : [ 
				"March 10-14 | Greensboro Coliseum | Greensboro, NC"
			],
			"headerImages" : {
				"mobile" : "/images/2018/1/12/17_18_MBB_MBBT_TourneyWebPageGraphics_MOBILEHEADER_NEW.png",
				"desktop" : "/images/2018/1/12/17_18_MBB_MBBT_TourneyWebPageGraphics_HEADER_NEW_4.png"
			},
			//"teaserUrl" : "//player.watchstadium.com/60/iframe.html?asset_id=164213&codec=&player_id=60&type=vod",
			"bracket" : {
				"url" : "/documents/2019/12/11/2020_ACC_MBBT_Bracket.pdf",
				//"paragraphs" : [
					//""
				//]
			},
			//"customHtml1Title" : "Bracket",
			"customHtml2Title" : "Watch",
			//"customHtml3Title" : "More",
			//"ticketsUrl" : "http://theacc.com/sports/2019/9/28/ACCFBALLCHAMPTIX.aspx"
    }
    */
	}
</script>

<style>
#component-custom-html-2 {
  padding-bottom: 0;
}
</style>

<!--
	Available components:
	- component-page-header
	- component-hero
	- component-promos
	- component-featured-links
	- component-videos
	- component-social-twitter
	- component-stories
	- component-weather
	- component-standings
	- component-custom-html-1
	- component-custom-html-2
	- component-custom-html-3
-->

<div id="sportfile-742" class="championship">

  <div id="component-promos" class="section"></div>

	<section id="section-info" class="section">
	  <div class="row">
	    <div class="small-12 x-large-8 columns">
				<div id="component-hero"></div>
	    </div>
	    <div class="small-12 x-large-4 columns">
	      <aside class="sidebar">
					<div class="ad">
	          <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
						<script>
	            var googletag = googletag || {};
		            googletag.cmd = googletag.cmd || [];
		            googletag.cmd.push(function() {
		              googletag.defineSlot('/63316753/raycom-sports/theacc.com', [300, 250], 'div-gpt-ad-1510691386580-0').addService(googletag.pubads());
		              googletag.enableServices();
		            });
	          </script>
	          <div id="div-gpt-ad-1510691386580-0" style="height:250px; width:300px;">
	            <script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1510691386580-0'); });</script>
	          </div>
					</div>
					<div id="component-featured-links"></div>
	      </aside>
	    </div>
	  </div>
  </section>

  <section id="component-stories" class="section"></section>

	<section class="section">
	  <div class="row">
	    <div class="small-12 large-7 x-large-8 columns">
        <div class="section-header">
          <h2 class="section-header-title">Attendees</h2>
        </div>
        <table class="sidearm-table collapse-on-small" style="margin-bottom:30px;">
          <thead>
            <tr>
              <th>School</th>
              <th>Coach</th>
              <th>Player</th>
              <th>Player</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img alt="" src="/images/school_boston_college.png" style="display: inline-block;" />Boston College</td>
              <td><a href="https://bceagles.com/coaches.aspx?rc=629&amp;path=mbball" target="_blank">Jim Christian</a></td>
              <td><a href="https://bceagles.com/roster.aspx?rp_id=11341" target="_blank">Derryck Thornton</a></td>
              <td><a href="https://bceagles.com/roster.aspx?rp_id=11246" target="_blank">Nik Popovic</a></td>
            </tr>
            <tr>
              <td><img alt="" src="/images/school_clemson.png" style="display: inline-block;" />Clemson</td>
              <td><a href="http://clemsontigers.com/coaches/brad-brownell/" target="_blank">Brad Brownell</a></td>
              <td><a href="https://clemsontigers.com/sports/mens-basketball/roster/season/2019/aamir-simms/" target="_blank">Aamir Simms</a></td>
              <td><a href="https://clemsontigers.com/sports/mens-basketball/roster/season/2019/john-newman-iii/" target="_blank">John Newman III</a></td>
            </tr>
            <tr>
              <td><img alt="" src="/images/school_duke.png" style="display: inline-block;" />Duke</td>
              <td><a href="https://goduke.com/coaches.aspx?rc=3607&amp;path=mbball" target="_blank">Mike Krzyzewski</a></td>
              <td><a href="https://goduke.com/roster.aspx?rp_id=11772" target="_blank">Javin DeLaurier</a></td>
              <td><a href="https://goduke.com/roster.aspx?rp_id=11781" target="_blank">Jack White</a></td>
            </tr>
            <tr>
              <td><img alt="" src="/images/school_florida_state.png" style="display: inline-block;" />Florida State</td>
              <td><a href="http://seminoles.com/staff/leonard-hamilton/" target="_blank">Leonard Hamilton</a></td>
              <td><a href="https://seminoles.com/sports/basketball/roster/season/2019-20/trent-forrest/" target="_blank">Trent Forrest</a></td>
              <td><a href="https://seminoles.com/sports/basketball/roster/season/2019-20/m-j-walker/" target="_blank">M.J. Walker</a></td>
            </tr>
            <tr>
              <td><img alt="" src="/images/school_georgia_tech.png" style="display: inline-block;" />Georgia Tech</td>
              <td><a href="https://ramblinwreck.com/coach/josh-pastner-2/" target="_blank">Josh Pastner</a></td>
              <td><a href="https://ramblinwreck.com/sports/m-baskbl/roster/season/2019-20/james-banks-iii/" target="_blank">James Banks III</a></td>
              <td><a href="https://ramblinwreck.com/sports/m-baskbl/roster/season/2019-20/michael-devoe/" target="_blank">Michael Devoe</a></td>
            </tr>
            <tr>
              <td><img alt="" src="/images/school_louisville.png" style="display: inline-block;" />Louisville</td>
              <td><a href="https://gocards.com/coaches.aspx?rc=852&amp;path=mbball" target="_blank">Chris Mack</a></td>
              <td><a href="https://gocards.com/roster.aspx?rp_id=9621" target="_blank">Jordan Nwora</a></td>
              <td><a href="https://gocards.com/roster.aspx?rp_id=9619" target="_blank">Steven Enoch</a></td>
            </tr>
            <tr>
              <td><img alt="" src="/images/school_miami.png" style="display: inline-block;" />Miami</td>
              <td><a href="https://hurricanesports.com/coaches.aspx?rc=1705&amp;path=mbball" target="_blank">Jim Larra&ntilde;aga</a></td>
              <td><a href="https://hurricanesports.com/roster.aspx?rp_id=12532" target="_blank">Chris Lykes</a></td>
              <td><a href="https://hurricanesports.com/roster.aspx?rp_id=12535" target="_blank">DJ Vasiljevic</a></td>
            </tr>
            <tr>
              <td><img alt="" src="/images/school_north_carolina.png" style="display: inline-block;" />North Carolina</td>
              <td><a href="https://goheels.com/coaches.aspx?rc=3412&amp;path=mbball" target="_blank">Roy Williams</a></td>
              <td><a href="https://goheels.com/roster.aspx?rp_id=16626" target="_blank">Brandon Robinson</a></td>
              <td><a href="https://goheels.com/roster.aspx?rp_id=16619" target="_blank">Garrison Brooks</a></td>
            </tr>
            <tr>
              <td><img alt="" src="/images/school_nc_state.png" style="display: inline-block;" />NC State</td>
              <td><a href="https://gopack.com/coaches.aspx?rc=3330&amp;path=mbball" target="_blank">Kevin Keatts</a></td>
              <td><a href="https://gopack.com/roster.aspx?rp_id=8939" target="_blank">CJ Bryce</a></td>
              <td><a href="https://gopack.com/roster.aspx?rp_id=8938" target="_blank">Markell Johnson</a></td>
            </tr>
            <tr>
              <td><img alt="" src="/images/school_notre_dame.png" style="display: inline-block;" />Notre Dame</td>
              <td><a href="https://und.com/coach/mike-brey-2/" target="_blank">Mike Brey</a></td>
              <td><a href="https://und.com/sports/mbball/roster/season/2019-20/player/john-mooney/" target="_blank">John Mooney</a></td>
              <td><a href="https://und.com/sports/mbball/roster/season/2019-20/player/juwan-durham/" target="_blank">Juwan Durham</a></td>
            </tr>
            <tr>
              <td><img alt="" src="/images/school_pittsburgh.png" style="display: inline-block;" />Pitt</td>
              <td><a href="https://pittsburghpanthers.com/staff.aspx?staff=2489" target="_blank">Jeff Capel</a></td>
              <td><a href="https://pittsburghpanthers.com/roster.aspx?rp_id=10385" target="_blank">Xavier Johnson</a></td>
              <td><a href="https://pittsburghpanthers.com/roster.aspx?rp_id=10387" target="_blank">Trey McGowens</a></td>
            </tr>
            <tr>
              <td><img alt="" src="/images/school_syracuse.png" style="display: inline-block;" />Syracuse</td>
              <td><a href="https://cuse.com/coaches.aspx?rc=3943&amp;path=mbasket" target="_blank">Jim Boeheim</a></td>
              <td><a href="https://cuse.com/roster.aspx?rp_id=17538" target="_blank">Elijah Hughes</a></td>
              <td><a href="https://cuse.com/roster.aspx?rp_id=17537" target="_blank">Marek Dolezaj</a></td>
            </tr>
            <tr>
              <td><img alt="" src="/images/school_virginia.png" style="display: inline-block;" />Virginia</td>
              <td><a href="https://virginiasports.com/coaches.aspx?rc=2663&amp;path=mbball" target="_blank">Tony Bennett</a></td>
              <td><a href="https://virginiasports.com/roster.aspx?rp_id=6751" target="_blank">Braxton Key</a></td>
              <td><a href="https://virginiasports.com/roster.aspx?rp_id=6748" target="_blank">Mamadi Diakite</a></td>
            </tr>
            <tr>
              <td><img alt="" src="/images/school_virginia_tech.png" style="display: inline-block;" />Virginia Tech</td>
              <td><a href="https://hokiesports.com/coaches.aspx?rc=1346&amp;path=mbball" target="_blank">Mike Young</a></td>
              <td><a href="https://hokiesports.com/roster.aspx?rp_id=9893" target="_blank">Wabissa Bede</a></td>
              <td><a href="https://hokiesports.com/roster.aspx?rp_id=9894" target="_blank">PJ Horne</a></td>
            </tr>
            <tr>
              <td><img alt="" src="/images/school_wake_forest.png" style="display: inline-block;" />Wake Forest</td>
              <td><a href="https://godeacs.com/coaches.aspx?rc=526&amp;path=mbball" target="_blank">Danny Manning</a></td>
              <td><a href="https://godeacs.com/roster.aspx?rp_id=5110" target="_blank">Brandon Childress</a></td>
              <td><a href="https://godeacs.com/roster.aspx?rp_id=5116" target="_blank">Andrien White</a></td>
            </tr>
          </tbody>
        </table>
			</div>
	    <div class="small-12 large-5 x-large-4 columns">
				<!-- <div id="section-custom-html-3"></div> -->
				<div id="component-social-twitter" class="section"></div>
				<!-- <div id="component-weather" class="section"></div> -->
	    </div>
	  </div>
  </section>

  <section id="component-videos" class="section"></section>

</div>