<style>
	.sidearm-table {
		margin-bottom: 30px;
	}
	.sidearm-table thead tr th {
    font-weight: normal;
    padding: 4px 8px;
    font-style: italic;
    vertical-align: bottom;
    text-transform: uppercase;
    text-align: left;
    background: #013ca6;
    color: #fff !important;
	}
</style>
<img alt="" src="/images/2018/12/21/2019_ACC_BB_Schedule_Header.png" style="width: 100%; height: auto; display: inline-block; margin-bottom: 40px;" />
<table class="sidearm-table collapse-on-small" style="margin-bottom:30px;">
	<thead>
		<tr>
			<th>Day, Date</th>
			<th>Time</th>
			<th>Matchup</th>
			<th>Local Affiliates</th>
			<th>Live Streaming</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Tue 3/12</td>
			<td>12:00 PM</td>
			<td>#13 Wake Forest: 71 vs. <strong>#12 Miami: 79</strong></td>
			<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/2/20/MBB_ACCT-3-12-2019-G1.aspx">Affiliates</a></td>
			<td><a title="Live Streaming" href="http://www.theacc.com/watch/?id=161560">theACC.com</a></td>
		</tr>
		<tr>
			<td>Tue 3/12</td>
			<td>2:00 PM</td>
			<td><strong>#15 Notre Dame: 78</strong> vs. #10 Georgia Tech: 71</td>
			<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/2/20/MBB_ACCT-3-12-2019-G2.aspx">Affiliates</a></td>
			<td><a title="Live Streaming" href="http://www.theacc.com/watch/?id=161561">theACC.com</a></td>
		</tr>
		<tr>
			<td>Tue 3/12</td>
			<td>7:00 PM</td>
			<td><strong>#14 Pitt: 80</strong> vs. #11 Boston College: 70</td>
			<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/2/20/MBB_ACCT-3-12-2019-G3.aspx">Affiliates</a></td>
			<td><a title="Live Streaming" href="http://www.theacc.com/watch/?id=161562">theACC.com</a></td>
		</tr>
		<tr>
			<td>Wed 3/13</td>
			<td>12:00 PM</td>
			<td>#9 Clemson: 58 vs. <strong>#8 NC State: 59</strong></td>
			<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/2/20/MBB_ACCT-3-13-2019-G1.aspx">Affiliates</a></td>
			<td><a title="Live Streaming" href="http://www.theacc.com/watch/?id=161563">theACC.com</a></td>
		</tr>
		<tr>
			<td>Wed 3/13</td>
			<td>2:00 PM</td>
			<td>#12 Miami: 56 vs. <strong>#5 Virginia Tech: 71</strong></td>
			<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/2/20/MBB_ACCT-3-13-2019-G2.aspx">Affiliates</a></td>
			<td><a title="Live Streaming" href="http://www.theacc.com/watch/?id=161564">theACC.com</a></td>
		</tr>
		<tr>
			<td>Wed 3/13</td>
			<td>7:00 PM</td>
			<td>#15 Notre Dame: 53 vs. <strong>#7 Louisville: 75</strong></td>
			<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/2/20/MBB_ACCT-3-13-2019-G3.aspx">Affiliates</a></td>
			<td><a title="Live Streaming" href="http://www.theacc.com/watch/?id=161566">theACC.com</a></td>
		</tr>
		<tr>
			<td>Wed 3/13</td>
			<td>9:00 PM</td>
			<td>#14 Pitt: 59 vs. <strong>#6 Syracuse: 73</strong></td>
			<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/2/20/MBB_ACCT-3-13-2019-G4.aspx">Affiliates</a></td>
			<td><a title="Live Streaming" href="http://www.theacc.com/watch/?id=161569">theACC.com</a></td>
		</tr>
		<tr>
			<td>Thu 3/14</td>
			<td>12:30 PM</td>
			<td>#8 NC State: 56 vs. <strong>#1 Virginia: 76</strong></td>
			<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/2/20/MBB_ACCT-3-14-2019-QF1.aspx">Affiliates</a></td>
			<td><a title="Live Streaming" href="http://www.theacc.com/watch/?id=161570">theACC.com</a></td>
		</tr>
		<tr>
			<td>Thu 3/14</td>
			<td>2:30 PM</td>
			<td>#5 Virginia Tech: 63 vs. <strong>#4 Florida State: 65</strong> (OT)</td>
			<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/2/20/MBB_ACCT-3-14-2019-QF2.aspx">Affiliates</a></td>
			<td><a title="Live Streaming" href="http://www.theacc.com/watch/?id=161572">theACC.com</a></td>
		</tr>
		<tr>
			<td>Thu 3/14</td>
			<td>7:00 PM</td>
			<td>#7 Louisville: 70 vs. <strong>#2 North Carolina: 83</strong></td>
			<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/2/20/MBB_ACCT-3-14-2019-QF3.aspx">Affiliates</a></td>
			<td><a title="Live Streaming" href="http://www.theacc.com/watch/?id=161573">theACC.com</a></td>
		</tr>
		<tr>
			<td>Thu 3/14</td>
			<td>9:00 PM</td>
			<td>#6 Syracuse: 72 vs. <strong>#3 Duke: 84</strong></td>
			<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/2/20/MBB_ACCT-3-14-2019-QF4.aspx">Affiliates</a></td>
			<td><a title="Live Streaming" href="http://www.theacc.com/watch/?id=161574">theACC.com</a></td>
		</tr>
		<tr>
			<td>Fri 3/15</td>
			<td>7:00 PM</td>
			<td><strong>#4 Florida State: 69</strong> vs. #1 Virginia: 59</td>
			<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/3/7/MBB_RSN-ACCT-G12.aspx">Affiliates</a></td>
			<td><a title="Live Streaming" href="http://www.theacc.com/watch/?id=161579">theACC.com</a></td>
		</tr>
		<tr>
			<td>Fri 3/15</td>
			<td>9:00 PM</td>
			<td><strong>#3 Duke: 74</strong> vs. #2 North Carolina: 73</td>
			<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/2/20/MBB_ACCT-3-15-2019-SF2.aspx">Affiliates</a></td>
			<td><a title="Live Streaming" href="http://www.theacc.com/watch/?id=161580">theACC.com</a></td>
		</tr>
		<tr>
			<td>Sat 3/16</td>
			<td>8:30 PM</td>
			<td>Championship: #4 Florida State: 63 vs. <strong>#3 Duke: 73</strong></td>
			<td><a title="Local Affiliates" href="http://theacc.com/sports/2019/2/20/MBB_ACCT-3-16-2019-CHAMP.aspx">Affiliates</a></td>
			<td><a title="Live Streaming" href="http://www.theacc.com/watch/?id=161581">theACC.com</a></td>
		</tr>
	</tbody>
</table>