<script>
	var saPath = 'wrestling',
			saView = 'simple',
			saDetail = 'short',
			saFormat = 'json',
			qTags = '446';
</script>
<div class="row">
  <div class="small-12 columns">
		<h1>RAM POWER PLAYS</h1>
	</div>
</div>
<section id="section-info">
  <div class="row">
    <div class="medium-12 large-8 columns">
      <div id="player-container">
        <div id="player-holder" style="position:relative;padding-bottom:56.25%;height:0;margin:0 auto;"><iframe allowfullscreen="" frameborder="0" id="player" mozallowfullscreen="" scrolling="no" src="" style="position:absolute;top:0;left:0;width:100%;height:100%;border:0;" webkitallowfullscreen=""></iframe></div>
        <div id="player-details">
          <div id="player-title"></div>
          <div id="player-date"></div>
        </div>
      </div>
    </div>
    <div class="medium-12 large-4 columns">
    	<p>Each week, RAM and the ACC Digital Network will bring you the biggest plays, hits and moments from around the Atlantic Coast Conference. Check back each week...</p>
      <aside style="background:#f2f2f2;padding:1px 0 1px 0;">
        <section>
          <div style="text-align:center;">
            <div style="display:flex;justify-content:center;align-items:center;width:320px;margin:20px auto 20px;height:270px;background:#999;margin-bottom:30px;">
              <a target="_blank" href="https://www.ramtrucks.com/" style="text-decoration:none;display:inline-block;max-height:300px;max-width:100%;width:auto;height:auto;">
                <img alt="" src="http://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/2017/9/14/logo-ram-power-plays-2017.png" style="max-width:100%;max-height:270px;padding:10px 0;height:auto;width:auto;display:inline-block;" />
              </a>
            </div>
          </div>
        </section>
      </aside>
    </div>
  </div>
</section>
<section id="section-videos">
  <div class="row">
    <div class="small-12 columns">
      <h3>RAM POWER PLAYS Videos</h3>
      <div class="feed" id="playlist"></div>
      <div class="feed-load-more" data-offset="0" id="load-more-videos"><span>Load More Videos</span></div>
      <div id="no-more-videos"><span>No More Videos</span></div>
    </div>
  </div>
</section>