<div id="show-header">
  <div id="hero">
    <div class="clearfix" id="hero-inside">
      <div class="row">
        <div class="small-12 medium-6 columns">
          <div id="hero-details-holder">
            <div id="hero-details">
              <div id="hero-logo">
                <img alt="The Tournament That Wasn't Logo" src="/images/2020/6/19/logo_the_tourney_that_wasnt_96.png" style="display: inline-block;" />
              </div>
              <div id="hero-title"></div>
              <div id="hero-desc">
                <p>"The Tournament That Wasn't" is a four-part series that chronicles the 2020 ACC Men's Basketball Tournament.</p>
                <p>The series gives viewers an all-access look at the unprecedented tournament that was canceled after two days due to the COVID-19 pandemic. The series features accounts from nearly two dozen individuals who were involved in the event, including ACC Commissioner John Swofford, the league's student-athletes, coaches and administrators, ESPN and ACC Network talent and long-time members of the media.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="small-12 medium-6 columns">
          <div id="hero-player-holder">
            <div class="responsive-embed">
              <iframe allow="encrypted-media" allowfullscreen="" frameborder="0" gesture="media" id="hero-player" scrolling="no" src=""></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feed row" id="features-feed"></div>
</div>

<script>
  // https://support.brightcove.com/brightcove-player-sample-background-video
  // https://support.brightcove.com/brightcove-player-sample-full-window-background-video

  const bcAccountId = '6050660109001';

  let scrollToOffset = $('.main-header__navigation').height() + $('.main-header__filter').height()
  let scrolled = false

  const bc = {
    token: function() {
      return $.getJSON('https://static.theacc.com/custompages/bc-token.aspx').then(function(data) {
        //return data.data.token;
        return data.access_token;
      });
    },
    video: function(id) {
      return this.token().then(function(token) {
        if(id !== undefined) {
          return $.getJSON('https://cms.api.brightcove.com/v1/accounts/'+bcAccountId+'/videos/'+id+'?access_token='+token).then(function(data) {
            return data;
          });
        } else {
          return $.getJSON('https://cms.api.brightcove.com/v1/accounts/'+bcAccountId+'/videos?access_token='+token+'&limit=1&sort=created_at&q=%2Bnetwork:ACCDN%20%2Bschool:Miami').then(function(data) {
            return data;
          });
        }
      });
    },
    videos : function(query) {
      return this.token().then(function(token) {
        return $.getJSON('https://cms.api.brightcove.com/v1/accounts/'+bcAccountId+'/videos?access_token='+token+query).then(function(data) {
          return data;
        });
      });
    }
  };
  
  var content = {
    'videos': {
      'ids': ['6166226288001','6166230833001','6166234289001','6166237258001'] 
    },
  }
  
  $(window).load(function () {
    equalHeight('#hero-inside .row .small-6');
  })


  videoFeed();

  function heroVideo (id) {
    bc.video(id).done(function(videoData) {
      $('#hero').css('background-image', 'url("' + videoData.images.poster.sources[0].src + '")');
      $("#hero-player-holder").css('display', 'block');
      $("#hero-player").attr("src", '//players.brightcove.net/6050660109001/LgU98Y522_default/index.html?&adConfigId=&autoplay=true&videoId='+videoData.id+'&player_id=60&type=vod');
      $('#hero-desc').html(videoData.description);
      if ( videoData.state == 'INACTIVE' ) {
        $('#hero').css('filter', 'grayscale(100%)');
        $('#hero-title').html('Coming Soon: ' + videoData.name);
      } else {
        $('#hero').css('filter', 'grayscale(0%)');
        $('#hero-title').html(videoData.name);
      }
    })
  }

  function getRandomArbitrary(min, max) {
    return Math.random() * (max - min) + min;
  }

  function videoFeed () {
    let query = {};

    addObjectElement(query, { "limit" : "22" } );
    addObjectElement(query, { "sort" : "schedule.starts_at" } );

    if(content.videos.customFields) {
      addObjectElement(query, { "customFields" : content.videos.customFields } );
    }

    if(content.videos.ids) {
      // console.log(content.videos.ids);
      addObjectElement(query, { "ids" : content.videos.ids } );
    }

    query = buildBCQuery(query);

    bc.videos(query).done(function(data) {
      const ranNum = Math.ceil(Math.random() * (data.length - 0) + 0);

      $('#hero').css('background-image', 'url("' + data[ranNum].images.poster.sources[0].src + '")');
      $("#hero-player").attr("src", '#');
      // $('#hero-desc').html('In its 67-year history, the ACC Tournament determines the official conference men’s basketball champion and the league’s automatic bid to the NCAA tournament. Given the high stakes, throughout its history the ACC Tournament has featured great performances, great drama, and great crowds. The Atlantic Coast Conference has long enjoyed the reputation as one of the strongest and most competitive intercollegiate conference tournaments in the nation. Here is a look back at the past 22 years of The Tournament.');

      let html = processVideoFeed(data);
      $('#features-feed').append(html);
      
      $('#features-feed').find('.feed-item').click(function(){
        let $videoId = $(this).attr('id');
        heroVideo($videoId)
        $('html,body').animate({
          scrollTop: $('#hero').offset().top - ( scrollToOffset + 10 )
        }, 250)
      });
      
    });
  }

  function processVideoFeed(data) {

    let html = '';
    
    $.each(data, function(index, content) {
      let date = ''
      if (!!content.schedule.starts_at) {
        date = 'Available On: ' + moment(content.schedule.starts_at).format('M/D h:mm a');
      } else {
        date = 'Coming Soon:'
      }
      
      if(Object.size(content.images) > 0) {
        imageSrc = content.images.poster.sources[0].src;
      } else {
        imageSrc = 'https://s3.amazonaws.com/sidearm.sites/acc.sidearmsports.com/images/responsive_2019/svg/logo_main.svg';
      }
      if (content.state == 'INACTIVE') {
        html += '<div id="'+content.id+'" class="feed-item" style="background-image: url('+imageSrc+');filter: grayscale(100%);"> \
            <div class="feed-content"> \
              <div class="feed-overlay"> \
                <div class="feed-title">'+date+'</div> \
                <div class="feed-title">'+content.name+'</div> \
              </div> \
            </div> \
          </div>';
      } else {
        html += '<div id="'+content.id+'" class="feed-item" style="background-image: url('+imageSrc+')"> \
            <div class="feed-content"> \
              <div class="feed-overlay"> \
                <div class="feed-icon"><span class="sf-play">&nbsp;</span></div> \
                <div class="feed-title">'+content.name+'</div> \
              </div> \
            </div> \
          </div>';
      } 
    }); //end foreach

    return html;
  }

  //function buildBCQuery({bcLimit, bcSort, bcOffset, bcCustomFields}={}) {
  function buildBCQuery(bcQuery) {
    let query = '';

    query = typeof bcQuery.limit != 'undefined' ? query + '&limit=' + bcQuery.limit : query + '&limit=6';
    query = typeof bcQuery.offset != 'undefined' ? query + '&offset=' + bcQuery.offset : query + '&offset=0';
    query = typeof bcQuery.sort != 'undefined' ? query + '&sort=' + bcQuery.sort : query + '&sort=-published_at';
    query = query + '&q=';

    for (let key in bcQuery.customFields) {
      if (bcQuery.customFields.hasOwnProperty(key)) {
        let customFieldLabel = key.toLowerCase();
        let arrSchool = '';

        customFieldLabel = customFieldLabel.replace(/ /g, '_');
        customFieldLabel = customFieldLabel + ':';

        if(key == 'schools' || key == 'school') {
          let schools = '';

          bcQuery.customFields.schools.forEach(function(content, index) {
            schools += content.replace(/ /g, '%20');
            if(index + 1 != bcQuery.customFields.schools.length) {
              schools += ',';
            }
          });
          query += '%2Bschool:' + schools + '%20';
          query += 'schools:' + schools + '%20';
          if(bcQuery.customFields.schools.find(function(value){ return value.search(/tech/i) > 0 }) == undefined) {
            query += '-school:Tech%20-school:tech%20';
            query += '-schools:Tech%20-schools:tech%20';
          } else {
            query += '%2Bschool:Tech%20';
          }
        } else {
          customFieldValue = '"' + bcQuery.customFields[key].replace(/ /g, '%20') + '"%20';
          if(key == 'sport') {
            if(bcQuery.customFields[key].search(/women's/i) != -1) {
              query += '-sport:"Men%27s"%20-sport:"Men%27s"%20';
            } else if(bcQuery.customFields[key].search(/men's/i) != -1) {
              query += '-sport:"Women%27s"%20-sport:"women%27s"%20';
            }
          } 
          query += '%2B' + customFieldLabel + customFieldValue;
        }
      }
    }

    bcQuery.ids.forEach((index) => { 
      query = query + 'id:' + index + '%20'
    });

    return query;
  }
  
  Object.size = function(obj) {
    var size = 0, key;
    for (key in obj) {
      if (obj.hasOwnProperty(key)) size++;
    }
    return size;
  };

  var isObject = function (obj) {
    return Object.prototype.toString.call(obj) === '[object Object]';
  };

  function addObjectElement (object, element) {
    let newObject = Object.assign(object, element);
    return newObject;
  }

  function equalHeight(container){
    let currentTallest = 0,
        currentRowStart = 0,
        rowDivs = new Array(),
        $el,
        topPosition = 0;

    $(container).each(function() {
      $el = $(this);
      $($el).height('auto')
      topPostion = $el.position().top;

      if (currentRowStart != topPostion) {
        for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
          rowDivs[currentDiv].height(currentTallest);
        }
        rowDivs.length = 0; // empty the array
        currentRowStart = topPostion;
        currentTallest = $el.height();
        rowDivs.push($el);
      } else {
        rowDivs.push($el);
        currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
      }
      for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
        rowDivs[currentDiv].height(currentTallest);
      }
    });
  };

</script>

<style type="text/css">.iab-sticky-leaderboard {
    display: none !important;
  }
  html:not(.index) .main-content-placeholder .main-content-placeholder__inner {
    padding: 0;
  }
  .article-headline,
  .article-image,
  .article-subheadline {
    display: none !important;
  }
  .sidearm-table th {
    background:#013ca6;
    color:#fff !important;
    font-weight:bold;
    padding:4px 8px;
    font-style:italic;
    vertical-align:bottom;
    text-transform:uppercase;
    text-align: left;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .responsive-embed {
    position: relative;
    padding-bottom: 56.25%;
  }
  .responsive-embed img:first-child,
  .responsive-embed iframe:first-child,
  .responsive-embed object:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #show-header {
    background-color: #222;
  }
  #show-content {
    padding: 30px 20px;
  }
  #hero {
    position: relative;
    width: 100%;
    filter: grayscale(30%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #hero-inside {
    position: relative;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,1.0) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.0) 0%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,1.0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.0) 0%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,1.0) 100%);
  }
  #hero-inside .row .columns {
    padding: 0;
  }
  #hero-player-holder {
    display: none;
    padding: 20px 20px 40px 20px;
  }
  #hero-details-holder {
    padding: 20px;
    height: 100%;
    display: table;
  }
  #hero-details {
    display: table-cell;
  }
  #hero-details div {
    width: 100%;
    text-align: left;
    color: #fff;
  }
  #hero-details #hero-logo {
    max-width: 400px;
    margin: 0 0 20px;
    background: rgba(255,255,255,0.4);
    padding: 8px 20px;
    border-radius: 2px;
  }
  #hero-details #hero-logo img {
    max-height: 140px;
    /*
    background: rgba(255,255,255,0.8);
    padding: 20px;
    border-radius: 3px;
    */
  }
  #hero-details #hero-title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 8px;
  }
  #features-feed {
    padding: 20px 15px;
  }
  #features-feed .feed-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #2e2e2e;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  #features-feed .feed-item:after {
    content: "";
    display: block;
    padding-bottom: 60%;
  } 
  #features-feed .feed-item .feed-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,1.0) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.0) 0%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,1.0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.0) 0%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,1.0) 100%);
  }
  #features-feed .feed-item .feed-content .feed-overlay {
    color: #fff;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
  }
  #features-feed .feed-item .feed-content .feed-overlay div {
    display: block;
    text-align: left;
  }
  #features-feed .feed-item .feed-content .feed-overlay .feed-icon {
    display: none;
    margin-bottom: 5px;
  }
  #features-feed .feed-item .feed-content .feed-overlay .feed-icon span {
    display: inline-block;
    border-radius: 100%;
    padding: 3px 0px 3px 6px;
    border: 1px solid #fff;
  }
  #features-feed .feed-item .feed-content .feed-overlay .feed-title {
    margin-top: 5px;
    line-height: 1;
  }
  #features-feed .feed-item:hover {
    cursor: pointer;
    transition: all 0.4s;
  }
  #features-feed .feed-item:hover .feed-content .feed-overlay .feed-icon {
    display: block;
  }

@media (min-width: 576px) {}
@media (min-width: 768px) {
  #hero-details-holder {
    padding: 60px;
    /*
    background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.2) 62%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.2) 62%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.2) 62%,rgba(0,0,0,0) 100%);
    */
  }
  #hero-details #hero-logo {
    font-size: 2.3rem;
  }
  #hero-details #hero-title {
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  #hero-player-holder {
    padding: 60px;
  }
  #features-feed {
    display: flex;
    flex-wrap: wrap;
  }
  #features-feed .feed-item {
    width: 267px;
    margin: 0 5px 20px;
  }
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
</style>
  